@inject ToastService? ToastService

@if (IsSmallSreeen)
{
    <div style="width: 100%;" class="mt-4">
        <p class="text-center">
            <AuthorizeView>
                <Authorized>
                    @if (IsThumbsUp)
                    {
                        <i class="fa fa-thumbs-up fa-fw article-operation-color-small-1" @onclick="@(()=>OnClick(5))"></i>
                        <span class="article-operation-color-small-1" @onclick="@(()=>OnClick(5))">已点赞&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; </span>
                    }
                    else
                    {
                        <i class="fa fa-thumbs-o-up fa-fw article-operation-color-small-1" @onclick="@(()=>OnClick(6))"></i>
                        <span class="article-operation-color-small-1" @onclick="@(()=>OnClick(6))">点赞&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; </span>
                    }
                    @if (IsFavorited)
                    {
                        <i class="fa fa-star fa-fw article-operation-color-small-1" @onclick="@(()=>OnClick(7))"></i>
                        <span class="article-operation-color-small-1" @onclick="@(()=>OnClick(7))">取消收藏&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; </span>
                    }
                    else
                    {
                        <i class="fa fa-star-o fa-fw article-operation-color-small-1" @onclick="@(()=>OnClick(8))"></i>
                        <span class="article-operation-color-small-1" @onclick="@(()=>OnClick(8))">收藏&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; </span>
                    }
                </Authorized>
            </AuthorizeView>
            @if (Authority)
            {
                <i class="fa fa-pencil fa-fw article-operation-color-small-3" @onclick="@(()=>OnClick(2))"></i>
                <span class="article-operation-color-small-3" @onclick="@(()=>OnClick(2))">编辑&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; </span>
            }
        <AuthorizeView Roles="Admin">
            @if (IsHidden)
            {
                <br />
                <i class="fa fa-map-signs fa-fw article-operation-color-small-4" @onclick="@(()=>OnClick(3))"></i>
                <span class="article-operation-color-small-4" @onclick="@(()=>OnClick(3))">取消隐藏&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; </span>
            }
            else
            {
                <br />
                <i class="fa fa-unlink fa-fw article-operation-color-small-4" @onclick="@(()=>OnClick(4))"></i>
                <span class="article-operation-color-small-4" @onclick="@(()=>OnClick(4))">隐藏&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; </span>
            }
        </AuthorizeView>
        </p>
     
    </div>
}
else
{
    if (IsNormalSreeen)
    {
        <div style="width: 100%;" class="mt-4">
            <div class="new-row-warp">
                <div style="margin-left: auto;margin-right: auto;">
                    <AuthorizeView>
                        <Authorized>
                            @if (IsThumbsUp)
                            {
                                <button class="article-operation article-operation-color-1" style="width:130px" @onclick="@(()=>OnClick(5))">
                                    <i class="fa fa-thumbs-up fa-fw"></i>&nbsp;已点赞
                                </button>
                            }
                            else
                            {
                                <button class="article-operation article-operation-color-1" @onclick="@(()=>OnClick(6))">
                                    <i class="fa fa-thumbs-o-up fa-fw"></i>&nbsp;点赞
                                </button>
                            }
                            @if (IsFavorited)
                            {
                                <button class="article-operation article-operation-color-1" style="width:130px" @onclick="@(()=>OnClick(7))">
                                    <i class="fa fa-star fa-fw"></i>&nbsp;取消收藏
                                </button>
                            }
                            else
                            {
                                <button class="article-operation article-operation-color-1" @onclick="@(()=>OnClick(8))">
                                    <i class="fa fa-star-o fa-fw"></i>&nbsp;收藏
                                </button>
                            }
                        </Authorized>
                    </AuthorizeView>

                    @if (Authority)
                    {

                        <button class="article-operation article-operation-color-3" @onclick="@(()=>OnClick(2))">
                            <i class="fa fa-pencil fa-fw"></i>&nbsp;编辑
                        </button>
                    }
                    <AuthorizeView Roles="Admin">
                        @if (IsHidden)
                        {
                            <button class="article-operation article-operation-color-4" style="width:130px" @onclick="@(()=>OnClick(3))">
                                <i class="fa fa-map-signs fa-fw"></i>&nbsp;取消隐藏
                            </button>
                        }
                        else
                        {
                            <button class="article-operation article-operation-color-4" @onclick="@(()=>OnClick(4))">
                                <i class="fa fa-unlink fa-fw"></i>&nbsp;隐藏
                            </button>
                        }
                    </AuthorizeView>

                </div>

            </div>
           
        </div>
    }
    else if (IsLargeSreeen)
    {
        <div class=" rounded shadow-sm -lg bg-opacity font-color">
            <ul class="list-group list-group-flush">
                <AuthorizeView>
                    <Authorized>
                        @if (IsThumbsUp)
                        {
                            <li class="list-group li-user-space" @onclick="@(()=>OnClick(5))">
                                <div class="li-user-space-left-div">
                                    <i class="fa fa-angle-double-right fa-fw fa-lg"></i>
                                </div>
                                <div class="li-user-space-right-div">
                                    <div class="li-user-space-text">&nbsp;&nbsp;&nbsp;已点赞</div>
                                    <i class="fa fa-thumbs-up fa-fw fa-lg li-user-space-icon"></i>

                                </div>
                            </li>
                            <div><hr style="margin: 0px;" /></div>
                        }
                        else
                        {
                            <li class="list-group li-user-space" @onclick="@(()=>OnClick(6))">
                                <div class="li-user-space-left-div">
                                    <i class="fa fa-angle-double-right fa-fw fa-lg"></i>
                                </div>
                                <div class="li-user-space-right-div">
                                    <div class="li-user-space-text">&nbsp;&nbsp;&nbsp;点赞</div>
                                    <i class="fa fa-thumbs-o-up fa-fw fa-lg li-user-space-icon"></i>

                                </div>
                            </li>
                            <div><hr style="margin: 0px;" /></div>
                        }
                        @if (IsFavorited)
                        {
                            <li class="list-group li-user-space" @onclick="@(()=>OnClick(7))">
                                <div class="li-user-space-left-div">
                                    <i class="fa fa-angle-double-right fa-fw fa-lg"></i>
                                </div>
                                <div class="li-user-space-right-div">
                                    <div class="li-user-space-text">&nbsp;&nbsp;&nbsp;取消收藏</div>
                                    <i class="fa fa-star fa-fw fa-lg li-user-space-icon"></i>

                                </div>
                            </li>
                            <div><hr style="margin: 0px;" /></div>
                        }
                        else
                        {
                            <li class="list-group li-user-space" @onclick="@(()=>OnClick(8))">
                                <div class="li-user-space-left-div">
                                    <i class="fa fa-angle-double-right fa-fw fa-lg"></i>
                                </div>
                                <div class="li-user-space-right-div">
                                    <div class="li-user-space-text">&nbsp;&nbsp;&nbsp;收藏</div>
                                    <i class="fa fa-star-o fa-fw fa-lg li-user-space-icon"></i>

                                </div>
                            </li>
                            <div><hr style="margin: 0px;" /></div>
                        }

                    </Authorized>
                </AuthorizeView>

                @if (Authority)
                {
                    <li class="list-group li-user-space" @onclick="@(()=>OnClick(2))">
                        <div class="li-user-space-left-div">
                            <i class="fa fa-angle-double-right fa-fw fa-lg"></i>
                        </div>
                        <div class="li-user-space-right-div">
                            <div class="li-user-space-text">&nbsp;&nbsp;&nbsp;编辑</div>
                            <i class="fa fa-pencil fa-fw fa-lg li-user-space-icon"></i>

                        </div>
                    </li>
                    <div><hr style="margin: 0px;" /></div>
                }
                <AuthorizeView Roles="Admin">
                    @if (IsHidden)
                    {
                        <li class="list-group li-user-space" @onclick="@(()=>OnClick(3))">
                            <div class="li-user-space-left-div">
                                <i class="fa fa-angle-double-right fa-fw fa-lg"></i>
                            </div>
                            <div class="li-user-space-right-div">
                                <div class="li-user-space-text">&nbsp;&nbsp;&nbsp;取消隐藏</div>
                                <i class="fa fa-map-signs fa-fw fa-lg li-user-space-icon"></i>

                            </div>
                        </li>
                        <div><hr style="margin: 0px;" /></div>
                    }
                    else
                    {
                        <li class="list-group li-user-space" @onclick="@(()=>OnClick(4))">
                            <div class="li-user-space-left-div">
                                <i class="fa fa-angle-double-right fa-fw fa-lg"></i>
                            </div>
                            <div class="li-user-space-right-div">
                                <div class="li-user-space-text">&nbsp;&nbsp;&nbsp;隐藏</div>
                                <i class="fa fa-unlink fa-fw fa-lg li-user-space-icon"></i>

                            </div>
                        </li>
                        <div><hr style="margin: 0px;" /></div>
                    }
                </AuthorizeView>
                <li class="list-group li-user-space"  @onclick="@(()=>OnClick(10))">
                    <div class="li-user-space-left-div">
                        <i class="fa fa-angle-double-right fa-fw fa-lg"></i>
                    </div>
                    <div class="li-user-space-right-div">
                        <div class="li-user-space-text">&nbsp;&nbsp;&nbsp;最后编辑：@LastEditTime.ToString("yyyy-MM-dd")</div>
                        <i class="fa fa-history fa-fw fa-lg li-user-space-icon" style="cursor: default"></i>

                    </div>
                </li>
            </ul>
        </div>
      

    }
}



@code {
    [Parameter]
    public EventCallback<int> OnArticleClick { get; set; }

    [Parameter]
    public bool IsEdit { get; set; } = false;

    [Parameter]
    public bool IsHidden { get; set; } = false;

    [Parameter]
    public bool Authority { get; set; } = false;

    [Parameter]
    public bool IsThumbsUp { get; set; } = false;

    [Parameter]
    public bool IsSmallSreeen { get; set; } = false;

    [Parameter]
    public bool IsNormalSreeen { get; set; } = false;

    [Parameter]
    public bool IsLargeSreeen { get; set; } = false;
    [Parameter]
    public bool IsFavorited { get; set; }

    [Parameter]
    public DateTime LastEditTime { get; set; }

    [Parameter]
    public EventCallback<NavigateModel> OnClickUrl { get; set; }


    [Parameter]
    public List<RelevancesViewModel> Relevances { get; set; } = new List<RelevancesViewModel>();


    public void OnClick(int index)
    {
        OnArticleClick.InvokeAsync(index);
    }
    public async void ViewAtOther(string url, string name)
    {
        if (string.IsNullOrWhiteSpace(url))
        {
            await ToastService.Error("该词条不存在", "你也可以亲自创建该词条");
            return;
        }
        await  OnClickUrl.InvokeAsync(new NavigateModel
        {
            Url = url,
            Title = name,
            Icon = "fa fa-link"
        });
    }
}
