@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IDataCacheService _dataCacheService

<MAppBar App Class="shadow-sm  bg-opacity">
    <div style=" word-break: keep-all;" class="ms-4 me-8">
        <CnGalWebSite.Shared.MasaComponent.Shared.Tips.LogoTip />
    </div>
    <MTabs>
        <MTab OnClick="@(()=>NavigationManager.NavigateTo("/"))">首页</MTab>
        <MTab OnClick="@(()=>NavigationManager.NavigateTo("/entries/home"))">词条</MTab>
        <MTab OnClick="@(()=>NavigationManager.NavigateTo("/cv"))">CV</MTab>
        <MTab OnClick="@(()=>NavigationManager.NavigateTo("/articles/home"))">文章</MTab>
        <MTab OnClick="@(()=>NavigationManager.NavigateTo("/square"))">广场</MTab>
    </MTabs>
    <MSpacer></MSpacer>

    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaButton Tooltip="搜索" Icon="mdi-magnify" Class="mr-6" OnClick="@(()=>NavigationManager.NavigateTo("/search"))" />
    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MiniModeContainer>
        <CnGalWebSite.Shared.MasaComponent.PC.Layout.LoginButton />

    </CnGalWebSite.Shared.MasaComponent.Shared.Components.MiniModeContainer>
</MAppBar>

<MMain>

    <CnGalWebSite.Shared.MasaComponent.Shared.Tips.ContentRootTip>
        <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaContainer>
            <ErrorHandler>
                @Body
            </ErrorHandler>

        </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaContainer>

    </CnGalWebSite.Shared.MasaComponent.Shared.Tips.ContentRootTip>


</MMain>

<MFooter App Padless Absolute Class="shadow-sm  bg-opacity">
    <CnGalWebSite.Shared.MasaComponent.Shared.Tips.MainFooterTip />
</MFooter>
<CnGalWebSite.Shared.MasaComponent.Shared.Tips.SynchronousAuthStateCard />

@code {

}
