@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IDataCacheService _dataCacheService

<style>
    .m-main {
        padding-bottom: 186px !important;
    }
</style>

<MAppBar App Class="shadow-sm  bg-opacity">
    <div style=" word-break: keep-all;" class="ms-4 me-8">
        <CnGalWebSite.Shared.MasaComponent.Shared.Tips.LogoTip />
    </div>
    <MTabs Color="@_dataCacheService.ThemeSetting.Theme">
        <MTab OnClick="@(()=>OnNavClick("/"))">首页</MTab>
        <MTab OnClick="@(()=>OnNavClick("/entries/home"))">词条</MTab>
        <MTab OnClick="@(()=>OnNavClick("/cv"))">CV</MTab>
        <MTab OnClick="@(()=>OnNavClick("/articles/home"))">文章</MTab>
        <MTab OnClick="@(()=>OnNavClick("/square"))">广场</MTab>
    </MTabs>
    <MSpacer></MSpacer>

    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaButton Tooltip="搜索" Icon="mdi-magnify" Class="mr-6" OnClick="@(()=>OnNavClick("/search"))" />
    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MiniModeContainer>
        <CnGalWebSite.Shared.MasaComponent.PC.Layout.LoginButton />

    </CnGalWebSite.Shared.MasaComponent.Shared.Components.MiniModeContainer>
</MAppBar>

<MMain>

    <CnGalWebSite.Shared.MasaComponent.Shared.Tips.ContentRootTip>
        <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaContainer>
            <ErrorHandler>
                @Body
            </ErrorHandler>
           
        </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaContainer>

    </CnGalWebSite.Shared.MasaComponent.Shared.Tips.ContentRootTip>


</MMain>

<MFooter App Padless Absolute Class="shadow-sm  bg-opacity" Height="186">
    <CnGalWebSite.Shared.MasaComponent.Shared.Tips.MainFooterTip />
</MFooter>

@code {
    public Task OnNavClick(string url)
    {
        NavigationManager.NavigateTo(url);
        return Task.CompletedTask;
    }


    protected override async Task OnInitializedAsync()
    {

    }
}
