@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IDataCacheService _dataCacheService
@inject IJSRuntime JS
@inject IPopupService PopupService

<MAppBar App Class="shadow-sm  bg-opacity">
    <div style=" word-break: keep-all;" class="ms-4 me-8">
        <CnGalWebSite.Shared.MasaComponent.Shared.Tips.LogoTip />
    </div>
    <MTabs>
        <MTab OnClick="@(()=>NavigationManager.NavigateTo("/"))">首页</MTab>
        <MTab OnClick="@(()=> Nav("/#evaluations-card"))">专题推荐</MTab>
        <MTab OnClick="@(()=>  Nav("/#recommends"))">随机推荐</MTab>
        <MTab OnClick="@(()=>NavigationManager.NavigateTo("/cv"))">CV</MTab>
        <MTab OnClick="@(()=>NavigationManager.NavigateTo("/square"))">广场</MTab>

        <MTab OnClick="@(()=>NavigationManager.NavigateTo("/8th"))">周年庆</MTab>

    </MTabs>
    <MSpacer></MSpacer>

    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaButton Tooltip="搜索" Icon="mdi-magnify" Class="mr-6" OnClick="@(()=>NavigationManager.NavigateTo("/search"))" />
    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MiniModeContainer>
        <CnGalWebSite.Shared.MasaComponent.PC.Layout.LoginButton />

    </CnGalWebSite.Shared.MasaComponent.Shared.Components.MiniModeContainer>
</MAppBar>

<MMain>
    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaContainer>
        <ErrorHandler>
            @Body
        </ErrorHandler>
    </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaContainer>
</MMain>

<MFooter App Padless Absolute Class="shadow-sm  bg-opacity">
    <CnGalWebSite.Shared.MasaComponent.Shared.Tips.MainFooterTip />
</MFooter>
<CnGalWebSite.Shared.MasaComponent.Shared.Tips.SynchronousAuthStateCard />

@code {


    public async Task Nav(string url)
    {
        var cur = NavigationManager.Uri.Replace(NavigationManager.BaseUri, "");
        if (string.IsNullOrWhiteSpace(cur) == false && cur.StartsWith('#') == false)
        {
            NavigationManager.NavigateTo("/");
            await Task.Delay(500);
        }
        await JS.InvokeAsync<string>("navigateTo", url);

        throw new Exception("测试");

    }
}
