@inject HttpClient Http
@inject ExamineService _examineService
@inject ToastService? ToastService
@inject IServiceProvider Provider
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@inject IDataCacheService _dataCatcheService

@inject DialogService DialogService

@if (string.IsNullOrWhiteSpace(Model.Name) == false)
{
    <TitleTip Title="@(Model.Name)" Description="@Model.BriefIntroduction" Image="@Model.MainPicture"></TitleTip>
}
else
{
    <TitleTip></TitleTip>
}
@if (_dataCatcheService.ThemeSetting.IsTransparent)
{
    @if (string.IsNullOrWhiteSpace(Model.SmallBackgroundPicture) == false)
    {
        <div id="web_bg" style="background-image: url(@Model.SmallBackgroundPicture)" class=" d-none  bg-d-lg-block bgimage-ison"></div>
    }
    @if (string.IsNullOrWhiteSpace(Model.BackgroundPicture) == false)
    {
        <div id="web_bg" style="background-image: url(@Model.BackgroundPicture)" class=" d-none d-sm-block bgimage-ison"></div>
    }

}



@if (isNotFound == true)
{
    int temp = 0;
    <NotFoundVote IsNeedLayput="true"></NotFoundVote>
}
else
{
    @if (isReady == false)
    {
        <div>
            <div class="  rounded shadow-sm  ps-4 pe-4 pt-3 pb-3 bg-opacity rounded">
                <SkeletonParagraph />
                <hr class="m-2" />
                <SkeletonParagraph />
                <div class="mt-2">
                </div>
                <SkeletonParagraph />
                <div class="mt-2">
                </div>
                <SkeletonParagraph />
                <div class="mt-2">
                </div>
                <SkeletonParagraph />
            </div>
        </div>
    }
    else
    {


        @if (Model.IsHidden == true)
        {
            <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaAlert Type="AlertTypes.Warning" Class="mb-3">
                当前投票处于隐藏状态，如果你看到了这个提示，请立即联系管理员
            </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaAlert>
        }

        <div class="rounded shadow-sm  bg-opacity mb-4 pb-3">
            <div>
                <CnGalWebSite.Shared.Component.Votes.MainPage.MainInforCard Model="Model" />

            </div>
            <AuthorizeView Roles="Admin">
                <Authorized>
                    <div class="ms-3 me-3 mt-3">
                        <CnGalWebSite.Shared.Component.Votes.MainPage.ExtraButtonCard Model="Model" StateChanged="HiddenStateChanged" />
                    </div>
                </Authorized>
            </AuthorizeView>
            <div class="ms-3 me-3 mt-3">
                <CnGalWebSite.Shared.Component.Votes.MainPage.OptionsInforCard Model="Model" IsShowResult="Model.ShowResult" />
            </div>
            @if (Model.ShowResult == false || Model.IsAllowModification)
            {
                <div class="ms-3 me-3 mt-3">
                    <CnGalWebSite.Shared.Component.Votes.MainPage.VoteButtonCard Model="Model" OnVoted="OnVoted" OnReVoted="OnReVoted" />
                </div>
            }
        </div>
        @if (Model.Users.Count != 0)
        {
            <CnGalWebSite.Shared.Component.Votes.MainPage.ListUserInforCard Model="Model" />
        }
        @if (Model.Entries.Count != 0 || Model.Artciles.Count != 0 || Model.Peripheries.Count != 0)
        {
            <CnGalWebSite.Shared.Component.Votes.MainPage.RelevanceInforCard Model="Model" />
        }


        <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Title="留言板" Icon="fa fa-fw fa-sticky-note-o" Outline>
            <CnGalWebSite.Shared.MasaComponent.PC.Comments.CommentTip CanComment="Model.CanComment" CanDeleted="IsAdmin" ObjectId="@Model.Id.ToString()" Type="CommentType.CommentVote" />
        </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>

    }
}

@code {
    private string id = "";
    [Parameter]
    public string Id
    {
        get { return id; }
        set
        {
            id = value;
            if (isFrist == false)
            {
                OnInitializedAsync();

            }
        }
    }
    public string MainPageHtml { get; set; }
    public int currentPage { get; set; } = 1;
    public string NoticeCard { get; set; } = "";
    public string CurrentUserRank { get; set; }
    bool isReady = false;
    bool isNotFound = false;

    public VoteViewModel Model { get; set; } = new VoteViewModel();

    public PagedResultDto<CommentViewModel> ListComments = new CnGalWebSite.DataModel.Application.Dtos.PagedResultDto<CommentViewModel> { Data = new List<CommentViewModel>(), CurrentPage = 1, TotalCount = 0 };
    public bool IsAdmin { get; set; } = false;
    string LastLookName = "";
    bool isFrist = true;
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        //记录数据
        if (LastLookName != Model.Name && string.IsNullOrWhiteSpace(Model.Name) == false)
        {
            LastLookName = Model.Name;
            try
            {
                await JS.InvokeAsync<string>("trackEvent", "投票", "浏览", Model.Name, "1", "look");
            }
            catch (Exception exc)
            {

            }
        }
        if (firstRender)
        {
            isFrist = false;
        }

    }
    protected override async Task OnInitializedAsync()
    {
        try
        {
            isReady = false;
            isNotFound = false;


            //获取周边信息
            Model = await _dataCatcheService.VoteIndexPageCatche.GetCatche(Id);
            //判断投票名称是否为空 为空则跳转到主页
            if (string.IsNullOrWhiteSpace(Model.Name))
            {
                NavigationManager.NavigateTo(Provider, "/votes/home", "主页", "fa fa-home");
            }

            isReady = true;
            StateHasChanged();
            var user = await authenticationStateTask;
            if (user.User.Identity.IsAuthenticated)
            {
                IsAdmin = user.User.IsInRole("Editor");
            }
            else
            {
                _dataCatcheService.VoteIndexPageCatche.Clean(Id);
            }
        }
        catch (Exception exc)
        {
            isReady = true;
            isNotFound = true;
            StateHasChanged();
        }

    }

    public async Task OnVoted()
    {
        Model = await _dataCatcheService.VoteIndexPageCatche.GetCatche(Id, false);
        StateHasChanged();
    }
    public async Task OnReVoted()
    {
        Model.ShowResult = false;
        StateHasChanged();
    }

    public Task HiddenStateChanged()
    {
        Model.IsHidden = !Model.IsHidden;
        StateHasChanged();
        return Task.CompletedTask;
    }

}
