@inject IDataCacheService _dataCatcheService

<a class="plain-text-card item" href="@($"entries/index/{Model.Id}")">
    <img src="@Model.MainPicture" alt="@Model.Name" />
    <div class="content">
        <div class="name text-truncate-1">@Model.Name</div>
        <div class="tags">
            @if (Model.Release!=null)
            {
                <CnGalWebSite.Shared.MasaComponent.PC.Entries.Releases.TimeChip Model="Model.Release" />
                <CnGalWebSite.Shared.MasaComponent.PC.Entries.Releases.EvaluationChip Model="Model.Release" />
            }
        </div>
        <div class="brief text-truncate-2">@Model.BriefIntroduction</div>
    </div>
</a>


@code {
    [Parameter]
    public PersonalRecommendModel Model { get; set; }
}
