@inject IHttpService _httpService

<CnGalWebSite.Shared.MasaComponent.Shared.Components.MiniModeContainer>
    @if (Model.SteamId > 0 && IsReady&&Model.IsHideOutlink==false)
    {
        <section id="steam">
            <h2>Steam信息</h2>
            <dl>
                @if (SteamInfor.PriceNow > 0)
                {
                    <div>
                        <dt>当前价格</dt>
                        <dd>
                            <span class="me-2">¥</span>
                            @if (SteamInfor.CutNow > 0)
                            {
                                <s class="me-2">@((SteamInfor.OriginalPrice/100.0).ToString(" 0.00"))</s>
                            }
                            <span> @((SteamInfor.PriceNow/100.0).ToString("0.00") + (SteamInfor.CutNow == 0 ? "" : " - 折扣 " + SteamInfor.CutNow + "%"))</span>
                        </dd>
                    </div>

                    @if (SteamInfor.CutLowest > 0)
                    {
                        <div>
                            <dt>历史最低</dt>
                            <dd>
                                @(SteamInfor.PriceLowestString + (SteamInfor.CutLowest == 0 ? "" : " - 折扣 " + SteamInfor.CutLowest + "%"))
                            </dd>
                        </div>
                    }
                }
                else if (SteamInfor.PriceNow == 0)
                {
                    <div>
                        <dt>当前价格</dt>
                        <dd>
                            ¥ 0.00 - Free
                        </dd>
                    </div>

                }
                else if (SteamInfor.PriceNow == -1)
                {
                    <div>
                        未发售
                    </div>

                }
                else if (SteamInfor.PriceNow == -2)
                {
                    @if (SteamInfor.OriginalPrice > 0)
                    {
                        <div>
                            <dt>价格</dt>
                            <dd>
                                <span>¥</span>

                                <span>  @((SteamInfor.OriginalPrice / 100.0).ToString(" 0.00") + "（数据未更新）")</span>
                            </dd>
                        </div>
                    }
                    else if (SteamInfor.OriginalPrice == 0)
                    {
                        <div>
                            <dt>价格</dt>
                            <dd>
                                ¥ 0.00 - Free（数据未更新）
                            </dd>
                        </div>
                    }
                    else
                    {
                        <div>
                           数据未更新
                        </div>
                    }
                }
                else if (SteamInfor.PriceNow == -3)
                {
                    <div>
                        已下架
                    </div>
                }
                @if (SteamInfor.PlayTime > 0)
                {
                    <div>
                        <dt>平均游玩时长</dt>
                        <dd>@($"{SteamInfor.PlayTime:0.0} 小时")</dd>
                    </div>
                }
                @if (SteamInfor.EstimationOwnersMax > 0)
                {
                    <div>
                        <dt>拥有人数（估计）</dt>
                        <dd>@($"{ (SteamInfor.EstimationOwnersMin == 0 ? $"< {SteamInfor.EstimationOwnersMax:#,#}" : $"> {SteamInfor.EstimationOwnersMin:#,#}")}")</dd>
                    </div>
                }
                @if (SteamInfor.EvaluationCount > 0)
                {
                    <div>
                        <dt>好评率</dt>
                        <dd>@($"{SteamInfor.RecommendationRate}%（{SteamInfor.EvaluationCount}条评测）")</dd>
                    </div>

                }
                <div>
                    <dt>商店页面</dt>
                    <dd>
                        <a href="@("https://store.steampowered.com/app/" + Model.SteamId)" target="_blank">
                            @("https://store.steampowered.com/app/" + Model.SteamId)
                        </a>
                    </dd>
                </div>
            </dl>
        </section>
    }

</CnGalWebSite.Shared.MasaComponent.Shared.Components.MiniModeContainer>

@code {
    public SteamInfor SteamInfor { get; set; } = new SteamInfor();

    [Parameter]
    public EntryIndexViewModel Model { get; set; }

    public bool IsReady = false;

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            if (Model.SteamId == 0 || Model.Id == 0)
            {
                return;
            }
            SteamInfor = await _httpService.GetAsync<SteamInfor>("api/steam/Getsteaminfor/" + Model.SteamId + "/" + Model.Id);
            IsReady = true;
            StateHasChanged();
        }
        catch (Exception exc)
        {
            IsReady = true;
            StateHasChanged();
        }

    }

}
