@inject ImagesLargeViewService ImagesLargeViewService
@inject IDataCacheService _dataCatcheService
@inject IEventService _eventService


<div class="image-slide-group-card">
    <MWindow @bind-Value="Index">
        @foreach (var item in Model)
        {
            <MWindowItem Value="@Model.IndexOf(item)">
                <MResponsive AspectRatio="16/9D">
                    <MCard Style=" display: contents; " OnClick="OnClickImage">
                        <div style="@($"background-image: url({item.Image});")" class="image-contain">

                        </div>
                    </MCard>
                </MResponsive>

            </MWindowItem>
        }
    </MWindow>
    <MSlideGroup @bind-Value="Index" ShowArrows="true" CenterActive>
        @foreach (var item in Model)
        {
            <MSlideItem>
                <MCard Class="mt-4 me-4 mb-2" Height="90" Width="160" OnClick="@(()=>{ if (!context.Active) context.Toggle.Invoke();})" RefBack="context.Ref">
                    <div style="@($"background-image: url({item.Image});")" class="@((context.Active?"active":"")+" image-overlays ")">

                    </div>
                </MCard>
            </MSlideItem>
        }
    </MSlideGroup>

</div>

@code {
    private StringNumber Index { get; set; } = 0;

    [Parameter]
    public List<EditImageAloneModel> Model { get; set; }


    public async void OnClickImage()
    {
        if (_dataCatcheService.IsApp)
        {
            await _eventService.OpenNewPage(Model[Index.ToInt32()].Image);
        }
        else
        {
            await ImagesLargeViewService.ViewLargeImages(new ImagesLargeViewModel
            {
                Index = Index.ToInt32(),
                Pictures = Model
            });
        }

    }
}
