@inject IDataCacheService _dataCatcheService

@if (_dataCatcheService.IsApp)
{
    <div class="shadow-sm rounded  bg-opacity h-100">
        @if (Model.Type == EntryType.Game || Model.Type == EntryType.ProductionGroup)
        {
            <div style="display: flex; align-items: center;">
                <a href="@("/entries/index/" + Model.Id)" class="a-font-color">
                    <img loading="lazy" style=" width: 160px; " src="@Model.MainImage" alt="@Model.Name">
                </a>
                <a href="@("/entries/index/" + Model.Id)" class="a-font-color ms-2 me-2 w-100">
                    <span class="text-truncate-1">
                        <span class="fw-bold" style=" display: inline;">@Model.Name</span>
                    </span>
                    <span class="text-truncate-2">
                        @Model.BriefIntroduction
                    </span>

                </a>
            </div>
        }
        else
        {
            <div style="display: flex; align-items: center;">

                <a href="@("/entries/index/" + Model.Id)" class="a-font-color p-2">
                    <img loading="lazy" src="@Model.MainImage" style="border-radius: 50%;width: 80px;" alt="@Model.Name" />
                </a>

                <div class="ms-2 me-2 w-100">
                    <div style=" display: flex; align-items: center;">
                        <a href="@("/entries/index/" + Model.Id)" class="a-font-color text-truncate-1">
                            <span class="fw-bold" style=" display: inline;">@Model.Name</span>
                        </a>
                        <CnGalWebSite.Shared.MasaComponent.Shared.Buttons.AudioButton Url="@Model.Audio.FirstOrDefault()?.Url" Class="ms-2" />
                    </div>



                    <a href="@("/entries/index/" + Model.Id)" class="@("a-font-color "+(Model.AddInfors != null && Model.AddInfors.Count > 0  && ShowAddInfors ? "text-truncate-1" : "text-truncate-2"))">
                        @Model.BriefIntroduction
                    </a>
                    @if (Model.AddInfors != null && Model.AddInfors.Count > 0 && ShowAddInfors)
                    {
                        <div class="d-flex row">

                            @foreach (var item in Model.AddInfors)
                            {
                                <div class="@(Model.AddInfors.Count==1? "col-12":"col-12 col-lg-6")">
                                    <div class="mt-1" style="display: flex;  flex-wrap: wrap; ">
                                        <CnGalWebSite.Shared.Component.Entries.NewVersion.OutlineButton IsTitile Text="@item.Modifier" />
                                        @foreach (var infor in item.Contents)
                                        {
                                            <CnGalWebSite.Shared.Component.Entries.NewVersion.OutlineButton Text="@infor.DisplayName" IsShowExistTag="@IsEdit" EntryId="infor.Id" />
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        }

    </div>



}
else
{

    <div class="shadow-sm rounded  bg-opacity ps-3 pe-3 pb-3 h-100">
        @if (Model.Type == EntryType.Game || Model.Type == EntryType.ProductionGroup)
        {
            <div style="@((BigCardStyle?"flex-direction: column;":"")+"display:flex;")">
                <a href="@("/entries/index/" + Model.Id)" class="a-font-color pt-3 pb-3">
                    <img loading="lazy" style="@(BigCardStyle?" width:100%;":" width: 250px;") " src="@Model.MainImage" alt="@Model.Name">
                </a>

                <div class="@(BigCardStyle?"pb-2":"pt-3 ps-3")" style=" width: 100%;">
                    <a href="@("/entries/index/" + Model.Id)" class="a-font-color text-truncate-1 mb-2" style="display: flex; align-items: center;">
                        @if (ShowType)
                        {
                            <div class="article-home-tag">@Model.Type.GetDisplayName()</div>
                        }

                        <h3 class="h5 mb-0 fw-bold" style=" display: inline;">@Model.Name</h3>
                    </a>

                    <a href="@("/entries/index/" + Model.Id)" class="@("a-font-color "+(Model.AddInfors != null && Model.AddInfors.Count > 0  && ShowAddInfors ? "text-truncate-2" : "text-truncate-4"))">

                        @Model.BriefIntroduction

                    </a>


                    @if (Model.AddInfors != null && Model.AddInfors.Count > 0 && ShowAddInfors)
                    {
                        <div class="d-none d-sm-flex row">

                            @foreach (var item in Model.AddInfors)
                            {
                                <div class="@(Model.AddInfors.Count == 1 ? "col-12" : "col-12 col-lg-6")">
                                    <div class="mt-1" style="display: flex;  flex-wrap: wrap; ">
                                        <CnGalWebSite.Shared.Component.Entries.NewVersion.OutlineButton IsTitile="true" Text="@item.Modifier" />
                                        @foreach (var infor in item.Contents)
                                        {
                                            <CnGalWebSite.Shared.Component.Entries.NewVersion.OutlineButton IsTitile="false" Text="@infor.DisplayName" IsShowExistTag="@IsEdit" EntryId="infor.Id" IsNotShowTip />
                                        }
                                    </div>
                                </div>
                            }
                        </div>

                    }
                </div>
            </div>


        }
        else
        {
            <div style="display:flex;">
                <a href="@("/entries/index/" + Model.Id)" class="a-font-color pt-3 p-0 ps-2">
                    <img src="@Model.MainImage" style="border-radius: 50%;width: 116px;" alt="@Model.Name" />
                </a>

                <div class="pt-3 ps-3" style=" width: 100%;">
                    <div style=" display: flex; align-items: center;" class="mb-2">
                        <a href="@("/entries/index/" + Model.Id)" class="a-font-color text-truncate-2" style="display: flex; align-items: center;">
                            @if (ShowType)
                            {
                                <div class="article-home-tag">@Model.Type.GetDisplayName()</div>
                            }

                            <h3 class="h5 fw-bold mb-0" style=" display: inline;">@Model.Name</h3>
                        </a>
                        <CnGalWebSite.Shared.MasaComponent.Shared.Buttons.AudioButton Url="@Model.Audio.FirstOrDefault()?.Url" Class="ms-2" />
                    </div>

                    <a href="@("/entries/index/" + Model.Id)" class="@("a-font-color "+(Model.AddInfors != null && Model.AddInfors.Count > 0  && ShowAddInfors ? "text-truncate-2" : "text-truncate-4"))">
                        @Model.BriefIntroduction
                    </a>

                    @if (Model.AddInfors != null && Model.AddInfors.Count > 0 && ShowAddInfors)
                    {



                        <div class="d-none d-sm-flex row">

                            @foreach (var item in Model.AddInfors)
                            {
                                <div class="@(Model.AddInfors.Count == 1 ? "col-12" : "col-12 col-lg-6")">
                                    <div class="mt-1" style="display: flex;  flex-wrap: wrap; ">
                                        <CnGalWebSite.Shared.Component.Entries.NewVersion.OutlineButton IsTitile="true" Text="@item.Modifier" />
                                        @foreach (var infor in item.Contents)
                                        {
                                            <CnGalWebSite.Shared.Component.Entries.NewVersion.OutlineButton IsTitile="false" Text="@infor.DisplayName" IsShowExistTag="@IsEdit" EntryId="infor.Id" IsNotShowTip />
                                        }
                                    </div>
                                </div>

                            }

                        </div>
                    }

                </div>
            </div>
        }
        @if (Model.Type == EntryType.Game)
        {
            <a href="@("/entries/index/" + Model.Id)" class="a-font-color">
                <span style="color: gray;" class="d-flex">

                    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaIcon Type="IconType.DeterminedTime" Color="grey" />
                    @if (Model.PublishTime == null)
                    {
                        <span class="me-4">未知</span>
                    }
                    else
                    {
                        @if (Model.PublishTime.Value > DateTime.Now.ToCstTime() && ForcedShowPublishTime == false)
                        {
                            <span class="me-4">未发售</span>
                        }
                        else
                        {
                            <span class="me-4">@((Model.Type== EntryType.Game?Model.PublishTime.Value: Model.LastEditTime).ToString("yyyy-MM-dd"))</span>

                        }
                    }


                    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaIcon Type="IconType.Comment" Color="grey" />
                    <span class="me-4">@(Model.CommentCount)条评论</span>

                    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaIcon Type="IconType.Read" Color="grey" />
                    <span class="me-4">@(Model.ReaderCount)次阅读</span>
                </span>

            </a>

        }

    </div>


}


@code {
    [Parameter]
    public EntryInforTipViewModel Model { get; set; }
    [Parameter]
    public bool IsEdit { get; set; }
    [Parameter]
    public bool ShowType { get; set; } = true;
    [Parameter]
    public bool ShowAddInfors { get; set; } = true;
    /// <summary>
    /// 强制大卡片样式
    /// </summary>
    [Parameter]
    public bool BigCardStyle { get; set; }
    [Parameter]
    public bool ForcedShowPublishTime { get; set; }
}
