@inject IDataCacheService _dataCatcheService

@if (_dataCatcheService.IsApp)
{
    <TabLink Icon="fa fa-codepen" Url="@("/peripheries/index/" + Model.Id)" Text="@Model.Name" class="a-font-color">
        <div class="div-shadow rounded  bg-opacity h-100">
            <div style="display: flex; align-items: center;">
                <div>
                    <img loading="lazy" style=" width: 160px; " src="@Model.MainImage" alt="@Model.Name">
                </div>
                <div class="me-2 ms-2">
                    <header class="text-truncate-1">
                        <span class="app-card-tag">周边</span>
                        <span class="fw-bold" style=" display: inline;">@Model.Name</span>
                    </header>
                    <span class="text-truncate-2">
                        @Model.BriefIntroduction
                    </span>
                </div>
            </div>
        </div>

    </TabLink>
}
else
{
<div class="shadow-sm rounded  bg-opacity ps-3 pe-3 pb-3 h-100">
    <div style="display:flex;">
        <a href="@("/peripheries/index/" + Model.Id)" class="a-font-color pt-3 pb-3">
            <img loading="lazy" style=" width: 250px; " src="@Model.MainImage" alt="@Model.Name">
        </a>

        <div class="pt-3 ps-3" style=" width: 100%;">
            <a href="@("/peripheries/index/" + Model.Id)" class="a-font-color text-truncate-1 mb-2"  style=" display: flex; align-items: center;">
                <div class="article-home-tag">周边</div>
                <h3 class="h5 mb-0 fw-bold" style=" display: inline;">@Model.Name</h3>
            </a>

            <a href="@("/peripheries/index/" + Model.Id)" class="@("a-font-color "+(Model.AddInfors != null && Model.AddInfors.Count > 0  ? "text-truncate-2" : "text-truncate-4"))">
                @Model.BriefIntroduction
            </a>


            @if (Model.AddInfors != null && Model.AddInfors.Count > 0)
            {
                <div class="d-none d-sm-flex row">
                    @foreach (var item in Model.AddInfors)
                    {
                        <div class="@(Model.AddInfors.Count == 1 ? "col-12" : "col-12 col-lg-6")">
                            <div class="mt-1" style="display: flex;  flex-wrap: wrap; ">
                                <CnGalWebSite.Shared.Component.Entries.NewVersion.OutlineButton IsTitile="true" Text="@item.Modifier" />
                                @foreach (var infor in item.Contents)
                                {
                                    <CnGalWebSite.Shared.Component.Entries.NewVersion.OutlineButton IsTitile="false" Text="@infor.DisplayName" IsShowExistTag="@IsEdit" EntryId="infor.Id" IsNotShowTip />
                                }
                            </div>
                        </div>
                    }
                </div>
            }
        </div>

    </div>
    <a href="@("/peripheries/index/" + Model.Id)" class="a-font-color">
        <span style="color: gray;" class="pb-3">
            <i class="fa fa-calendar fa-fw"></i>
            <span class="article-home-infor-text">@Model.LastEditTime.ToString("yyyy-MM-dd")&nbsp;&nbsp;&nbsp;</span>

            <i class="fa fa-commenting-o fa-fw"></i>
            <span class="article-home-infor-text">@(Model.CommentCount)条评论&nbsp;&nbsp;&nbsp;</span>

            <i class="fa fa-eye fa-fw"></i>
            <span class="article-home-infor-text">@(Model.ReaderCount)次阅读&nbsp;&nbsp;&nbsp;</span>
        </span>
    </a>
</div>
}


@code {
    [Parameter]
    public PeripheryInforTipViewModel Model { get; set; }
    [Parameter]
    public bool IsEdit { get; set; }
}
