@inject IDataCacheService _dataCatcheService

@if (_dataCatcheService.IsApp)
{
    <TabLink Icon="fa fa-codepen" Url="@("/peripheries/index/" + Model.Id)" Text="@Model.Name" class="a-font-color">
        <div class="div-shadow rounded  bg-opacity h-100">
            <div style="display: flex; align-items: center;">
                <div>
                    <img style=" width: 160px; " src="@Model.MainImage">
                </div>
                <div class="me-2 ms-2">
                    <header class="text-truncate-1">
                        <span class="app-card-tag">周边</span>
                        <span class="fw-bold" style=" display: inline;">@Model.Name</span>
                    </header>
                    <span class="text-truncate-2">
                        @Model.BriefIntroduction
                    </span>
                </div>
            </div>
        </div>

    </TabLink>
}
else
{
    <TabLink Icon="fa fa-codepen" Url="@("/peripheries/index/" + Model.Id)" Text="@Model.Name" class="a-font-color">
        <div class="div-shadow rounded  bg-opacity ps-3 pe-3 h-100">
            <div class=" mb-2" style="display:flex;">
                <div class="pt-3">
                    <img style=" width: 250px; " src="@Model.MainImage">
                </div>
                <div class="ps-3 pt-3">
                    <header class="text-truncate-2">
                        <div class="article-home-tag">周边</div>
                        <h5 class="fw-bold" style=" display: inline;">@Model.Name</h5>
                    </header>
                    <span class="text-truncate-3">
                        @Model.BriefIntroduction
                    </span>
                    @if (Model.AddInfors != null && Model.AddInfors.Count > 0 && string.IsNullOrWhiteSpace(ColorNum) == false)
                    {

                        <div class="d-none d-sm-flex row">

                            @foreach (var item in Model.AddInfors)
                            {
                                <div class="@(Model.AddInfors.Count==1? "col-12":"col-12 col-lg-6")">
                                    <div class="h4 mt-2" style="margin-bottom: 0.1rem; display: flex;  flex-wrap: wrap; ">
                                        <CnGalWebSite.Shared.Component.Entries.NewVersion.OutlineButton IsTitile="true" Text="@item.Modifier" ColorNum="@ColorNum" />
                                        @foreach (var infor in item.Contents)
                                        {
                                            <CnGalWebSite.Shared.Component.Entries.NewVersion.OutlineButton IsTitile="false" Text="@infor.DisplayName" ColorNum="@ColorNum" IsExist="@( infor.Id>0)" IsShowExistTag="@IsEdit"
                                                                                                            Url="@(infor.Id>0? "/entries/index/" + infor.Id:"")" Icon="fa fa-codepen" IsNotShowTip="@(infor.Id==-1)" />
                                        }
                                    </div>
                                </div>

                            }

                        </div>
                    }
                </div>
            </div>

            <p class="" style="color: gray;">
                <i class="fa fa-calendar fa-fw"></i>
                <span class="article-home-infor-text">@Model.LastEditTime.ToString("yyyy-MM-dd")&nbsp;&nbsp;&nbsp;</span>

                <i class="fa fa-commenting-o fa-fw"></i>
                <span class="article-home-infor-text">@(Model.CommentCount)条评论&nbsp;&nbsp;&nbsp;</span>

                <i class="fa fa-eye fa-fw"></i>
                <span class="article-home-infor-text">@(Model.ReaderCount)次阅读&nbsp;&nbsp;&nbsp;</span>
            </p>
            <div style="height: 1px;"></div>

        </div>

    </TabLink>
}


@code {
    [Parameter]
    public PeripheryInforTipViewModel Model { get; set; }
    [Parameter]
    public string ColorNum { get; set; }
    [Parameter]
    public bool IsEdit { get; set; }
}
