<CnGalWebSite.Shared.MasaComponent.Shared.Components.Magazine.MasaMagazineContext Class="almanac-article-style" Id="@($"almanac-article-{Model.Id}")" FullScreen>
    @if (string.IsNullOrWhiteSpace(Model.MainPicture) == false && Model.MainPicture.Contains("/default/app.png")==false)
    {
        <img src="@Model.MainPicture" class="image-card" loading="lazy" />
    }
    @ChildContent
    <div class="title-card">@Model.DisplayName</div>
    <div class="Author-card"><strong>作者：</strong> @(string.IsNullOrWhiteSpace(Model.OriginalAuthor) ? Model.UserInfor.Name : Model.OriginalAuthor)</div>
    <div class="markdown-body">
        @((MarkupString)Model.MainPage)
    </div>
</CnGalWebSite.Shared.MasaComponent.Shared.Components.Magazine.MasaMagazineContext>

@code {
    [Parameter]
    public ArticleViewModel Model { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }

}
