@inject NavigationManager NavigationManager
@inject IDataCacheService _dataCacheService

<MMenu OffsetY @bind-Value="menu">
    <ActivatorContent Context="m">
        <MTooltip Bottom>
            <ActivatorContent Context="c">
                @{
                    var attrs = new Dictionary<string, object>();
                    m.Attrs.ToList().ForEach(item => attrs[item.Key] = item.Value);
                    c.Attrs.ToList().ForEach(item => attrs[item.Key] = item.Value);
                }
                <MButton Icon  Class="@Class" @attributes="@attrs" Dark="@_dataCacheService.ThemeSetting.IsDark" Color="primary">
                    <MIcon>@IconType.Create.ToIconString()</MIcon>
                </MButton>
            </ActivatorContent>
            <ChildContent>
                <span>创建</span>
            </ChildContent>
        </MTooltip>
    </ActivatorContent>

    <ChildContent>
        <div class="bg-theme p-3" style="width:200px;">
            <div class="w-100">
                <MButton Text Block Color="primary" OnClick="@(()=>OnClick("/entries/establishentry"))">
                    <MIcon Left>@IconType.Entry.ToIconString()</MIcon>
                    创建词条
                </MButton>
                <MButton Text Block  Color="primary" OnClick="@(()=>OnClick("/articles/createarticle"))">
                    <MIcon Left>@IconType.Article.ToIconString()</MIcon>
                    发表文章
                </MButton>
                <MButton Text Block  Color="primary" OnClick="@(()=>OnClick("/videos/create"))">
                    <MIcon Left>@IconType.Video.ToIconString()</MIcon>
                    发布视频
                </MButton>
                <MButton Text Block  Color="primary" OnClick="@(()=>OnClick("/tags/createtag"))">
                    <MIcon Left>@IconType.Tag.ToIconString()</MIcon>
                    创建标签
                </MButton>
                <MButton Text Block  Color="primary" OnClick="@(()=>OnClick("/peripheries/createperiphery"))">
                    <MIcon Left>@IconType.Periphery.ToIconString()</MIcon>
                    创建周边
                </MButton>

                <AuthorizeView Roles="Admin">
                    <Authorized>
                        <MButton Text Block  Color="primary" OnClick="@(()=>OnClick("/lotteries/createlottery"))">
                            <MIcon Left>@IconType.Lottery.ToIconString()</MIcon>
                            创建抽奖
                        </MButton>
                        <MButton Text Block  Color="primary" OnClick="@(()=>OnClick("/votes/createvote"))">
                            <MIcon Left>@IconType.Vote.ToIconString()</MIcon>
                            发起投票
                        </MButton>
                    </Authorized>
                </AuthorizeView>


            </div>
        </div>
    </ChildContent>
</MMenu>
@code {

    [Parameter]
    public string Class { get; set; }

    private bool menu { get; set; }


    public void OnClick(string url)
    {
        NavigationManager.NavigateTo(url);
        
    }
}
