@inject NavigationManager NavigationManager
@inject IDataCacheService _dataCacheService

<div class="bg-opacity d-flex p-3" style="flex-direction: column; align-items: center; ">
    <div class="d-flex" style="align-items: center; flex-direction: column; ">
        <img src="@Model.PhotoPath" alt="@Model.Name" style="width:60px;border-radius:50%;" />
        <div style="display: flex; flex-direction: column; align-items: center; " class="mt-2">
            <span class="h6 fw-bold">@Model.Name</span>
            <span>
                <i class="fa fa-diamond fa-fw"></i>
                <span>积分：@Model.Integral</span>
                <i class="fa fa-magic fa-fw ms-3"></i>
                <span>Lv @ToolHelper.GetUserLevel(Model.Integral)</span>
            </span>
        </div>
    </div>
    <MDivider Class="w-100"></MDivider>
    <div class="w-100">
        <SignInButton Model="Model" />
        @if (ToolHelper.IsApp == false)
        {
            <AuthorizeView Roles="Admin">
                <Authorized>
                    <MButton Text Block Color="success" OnClick="OnClickAdmin">
                        <MIcon Left>mdi-shield-crown </MIcon>
                        管理员后台
                    </MButton>
                </Authorized>
            </AuthorizeView>

        }

        <MButton Text Block Color="@(_dataCacheService.ThemeSetting.Theme)" OnClick="OnClickUserSpace">
            <MIcon Left>mdi-star</MIcon>
            个人空间
        </MButton>
        @if (MessageCount > 0)
        {
            <MButton Text Block Color="warning" OnClick="OnClickMessage">
                <MIcon Left>mdi-comment-text-multiple</MIcon>
                @(MessageCount+"条新消息")
            </MButton>

        }
        else
        {
            <MButton Text Block Color="@(_dataCacheService.ThemeSetting.Theme)" OnClick="OnClickMessage">
                <MIcon Left>mdi-comment-text-multiple  </MIcon>
                消息通知
            </MButton>

        }
        <MButton Text Block Color="@(_dataCacheService.ThemeSetting.Theme)" StopPropagation OnClick="OnClickSetting">
            <MIcon Left>mdi-cog</MIcon>
            主题设置
        </MButton>
        <MButton Text Block Color="@(_dataCacheService.ThemeSetting.Theme)" OnClick="OnClickLogout">
            <MIcon Left>mdi-logout</MIcon>
            退出登入
        </MButton>

    </div>
</div>


@code {
    [Parameter]
    public UserInforViewModel Model { get; set; } = new UserInforViewModel();
    [Parameter]
    public EventCallback OnClosed { get; set; }
    [Parameter]
    public EventCallback OnClickSetting { get; set; }
    [Parameter]
    public long MessageCount { get; set; }
    [Parameter]
    public EventCallback< long> MessageCountChanged { get; set; }

    private async Task OnClickUserSpace()
    {
        NavigationManager.NavigateTo("/space/index/" + Model.Id);
        await OnClosed.InvokeAsync();
    }
    private async Task OnClickLogout()
    {
        NavigationManager.NavigateTo("/account/logout");
        await OnClosed.InvokeAsync();
    }
    private async Task OnClickMessage()
    {
        MessageCount = 0;
        MessageCountChanged.InvokeAsync(0);
        StateHasChanged();
        NavigationManager.NavigateTo("/space/messages");
        await OnClosed.InvokeAsync();
    }
    private async Task OnClickAdmin()
    {
        NavigationManager.NavigateTo("/admin/index");
        await OnClosed.InvokeAsync();
    }
}
