@inject NavigationManager NavigationManager
@inject IDataCacheService _dataCacheService

<div class="bg-theme d-flex p-3" style="flex-direction: column; align-items: center; ">
    <div class="d-flex" style="align-items: center; flex-direction: column; ">
        <img src="@Model.PhotoPath" alt="@Model.Name" style="width:60px;border-radius:50%;" />
        <div style="display: flex; flex-direction: column; align-items: center; " class="mt-2">
            <span class="h6 fw-bold mb-1">@Model.Name</span>
          <RanksViewCard Model="Model.Ranks" ForceDisplayBadge Center/>
            @*<span>
                <i class="fa fa-diamond fa-fw"></i>
                <span>积分：@Model.Integral</span>
                <i class="fa fa-magic fa-fw ms-3"></i>
                <span>Lv @ToolHelper.GetUserLevel(Model.Integral)</span>
            </span>*@
        </div>
    </div>
    <MDivider Class="w-100"></MDivider>
    <div class="w-100">
        <SignInButton Model="Model" />

        <AuthorizeView Roles="Admin">
            <Authorized>
                <MButton Text Block Color="success" OnClick="@(()=>OnNav("/admin/index"))">
                    <MIcon Left>mdi-car-traction-control</MIcon>
                    管理员后台
                </MButton>
            </Authorized>
        </AuthorizeView>

        <MButton Text Block   Color="primary" OnClick="@(()=>OnNav("/contentcenter"))">
            <MIcon Left>mdi-database-edit</MIcon>
            内容中心
        </MButton>

        <MButton Text Block   Color="primary" OnClick="@(()=>OnNav("/space/index/" + Model.Id))">
            <MIcon Left>mdi-star</MIcon>
            个人空间
        </MButton>
        <MButton Text Block   Color="primary" OnClick="@(()=>OnNav("/space/editdata"))">
            <MIcon Left>mdi-pencil</MIcon>
            编辑资料
        </MButton>
        @if (MessageCount > 0)
        {
            <MButton Text Block Color="warning" OnClick="OnClickMessage">
                <MIcon Left>mdi-comment-text-multiple</MIcon>
                @(MessageCount+"条新消息")
            </MButton>

        }
        else
        {
            <MButton Text Block   Color="primary" OnClick="OnClickMessage">
                <MIcon Left>mdi-comment-text-multiple  </MIcon>
                消息通知
            </MButton>

        }

    <MButton Text Block   Color="primary" StopPropagation OnClick="OnClickSetting">
        <MIcon Left>mdi-cog</MIcon>
        <span style="background: linear-gradient(to right,var(--main-color),var(--active-color)); -webkit-background-clip: text; color: transparent; ">主题设置</span>
    </MButton>


        <MButton Text Block  Color="primary" OnClick="@(()=>OnNav("/account/logout"))">
            <MIcon Left>mdi-logout</MIcon>
            退出登入
        </MButton>

    </div>
</div>


@code {
    [Parameter]
    public UserInforViewModel Model { get; set; } = new UserInforViewModel();
    [Parameter]
    public EventCallback OnClosed { get; set; }
    [Parameter]
    public EventCallback OnClickSetting { get; set; }
    [Parameter]
    public long MessageCount { get; set; }
    [Parameter]
    public EventCallback< long> MessageCountChanged { get; set; }

    private async Task OnNav(string url)
    {
        NavigationManager.NavigateTo(url);
        await OnClosed.InvokeAsync();
    }

    private async Task OnClickMessage()
    {
        MessageCount = 0;
        MessageCountChanged.InvokeAsync(0);
        StateHasChanged();
        NavigationManager.NavigateTo("/space/messages");
        await OnClosed.InvokeAsync();
    }


}
