@if (Model != null)
{
    <MDCard Outline ShowHoverStyle="false" Href="@("/space/index/"+Model.Id)" Class="@($"user-info-card {Class}")">
         <div class="image-card">
             <img src="@Model.PhotoPath" alt="@Model.Name" />
         </div>
         <div class="content-card">
             <div style="display: flex;align-items: center;gap: 1rem;">
                 <span class="title-large" itemprop="name">
                     @Model.Name
                 </span>
                 @if (HideRank)
                {
                    <CnGalWebSite.Shared.MasaComponent.Shared.Cards.Ranks.RanksViewCard Model="Model.Ranks" NoLeftPandding />
                }
            </div>
            <div class="label-large  text-truncate-2">
                @Model.PersonalSignature
            </div>
        </div>
        @if (HideRank == false)
        {
            <div class="badges-card">
                <CnGalWebSite.Shared.MasaComponent.Shared.Cards.Ranks.BadgesViewCard Model="Model.Ranks" />
            </div>

        }
    </MDCard>

}

@code {
    [Parameter]
    public UserInforViewModel Model { get; set; }
    [Parameter]
    public string Class { get; set; }
    [Parameter]
    public bool HideRank { get; set; }
}
