
<CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Title="@($"已有{Model.Booking.BookingCount}人预约")" Icon="@IconType.Bookings.ToIconString()" Collapable>
    <div class="overflow-y-auto" style="max-height:500px">
        <MTimeline AlignTop Dense="Dense" Class="me-2">
            @foreach (var item in Model.Booking.Goals)
            {
                <MTimelineItem Color="@(item.Target>Model.Booking.BookingCount?"orange":"green")"
                               Icon="@(item.Target>Model.Booking.BookingCount?IconType.IndeterminateTime.ToIconString():IconType.Check.ToIconString())"
                               FillDot>
                    <MDCard>
                        <MCardTitle Class="h6 fw-bold p-3 pb-0">
                            @item.Name
                        </MCardTitle>
                        <MCardText>
                            @($"达到{item.Target}人解锁")
                        </MCardText>
                    </MDCard>
                </MTimelineItem>
            }
        </MTimeline>
    </div>
    <div style=" display: flex; justify-content: center; " class="mt-3">
        <CnGalWebSite.Shared.MasaComponent.PC.Entries.BookingButton Id="Model.Id" Template="EntryStyleTemplate.Default" />
    </div>
</CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>

@code {
    [Parameter]
    public EntryIndexViewModel Model { get; set; }
    [Parameter]
    public bool Dense { get; set; }
}
