@inject IDataCacheService  _dataCacheService

<TabLink Icon="fa fa-codepen" Url="@("/entries/index/" + Model.Id)" Text="@Model.Name" class="a-font-color">
        <div class="shadow-sm pointer rounded  bg-opacity h-100">
            <div class="h-100" style="display: flex; flex-direction: column;">
                <img  loading="lazy"  class="w-100" src="@Model.MainImage" alt="@Model.Name">
                <div class="@(_dataCacheService.IsApp?"p-2 h-100":"p-3 pb-2 h-100")" style=" display: flex; flex-direction: column; justify-content: space-between;">
                    <div style="display: flex; width: 100%;">
                        <div style="width: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                            <header class="@("text-truncate-2 "+(_dataCacheService.IsApp?"mb-1":""))">
                                <h5 class="fw-bold" style="@(_dataCacheService.IsApp?" display: inline;font-size: large;":" display: inline;")">@Model.Name</h5>
                            </header>
                            <span class="text-truncate-3"  style="@(_dataCacheService.IsApp?"color: gray;font-size:small;":"")">
                                @Model.BriefIntroduction
                            </span>

                        </div>
                    </div>
                    <div class="mt-2" style="display: flex; justify-content: space-between;">
                        <div style="display: flex; flex-direction: column;">
                            @if (Model.EvaluationCount > 0)
                            {
                                <div>
                                    <CnGalWebSite.Shared.Component.Entries.NewVersion.BasicInforAloneTip Icon="@IconType.ThumbsUp"
                                                                                                         Text="@($"{Model.RecommendationRate}% 好评（{Model.EvaluationCount}条评测）")" />

                                </div>
                            }

                            @if (Model.PublishTime != null)
                            {
                                <div>
                                    <CnGalWebSite.Shared.Component.Entries.NewVersion.BasicInforAloneTip Icon="@IconType.DeterminedTime"
                                                                                                         Text="@(Model.PublishTime?.ToString("yyyy年M月d日"))" />

                                </div>

                            }

                            @if (Model.CutLowest > 0)
                            {
                                <div>
                                    <CnGalWebSite.Shared.Component.Entries.NewVersion.BasicInforAloneTip Icon="@IconType.Chart"
                                                                                                         Text="@(Model.PriceLowestString+( Model.CutLowest==0?"": " - "+Model.CutLowest+"% OFF"))" />

                                </div>

                            }
                        </div>
                        <div style=" display: flex; flex-direction: column; align-items: center; width: 100px; justify-content: center;">
                            <span class="h4 m-0 font-color">
                                @(Model.PriceNowString)
                            </span>
                            <span class="font-color">
                                @(Model.CutNow+"% OFF")
                            </span>

                            <span class="h6" style=" color: gray; text-decoration: line-through; ">
                                @("¥ "+((double)Model.OriginalPrice/100).ToString("0.00"))
                            </span>

                        </div>

                    </div>
                </div>
            </div>
        </div>

</TabLink>

@code {
    [Parameter]
    public SteamInforTipViewModel Model { get; set; }
}
