@inject ToastService ToastService
@inject IHttpService _httpService
@inject IDataCacheService _dataCacheService
@inject NavigationManager NavigationManager
@inject IPageModelCatche<List<LatastArticleItemModel>> _pageModelCatche

<section class="latest-articles-card">
    <h2>最新文章</h2>
    <MSlideGroup ShowArrows="true">
            @foreach (var item in _items)
            {
                <MSlideItem>

                    <a class="item" href="@item.Url">
                        <img class="image" src="@item.Image" alt="@item.Name" />
                        <div class="head">
                            <div class="content">
                                <div class="name text-truncate-2">@item.Name</div>
                                <div class="brief text-truncate-3">@item.BriefIntroduction</div>
                            </div>
                            <div class="addinfo">
                                <div class="author">
                                    @if (string.IsNullOrWhiteSpace(item.OriginalAuthor))
                                    {
                                        <img class="user-image" src="@item.UserImage" alt="@item.UserName" />
                                        <div class="name">@item.UserName</div>
                                    }
                                    else
                                    {
                                        <MChip Small Color="info" Class=" ma-1">
                                            <MIcon Left Small>@IconType.Carry.ToIconString() </MIcon>
                                            搬运
                                        </MChip>
                                        <div class="name text-truncate-1">
                                            作者：@item.OriginalAuthor
                                        </div>
                                    }
                                </div>
                                <div class="time">@item.PublishTime</div>
                            </div>
                        </div>
                    </a>
                </MSlideItem>
            }
            <MSlideItem>
                <a class="item more-link" href="/articles">
                    <MIcon Large>@IconType.SeeMore.ToIconString()</MIcon>
                    <div class="text">查看更多</div>
                </a>
            </MSlideItem>
    </MSlideGroup>
</section>

@code {

    List<LatastArticleItemModel> _items { get; set; } = new List<LatastArticleItemModel>();

    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }


    protected override async Task OnInitializedAsync()
    {
        try
        {
            //获取主页信息
            _items = await _pageModelCatche.GetCache("api/home/ListLatastArticles");
            StateHasChanged();
        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, "获取主页最新文章列表失败");
        }
    }
}
