<div class="@Class">
    <div class="rounded shadow-sm bg-opacity pb-3">
        <div style="display:flex;" class="m-0 row">
            <div class="d-md-flex d-none col-auto ps-4 pt-4">
                @if (Model.IsThumbnail)
                {
                    <img style="height:120px;border-radius:50%;" src="@Model.Image" alt="@Model.ObjectName">
                }
                else
                {
                    <img style="height:120px;" src="@Model.Image" alt="@Model.ObjectName">
                }
            </div>
            <div class="w-100 d-md-none-co col-12 p-0" style="display: flex; justify-content: center;">

                @if (Model.IsThumbnail)
                {
                    <img style="height: 200px; border-radius: 50%;" src="@Model.Image" alt="@Model.ObjectName">
                }
                else
                {
                    <img style="width: 100%;" src="@Model.Image" alt="@Model.ObjectName">
                }
            </div>
            <div class="ps-4 pt-4 pe-4 col" style=" display: flex; flex-direction: column;">
                <h1 class="fw-bold h3 text-truncate-1">
                    @(string.IsNullOrWhiteSpace(Model.ObjectName) ? ("Id：" + Model.ObjectId) : Model.ObjectName)
                </h1>
                <span class="text-truncate-3">
                    @Model.ObjectBriefIntroduction
                </span>
            </div>
        </div>

    </div>
</div>

@code {
    [Parameter]
    public ExamineViewModel Model { get; set; }
    [Parameter]
    public string Class { get; set; }

}
