
<li class="nav-item p-0" style=" display: flex; justify-content: center;" role="presentation">
    <a class="@("text-center pt-2 pb-2 rounded  tab-color"+(IsSelected?" active ":""))"  style="cursor:pointer;width:100%"
       id="@("pills"+RandomIndex+"-"+Index.ToString()+"-tab")" data-bs-toggle="pill" href="@("#pills"+RandomIndex+"-"+Index.ToString())" role="tab" aria-controls="@("pills"+RandomIndex+"-"+Index.ToString())" aria-selected="false"
       @onclick="@(()=>OnTabClick.InvokeAsync(Index))">
        <div class="li-user-space-right-div">
            <div class="li-user-space-text">&nbsp;&nbsp;&nbsp;@Text</div>
            <i class="@("fa fa-fw fa-lg li-user-space-icon "+Icon)"></i>
        </div>
        <div class="li-user-space-left-div">
            <i class="fa fa-angle-double-right fa-fw fa-lg"></i>
        </div>
    </a>
</li>

@code {
    [Parameter]
    public EventCallback<int> OnTabClick { get; set; }

    [Parameter]
    public string Icon { get; set; }
    [Parameter]
    public string Text { get; set; }
    [Parameter]
    public int Index { get; set; }


    [Parameter]
    public int DefaultIndex { get; set; }


    [Parameter]
    public int RandomIndex { get; set; }

    private bool IsSelected => Index == DefaultIndex;
}
