<CnGalWebSite.Shared.MasaComponent.Shared.Components.Magazine.MasaMagazineContext Id="almanac-catalog-card" FullScreen>
    <div class="almanac-year">@Model.Year</div>
    <div class="almanac-name">@Model.Name</div>
    <div class="card-title">CATALOG</div>

    <div class="item-group">
        @foreach (var item in Items)
        {
            <a class="item-card" @onclick="@(()=>OnNav.InvokeAsync(item.Id))">
                <div class="index">@((Items.IndexOf(item) + 1).ToString("00"))</div>
                <div class="name-en">@item.EnglishName</div>
                <div class="name">@item.Name</div>
            </a>
        }
    </div>


    <CnGalWebSite.Shared.MasaComponent.PC.Home.Almanac.Other.ArrowBorderCard />
</CnGalWebSite.Shared.MasaComponent.Shared.Components.Magazine.MasaMagazineContext>


@code {
    [Parameter]
    public EventCallback<string> OnNav { get; set; }
    [Parameter]
    public AlmanacViewModel Model { get; set; }

    List<(string EnglishName, string Name, string Id)> Items { get; set; } = new List<(string Name, string EnglishName, string Id)>
    {
        ("TOP","年度总览","almanac-top-card"),
        ("LIST","游戏列表","almanac-game-list-card"),
        ("INSIDE","品鉴与分析","almanac-inside-card"),
        ("NEXT","来年展望","almanac-next-card"),
    };
}
