@inject IDataCacheService _dataCatcheService

<div class="image-games-card masa-image row">
    @{ var model = Model.ImageCards.First();}
    <div class="col-12 col-lg-6">
    <MDCard Class="item-image " Href="@($"entries/index/{model.Id}")">
        <MImage AspectRatio="1" Width="@("100%")" Src="@model.Image">
            <ChildContent>
                <div class="image-name">
                    @model.Name
                </div>
            </ChildContent>
            <PlaceholderContent>
                <MRow Class="fill-height ma-0"
                      Align="@AlignTypes.Center"
                      Justify="@JustifyTypes.Center">
                    <MProgressCircular Indeterminate Color="primary"></MProgressCircular>
                </MRow>
            </PlaceholderContent>
        </MImage>
    </MDCard>

    </div>
    <div class="sub-group col-12 col-lg-6">
        <div class="row">
            @foreach (var item in Model.ImageCards.Skip(1))
            {
                <div class=" col-6">
                    <MDCard Class="item-image" Href="@($"entries/index/{item.Id}")">
                        <MImage AspectRatio="1" Width="@("100%")" Src="@item.Image">
                            <ChildContent>
                                <div class="image-name">
                                    @item.Name
                                </div>
                            </ChildContent>
                            <PlaceholderContent>
                                <MRow Class="fill-height ma-0"
                                      Align="@AlignTypes.Center"
                                      Justify="@JustifyTypes.Center">
                                    <MProgressCircular Indeterminate Color="primary"></MProgressCircular>
                                 </MRow>
                             </PlaceholderContent>
                         </MImage>
                     </MDCard>
                    </div>
                
            }
        </div>
    </div>

</div>


@code {
    [Parameter]
    public PersonalRecommendModel Model { get; set; }
}
