<TabLink Icon="fa fa-codepen" Url="@("/peripheries/index/" + Model.Id)" Text="@Model.Name" class="a-font-color">
    <div class="div-shadow rounded  bg-opacity aticle-home-layout ps-3 pe-3 mb-3">
            <div class="row mb-2">
                <div class="col-12 col-xl-4 pt-3">
                    <img class="img-fluid" src="@Model.MainImage">
                </div>
                <div class="col-12 col-xl-8 pt-3">
                    <header>
                        <div class="article-home-tag">周边</div>
                        <h5 class="fw-bold" style=" display: inline;">@Model.Name</h5>
                    </header>
                    <div class="article-home-text">
                        @Model.BriefIntroduction
                    </div>
                    @if (Model.AddInfors != null && Model.AddInfors.Count > 0 && string.IsNullOrWhiteSpace(ColorNum) == false)
                    {

                        <div class="d-none d-sm-flex row">

                            @foreach (var item in Model.AddInfors)
                            {
                                <div class="@(Model.AddInfors.Count==1? "col-12":"col-12 col-lg-6")">
                                    <div class="h4 mt-2" style="margin-bottom: 0.1rem; display: flex;  flex-wrap: wrap; ">
                                        <span class="badge  fw-bold  bg-title  @("bg-title-color-"+ColorNum)  me-2" style="margin-top: 5px; margin-bottom: 8px; height: 35px; ">
                                            @item.Modifier
                                        </span>
                                        @foreach (var infor in item.Contents)
                                        {
                                            <TabLink Text="@Model.Name" Url="@("/entries/index/" +infor.Id)" Icon="fa fa-codepen"
                                                     class="@("btn mb-2 me-2  bg-context-"+ColorNum)" style="transition: all .6s ease; margin-top: 5px; word-break: keep-all;">@infor.DisplayName</TabLink>
                                                }
                                    </div>
                                </div>

                            }

                        </div>
                    }
                </div>
            </div>

            <p class="" style="color: gray;">
                <i class="fa fa-calendar fa-fw"></i>
                <span class="article-home-infor-text">@Model.LastEditTime.ToString("yyyy-MM-dd")&nbsp;&nbsp;&nbsp;</span>

                <i class="fa fa-commenting-o fa-fw"></i>
                <span class="article-home-infor-text">@(Model.CommentCount)条评论&nbsp;&nbsp;&nbsp;</span>

                <i class="fa fa-eye fa-fw"></i>
                <span class="article-home-infor-text">@(Model.ReaderCount)次阅读&nbsp;&nbsp;&nbsp;</span>
            </p>
            <div style="height: 1px;"></div>
       
    </div>

</TabLink>

@code {
    [Parameter]
    public PeripheryInforTipViewModel Model { get; set; }
    [Parameter]
    public string ColorNum { get; set; }
}
