@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IDataCacheService _dataCacheService


<TitleTip Title="关于我们"></TitleTip>

<div class="  rounded shadow-sm  ps-4 pe-4 pt-3 pb-3 mb-4 bg-opacity rounded">
    <CnGalWebSite.Shared.AppComponent.Pages.Home.About.HeadCard/>

</div>


<MTabs @bind-Value="TabIndex" IconsAndText Grow Class="rounded shadow-sm mb-4" CenterActive
       Color="@_dataCacheService.ThemeSetting.Theme">
    @foreach (var item in _dataCacheService.DocumentsCatche)
    {
        <MTab Value="@_dataCacheService.DocumentsCatche.IndexOf(item)">
            @item.Title<MIcon>@item.Icon</MIcon>
        </MTab>
    }
</MTabs>
<MTabsItems @bind-Value="TabIndex">
    @foreach (var item in _dataCacheService.DocumentsCatche)
    {
        <MTabItem Value="@_dataCacheService.DocumentsCatche.IndexOf(item)">
            <CnGalWebSite.Shared.MasaComponent.App.Home.DocumentCardGroup Model="item.Children" />
        </MTabItem>
    }
</MTabsItems>


@code {
    public StringNumber TabIndex { get; set; } = 0;

    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }


    protected override async Task OnInitializedAsync()
    {

        try
        {
            if (_dataCacheService.DocumentsCatche.Count == 0)
            {
                _dataCacheService.DocumentsCatche = await Http.GetFromJsonAsync<List<DocumentViewModel>>(ToolHelper.WebApiPath + "api/home/GetDocuments");
            }
        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, "获取文档列表失败");
        }
    }
}
