@inject ToastService ToastService
@inject HttpClient Http
@inject IDataCacheService _dataCacheService
@inject IStructuredDataService _structuredDataService

<TitleTip></TitleTip>

<div itemscope itemtype="https://schema.org/WebSite" style="display:none;">
    <meta itemprop="url" content="https://m.cngal.com/" />
    <form itemprop="potentialAction" itemscope itemtype="https://schema.org/SearchAction">
        <meta itemprop="target" content="https://m.cngal.com/search?Text={search_term_string}" />
        <input itemprop="query-input" type="text" name="search_term_string" required />
        <input type="submit" />
    </form>
</div>

<CnGalWebSite.Shared.AppComponent.Pages.Home.ListCarousel />

<div style="width: 100%; margin-bottom: 50px;">
    <div class="tab-content" id="@("pills" + randomIndex + "-tabContent")">
        <div class="@("tab-pane fade" + (defaultIndex == 0 ? " show active " : "") )" id="@("pills" + randomIndex + "-0")" role="tabpanel" aria-labelledby="@("pills" + randomIndex + "-0-tab")">
            <div>
                <CnGalWebSite.Shared.AppComponent.Pages.Home.Index />
            </div>
        </div>
        <div class="@("tab-pane fade" + (defaultIndex == 1 ? " show active " : "") )" id="@("pills" + randomIndex + "-1")" role="tabpanel" aria-labelledby="@("pills" + randomIndex + "-1-tab")">
            @if (isReadyTab1)
            {
                <CnGalWebSite.Shared.MasaComponent.App.Home.Entries.FreeGameGroup Class="mb-3" />
                <CnGalWebSite.Shared.MasaComponent.App.Home.Entries.DiscountGameGroup Class="mb-3" />
                <CnGalWebSite.Shared.MasaComponent.App.Home.Entries.GameRoleGroup Class="mb-3" />

            }
        </div>
        <div class="@("tab-pane fade" + (defaultIndex == 2 ? " show active " : "") )" id="@("pills" + randomIndex + "-2")" role="tabpanel" aria-labelledby="@("pills" + randomIndex + "-2-tab")">
            @if (isReadyTab2)
            {
                <CnGalWebSite.Shared.MasaComponent.App.Home.Articles.RandomArticleGroup Class="mb-3" />
                <CnGalWebSite.Shared.MasaComponent.App.Home.Articles.WeeklyNewsGroup Class="mb-3" />
            }

        </div>
        <div class="@("tab-pane fade" + (defaultIndex == 3 ? " show active " : "") )" id="@("pills" + randomIndex + "-3")" role="tabpanel" aria-labelledby="@("pills" + randomIndex + "-3-tab")">
            @if (isReadyTab3)
            {
                <div>
                    <CnGalWebSite.Shared.AppComponent.Pages.Home.Others.Index />
                </div>
            }

        </div>
    </div>
</div>



<CnGalWebSite.Shared.AppComponent.Pages.Home.HomeFooter OnTabClick="OnTabClick" DefaultIndex="defaultIndex" RandomIndex="randomIndex" />

@code {

    private int defaultIndex { get; set; } = 0;
    [Parameter]
    public string DefaultIndex
    {
        get
        {
            return defaultIndex.ToString();
        }
        set
        {
            try
            {
                defaultIndex = int.Parse(value);
            }
            catch
            {
                defaultIndex = 0;
            }
        }

    }
    public int TabIndexNum = 0;
    public int randomIndex = new Random().Next();

    bool isReadyTab1 = false;
    bool isReadyTab2 = false;
    bool isReadyTab3 = false;

    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }


    protected override async Task OnInitializedAsync()
    {

        try
        {
            //生成轮播结构数据
            await GenerateCarouselStructuredDataJson();

        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, "获取轮播结构化数据失败");
        }

    }
    public async Task GenerateCarouselStructuredDataJson()
    {
        var urls = new List<string>();
        urls.AddRange((await _dataCacheService.GetHomePageListCardMode("api/home/GetHomeRecentIssuelGameView", "entries", 12, false)).Select(s => s.Url));
        urls.AddRange((await _dataCacheService.GetHomePageListCardMode("api/home/GetHomeNewestGameView", "entries", 12, false)).Select(s => s.Url));
        urls.AddRange((await _dataCacheService.GetHomePageListCardMode("api/home/GetHomeRecentEditView", "entries", 12, false)).Select(s => s.Url));
        urls.AddRange((await _dataCacheService.GetHomePageListCardMode("api/home/GetHomeNoticesView", "articles", 12, false)).Select(s => s.Url));
        urls.AddRange((await _dataCacheService.GetHomePageListCardMode("api/home/GetHomeArticlesView", "articles", 12, false)).Select(s => s.Url));
        urls.AddRange((await _dataCacheService.GetHomePageListCardMode("api/home/GetHomeNewsView", "articles", 12, false)).Select(s => s.Url));

        await _structuredDataService.SetStructuredData(urls);
    }

    public async Task OnTabClick(int index)
    {
        if (index == 1)
        {
            isReadyTab1 = true;
        }
        else if (index == 2)
        {
            isReadyTab2 = true;
        }
        else if (index == 3)
        {
            isReadyTab3 = true;
        }
        StateHasChanged();
        TabIndexNum = index;
    }
}
