<MDCard Href="@("/tags/index/" + Model.Id)" class=" ps-3 pe-3  h-100">

    <div class="row mb-2">
        <div class="col-12  pt-3">
            <img class="img-fluid" src="@Model.MainImage" alt="@Model.Name">
        </div>
        <div class="col-12 pt-3">
            <header>
                <div class="article-home-tag">标签</div>
                <h5 class="fw-bold" style=" display: inline;">@Model.Name</h5>
            </header>
            <div class="article-home-text">
                @Model.BriefIntroduction
            </div>
        </div>
    </div>
    <div class="pb-3" style="color: gray;">
        <i class="fa fa-calendar fa-fw"></i>
        <span class="article-home-infor-text">@Model.LastEditTime.ToString("yyyy-MM-dd")&nbsp;&nbsp;&nbsp;</span>

        <i class="fa fa-eye fa-fw"></i>
        <span class="article-home-infor-text">@(Model.ReaderCount)次阅读&nbsp;&nbsp;&nbsp;</span>
    </div>
</MDCard>



@code {
    [Parameter]
    public TagInforTipViewModel Model { get; set; }
    [Parameter]
    public bool IsNormalScreen { get; set; }

}
