@inject DialogService DialogService
@inject IServiceProvider Provider
@inject NavigationManager NavigationManager

<div class="pointer" @onclick="OnDetails">
    <div class="a-font-color" style="display: flex; align-items: center; flex-direction: column;">
        <div style="display: flex;align-items: center;">
            <div class="swal2-icon m-0 me-1 @("border-"+color)" style="height: 4em; width: 4em; display: flex;align-items: center;">
                <div class="@("text-"+color)">@Model.Grade.ToString("0.0")</div>
            </div>
        </div>
        <div class="mt-4" style="display: flex; flex-direction: column;">
            <div style=" display: flex; justify-content: center; ">
                <div class="@("comment-tag me-2 bg-"+color)">@Model.Level.GetDisplayName()</div>
                <div class="comment-username me-2">@("超过全站 "+Model.VictoryPercentage.ToString("0.0")+"% 的词条")</div>
            </div>
            <span class="mt-2 text-center" style="color:gray;">
                <i class="fa fa-history fa-fw"></i>
                <span>@(Model.LastEditTime.ToTimeFromNowString()+ "编辑")</span>
                <i class="fa fa-list fa-fw ms-3"></i>
                <span>@(Model.DefectCount+ "个项目待完善")</span><br />
                <i class="fa fa-bar-chart fa-fw ms-3"></i>
                <span>@("总计"+Model.EditCount + "次编辑")</span>
            </span>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public PerfectionInforTipViewModel Model { get; set; }
    [Parameter]
    public EventCallback OnClosed { get; set; }

    string color = "success";

    protected override async Task OnInitializedAsync()
    {
        color = ToolHelper.GetEntryPerfectionLevelColor(Model.Level);
        if (Model.Grade == 0)
        {
            Model.Grade = Model.EditCount;
            color = "success";
        }
    }

    public async Task OnDetails()
    {
        var option = new DialogOption()
        {
            Title = "词条完善度明细",
            ShowCloseButton = false
        };
        option.BodyTemplate = BootstrapDynamicComponent.CreateComponent<EntryPerfectionCheckListTip>(new Dictionary<string, object>
        {
            [nameof(EntryPerfectionCheckListTip.PerfectionId)] = (long)Model.Id,
            [nameof(EntryPerfectionCheckListTip.OnClickClose)] = EventCallback.Factory.Create(this, async () => await option.Dialog.Close()),
            [nameof(EntryPerfectionCheckListTip.OnEditorialGuidelines)] = EventCallback.Factory.Create(this, async () => { await option.Dialog.Close();await OnClosed.InvokeAsync(); NavigationManager.NavigateTo(Provider, "/perfections/home", "编辑指引", "fa-map-signs"); }),
        }).Render();
        await DialogService.Show(option);
    }
}
