@inject HttpClient Http
@inject ExamineService _examineService
@inject ToastService? ToastService
@inject ILocalStorageService _localStorage
@inject IServiceProvider Provider
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@inject IDataCacheService _dataCacheService

@if (string.IsNullOrWhiteSpace(Model.BasicInfor.Name) == false)
{
    <TitleTip Title="@Model.BasicInfor.Name" Description="@Model.BasicInfor.PersonalSignature"></TitleTip>
}
@if (_dataCacheService.ThemeSetting.IsTransparent)
{
    @if (string.IsNullOrWhiteSpace(Model.SBgImage) == false)
    {
        <div id="web_bg" style="background-image: url(@Model.SBgImage)" class="d-none bg-d-lg-block bgimage-ison"></div>
    }
    @if (string.IsNullOrWhiteSpace(Model.MBgImage) == false)
    {
        <div id="web_bg" style="background-image: url(@Model.MBgImage)" class=" d-none d-sm-block bgimage-ison"></div>
    }
}

@if (isNotFound)
{
    <NotFoundUser IsNeedLayput="true"></NotFoundUser>
}
else
{
    @if (isReady)
    {

        <div class="row">
            <div class="col-12 col-lg-4">
                <CnGalWebSite.Shared.MasaComponent.PC.Users.MainInforCard Model="Model.BasicInfor" />
                <CnGalWebSite.Shared.MasaComponent.PC.Users.BasicInforCard Model="Model" />
                @if (_dataCacheService.IsApp == false)
                {
                    <CnGalWebSite.Shared.MasaComponent.PC.Users.CertificationCard Model="Model" />
                }
            </div>
            <div class="col-12 col-lg-8">


                <div>

                    <div class="rounded  shadow-sm bg-opacity mb-4">
                        <MTabs Value="TabIndex" IconsAndText Grow Class="rounded" CenterActive ValueChanged="TabValueChanged"
                               Color="@_dataCacheService.ThemeSetting.Theme">

                            <MTab Value="1">
                                首页<MIcon>mdi-home</MIcon>
                            </MTab>
                            <MTab Value="2">
                                编辑记录<MIcon>mdi-script-text-outline </MIcon>
                            </MTab>
                            @if (Model.BasicInfor.ArticleCount != 0)
                            {
                                <MTab Value="3">
                                    文章<MIcon>mdi-newspaper-variant-multiple-outline</MIcon>
                                </MTab>
                            }
                            @if (Model.IsCurrentUser || Model.IsShowGameRecord)
                            {
                                <MTab Value="4">
                                    游玩记录<MIcon>mdi-gamepad-square-outline </MIcon>
                                </MTab>
                            }
                            @if (Model.IsCurrentUser || Model.IsShowFavorites)
                            {
                                <MTab Value="5">
                                    收藏夹<MIcon>mdi-heart-multiple </MIcon>
                                </MTab>
                            }

                            <MTab Value="6">
                                周边<MIcon>mdi-basket-outline </MIcon>
                            </MTab>
                        </MTabs>
                    </div>
                    <div class="row">
                        <MTabsItems @bind-Value="TabIndex">
                            <MTabItem Value="1">
                                @if (_dataCacheService.IsApp)
                                {
                                    <CnGalWebSite.Shared.MasaComponent.PC.Users.CertificationCard Model="Model" />
                                }
                                @if (Model.IsCurrentUser)
                                {
                                    <CnGalWebSite.Shared.MasaComponent.PC.Users.Examines.PendingDataCard />
                                }
                                @if (Model.IsCurrentUser || string.IsNullOrWhiteSpace(Model.MainPageContext) == false)
                                {
                                    <div class="mb-4">
                                        <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Title="个人介绍" Icon="fa fa-fw  fa-home">
                                            <ChildContent>
                                                <MarkdownViewTip Text="@Model.MainPageContext" />
                                            </ChildContent>
                                            <ButtonContent>
                                                @if (Model.IsCurrentUser)
                                                {
                                                    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaButton Fab Icon="mdi-pencil " Tooltip="编辑个人介绍" OnClick="EditMainPage" />

                                                }
                                            </ButtonContent>
                                        </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>

                                    </div>
                                }

                                <div class="row">
                                    <div class="col-12 col-lg-6 mb-4">
                                        <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Title="签到概览" Icon="fa fa-fw  fa-calendar-check-o" Class="h-100">
                                            <CnGalWebSite.Shared.MasaComponent.PC.Users.SignInDaysCard Model="Model" />

                                        </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>
                                    </div>
                                    <div class="col-12 col-lg-6 mb-4">
                                        <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Title="编辑概览" Icon="fa fa-fw  fa-pencil" Class="h-100">
                                            <CnGalWebSite.Shared.MasaComponent.PC.Users.EditOverviewCard Model="Model" />
                                        </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>
                                    </div>

                                </div>
                                <div class="rounded  rounded shadow-sm  p-3 pb-0 bg-opacity mb-4">
                                    <CnGalWebSite.Shared.MasaComponent.PC.Users.DataOverviewCard Model="Model" />
                                </div>
                                <div>
                                    @if (Model.CanComment)
                                    {

                                        <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Title="留言板" Icon="fa fa-fw fa-sticky-note-o" Outline>
                                            <CnGalWebSite.Shared.MasaComponent.PC.Comments.CommentTip CanComment="Model.CanComment" CanDeleted="CanDeleted" ObjectId="@Model.Id" Type="CommentType.CommentUser" />
                                        </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>
                                    }
                                </div>

                            </MTabItem>
                            <MTabItem Value="2">
                                <CnGalWebSite.Shared.MasaComponent.PC.Users.ExaminesCard Id="@Model.Id" />
                            </MTabItem>
                            @if (Model.BasicInfor.ArticleCount != 0)
                            {
                                <MTabItem Value="3">

                                    <CnGalWebSite.Shared.MasaComponent.PC.Users.ArticlesCard Id="@Model.Id" />

                                </MTabItem>
                            }



                            @if (Model.IsCurrentUser || Model.IsShowGameRecord)
                            {
                                <MTabItem Value="4">
                                    <UserPlayedGameListView SteamId="@Model.SteamId" UserId="@Model.Id" IsCurrentUser="Model.IsCurrentUser"></UserPlayedGameListView>
                                </MTabItem>
                            }


                            @if (Model.IsCurrentUser || Model.IsShowFavorites)
                            {
                                <MTabItem Value="5">
                                    <FavoriteFoldersViewTip UserId="@Model.Id" IsCurrentUser="Model.IsCurrentUser"></FavoriteFoldersViewTip>
                                </MTabItem>
                            }

                            <MTabItem Value="6">
                                <UserOwnedPeripheryListView UserId="@Model.Id" />
                            </MTabItem>
                        </MTabsItems>
                    </div>

                </div>


            </div>
        </div>

    }
    else
    {
        <div class="rounded shadow-sm  bg-opacity rounded ps-4 pe-4 pt-4 pb-4">

            <div class="mt-2">
                <SkeletonParagraph />
            </div>

            <div class="mt-2">
                <SkeletonParagraph />
            </div>

            <div class="mt-2">
                <SkeletonParagraph />
            </div>

            <div class="mt-2">
                <SkeletonParagraph />
            </div>
        </div>
    }


}


@code {

    private string id = "";
    [Parameter]
    public string Id
    {
        get
        {
            return id;
        }
        set
        {
            id = value;
            if (isFirstLoad == true)
            {

            }
            else
            {
                OnInitializedAsync();
            }


        }
    }

    public StringNumber TabIndex { get; set; } = 1;

    public string CurrentUserRank { get; set; }
    public int currentPage { get; set; } = 1;
    public string NoticeCard { get; set; } = "";
    bool isReady = false;
    bool isFirstLoad = true;
    bool isNotFound = false;

    public PersonalSpaceViewModel Model { get; set; } = new PersonalSpaceViewModel();

    public PagedSortedAndFilterInput PlayedGameInput { get; set; } = new PagedSortedAndFilterInput();


    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    public bool IsAdmin { get; set; } = false;
    public bool CanDeleted { get; set; }

    string LastLookName = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        //记录数据
        if (LastLookName != Model.BasicInfor.Name && string.IsNullOrWhiteSpace(Model.BasicInfor.Name) == false)
        {
            LastLookName = Model.BasicInfor.Name;
            try
            {
                await JS.InvokeAsync<string>("trackEvent", "用户主页", "浏览", Model.BasicInfor.Name, "1", "look");
            }
            catch (Exception exc)
            {

            }
        }

        if (firstRender)
        {
            isFirstLoad = false;
        }
    }
    protected override async Task OnInitializedAsync()
    {

        try
        {
            TabIndex = _dataCacheService.SpaceViewCache.TabIndex;

            isReady = false;
            isNotFound = false;

            var userState = await authenticationStateTask;
            var user = userState.User;
            if (string.IsNullOrWhiteSpace(id) && user.Identity.IsAuthenticated == false)
            {
                return;
            }

            //获取用户基本信息
            Model =await _dataCacheService.PersonalSpaceDataCatche.GetCatche(Id);

            if (Model.IsCurrentUser)
            {
                CurrentUserRank = "本人";
                CanDeleted = true;
            }
            if (user.IsInRole("Admin"))
            {
                IsAdmin = true;
                CanDeleted = true;
            }
            //Id = Model.Id;

            //复制用户Id
            PlayedGameInput.FilterText = Model.Id;

            isReady = true;
            StateHasChanged();

        }
        catch (Exception exc)
        {
            isNotFound = true;
            isReady = true;
            StateHasChanged();
        }
    }


    private async Task EditMainPage()
    {
        try
        {
            NavigationManager.NavigateTo(Provider, "/space/editmainpage/" + Model.Id, "编辑主页", "fa fa-pencil");
        }
        catch
        {
            await ToastService.Error("跳转到编辑页面失败", "可未知错误，请在确保网络正常后联系开发人员");
        }
    }

    public Task TabValueChanged(StringNumber index)
    {
        _dataCacheService.SpaceViewCache.TabIndex = index.ToInt32();
        TabIndex = index;
        return Task.CompletedTask;
    }
}
