<Scroll Height="500px">
    <div style="display: flex; flex-direction: column; align-items: center;">
        <h3 class="fw-bold text-center h5">@Model.Name</h3>

        <span style="color: gray;" class="mb-4 d-flex">
            <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaIcon Type="IconType.DeterminedTime" Color="grey" />
            <span class="article-infor-text">@(Model.LastEditTime.ToString("yyyy-MM-dd"))</span>&nbsp;&nbsp;&nbsp;

            <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaIcon Type="IconType.User" Color="grey" />
            <span class="article-infor-text" style="cursor: pointer">@Model.CreateUserName</span>&nbsp;&nbsp;&nbsp;

            <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaIcon Type="IconType.Read" Color="grey" />
            <span class="article-infor-text">@(Model.ReaderCount + "次阅读")</span>
        </span>
        <MarkdownViewTip Text="@Model.BriefIntroduction" IsNeedHighlight="true" />
    </div>

</Scroll>


@code {
    [Parameter]
    public ArticleInforTipViewModel Model { get; set; } = new ArticleInforTipViewModel();

}
