@inject NavigationManager NavigationManager
@inject IDataCacheService _dataCacheService

<CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Title="@(Model.Name+" 游戏评测")" Icon="@IconType.Article.ToIconString()" ShowMoreButton OnClickMore="OnClickMore">
    <MWindow @bind-Value="Index">
        @foreach (var item in Model.Evaluations)
        {
            <MWindowItem Value="@Model.Evaluations.IndexOf(item)">
                <MResponsive AspectRatio="16/9D">
                    <ScaleTransition>
                        <Element Show="@(Model.Evaluations.IndexOf(item)==Index)">
                            <MCard Style=" display: contents; " OnClick="@(()=>OnClickArticle(item.Id))">
                                <EvaluationViewTip Model="item" />
                            </MCard>
                        </Element>
                    </ScaleTransition>
                </MResponsive>
            </MWindowItem>
        }
    </MWindow>
    <MSlideGroup @bind-Value="Index" ShowArrows="true" CenterActive>
        @foreach (var item in Model.Evaluations)
        {
            <MSlideItem>
                <MCard Class="mt-4 me-4 mb-2" Height="70" Width="150" OnClick="@(()=>{ if (!context.Active) context.Toggle.Invoke();})" RefBack="context.Ref">
                    <div style="@($"background-image: url({item.MainImage});")" class="@((context.Active?"active":"")+" image-overlays ")">

                    </div>
                </MCard>
            </MSlideItem>
        }
    </MSlideGroup>
</CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>

@code {

    private StringNumber Index { get; set; } = 0;

    [Parameter]
    public GameEvaluationsModel Model { get; set; }


    public void OnClickMore()
    {
        NavigationManager.NavigateTo("/entries/index/" + Model.Id);
        
    }
    public void OnClickArticle(long id)
    {
        NavigationManager.NavigateTo("/articles/index/" + id);
        
    }
}
