@inject HttpClient Http
@inject ToastService? ToastService


<div style="display:flex;">
    <div  style="display: flex;align-items: center;">
        <img class="shadow -sm" src="@Image" style="height: 50;width: 50px;border-radius: 50%;" />
    </div>
    <div  class="comment-tx-div" style=" flex: 1 1 auto; width: 0;">
        <div  class="new-row-warp no-margin">
            <div class="comment-tag me-2 bg-main" >@Type</div>
            <div class="comment-username a-font-color me-2">@Title</div>
            <div class="comment-username" style="color:gray">@Time.ToTimeFromNowString()</div>
        </div>
        <div class="comment-time text-truncate" style="width: 100%;">@Text</div>
    </div>
</div>


@code {
    [Parameter]
    public string Image { get; set; }
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public int GroupId { get; set; }

    [Parameter]
    public string Type { get; set; }
    [Parameter]
    public string Text { get; set; }
    [Parameter]
    public DateTime Time { get; set; }
}
