@inject ToastService ToastService
@inject HttpClient Http
@inject IDataCacheService _dataCacheService
@inject NavigationManager NavigationManager


<CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Title="@Title" Icon="@Icon" Class="mb-4">
    <ButtonContent>
        @if (string.IsNullOrWhiteSpace(Url) == false)
        {
            <MButton Text Block Color="@_dataCacheService.ThemeSetting.Theme" OnClick="OnClickMore">
                <MIcon Left>mdi-share-all-outline  </MIcon>
                查看更多
            </MButton>
        }

    </ButtonContent>
    <ChildContent>
        <div class="row">
            @foreach (var item in Items.Take(MaxCount))
            {
                <div class="col-12 col-md-4 col-lg-3 col-xl-2 mb-2">
                    <HomeCardViewTip Icon="fa fa-codepen" Image="@item.Image" ReadCount="item.ReadCount" CommentCount="item.CommentCount" ShowCount="ShowCount" Outlink="Outlink"
                                     Name="@item.Name" Url="@item.Url" />
                </div>
            }
        </div>

    </ChildContent>

</CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>


@code {
    int ItemNum = 4;

    public List<AppComponent.Normal.Cards.MainImageCardModel> Items { get; set; } = new List<AppComponent.Normal.Cards.MainImageCardModel>();
    [Parameter]
    public string Url { get; set; }
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Icon { get; set; }
    [Parameter]
    public bool ShowCount { get; set; }
    [Parameter]
    public bool Outlink { get; set; }
    [Parameter]
    public string Type { get; set; }
    [Parameter]
    public string APIUrl { get; set; }
    [Parameter]
    public int MaxCount { get; set; } = 12;

    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }


    protected override async Task OnInitializedAsync()
    {
        try
        {
            //获取主页信息
            Items = await _dataCacheService.GetHomePageListCardMode(APIUrl, Type, MaxCount, false);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, "获取主页词条列表失败");
        }
    }

    public Task OnClickMore()
    {
        NavigationManager.NavigateTo(Url);
        return Task.CompletedTask;
    }
}
