
@if (ShowCount)
{

    <a href="@Url" target="@(Outlink?"_blank":null)" class="a-font-color">
        <img loading="lazy" src="@Image" class="card-img-top" alt="@Name" style="aspect-ratio: 460/215;" />
        <span class="home-card-name-text pt-2">@Name</span>
        @if (ShowCount)
        {
            <div style="color:gray">
                <i class="fa fa-eye fa-fw " style=" width: 50%; text-align: start;">&nbsp;@ReadCount</i>
                <i class="fa fa-comments-o fa-fw ">&nbsp;@CommentCount</i>
            </div>
        }
    </a>

}
else
{
    <a href="@Url" target="@(Outlink?"_blank":null)" class="a-font-color" itemprop="url">
        <img loading="lazy" src="@Image" class="card-img-top" alt="@Name" itemprop="image" style="aspect-ratio:460/215;" />

        <span class="home-card-name-text pt-2" itemprop="name">@Name</span>

    </a>
}



@code {
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string Image { get; set; }
    [Parameter]
    public string Url { get; set; }
    [Parameter]
    public string Icon { get; set; }
    [Parameter]
    public int ReadCount { get; set; }
    [Parameter]
    public int CommentCount { get; set; }
    [Parameter]
    public bool ShowCount { get; set; }
    [Parameter]
    public bool Outlink { get; set; }
}
