<CnGalWebSite.Components.Containers.MasaTitleContainer Title="@Model.Name" Icon="@IconType.Shape.ToIconString()">
    <div class="user-space-text-card">
            <div class="content-card">
                @Model.Content
            </div>
            <div class="link-card">
                链接：<a href="@Model.Link" target="_blank">@Model.Link</a>
            </div>
    </div>
</CnGalWebSite.Components.Containers.MasaTitleContainer>

@code {
    [Parameter]
    public UserTextViewModel Model { get; set; }
}
