@inject IHttpService _httpService
@inject NavigationManager NavigationManager
@inject IDataCacheService _dataCacheService

<div class="row" style="padding: 0 12px;">
    <div class="col-12 col-md-6 mb-4">
        <CnGalWebSite.Components.Containers.MasaTitleContainer Title="CnGal资料站" Icon="@IconType.Home.ToIconString()" Class="h-100 w-100">
            <div class="w-100">
                <MButton Text Block  OnClick="@(()=>OnClick("/about"))" Color="primary">
                    <MIcon Left>fa fa-fw fa-info</MIcon>
                    关于我们
                </MButton>
                <MButton Text Block  OnClick="@(()=>OnClick("/structure"))" Color="primary">
                    <MIcon Left>fa fa-fw fa-sitemap</MIcon>
                    组织架构
                </MButton>
                <MButton Text Block  OnClick="@(()=>OnClick("/privacy"))" Color="primary">
                    <MIcon Left>fa fa-fw fa-legal</MIcon>
                    隐私政策
                </MButton>
                <MButton Text Block  OnClick="@(()=>OnClick("/data"))" Color="primary">
                    <MIcon Left>fa fa-fw fa-line-chart</MIcon>
                    数据汇总
                </MButton>
            </div>
        </CnGalWebSite.Components.Containers.MasaTitleContainer>
    </div>
    <div class="col-12 col-md-6 mb-4">
        <CnGalWebSite.Components.Containers.MasaTitleContainer Title="标签" Icon="@IconType.Tags.ToIconString()" Class="h-100 w-100">

            <div class="w-100">
                <MButton Text Block  OnClick="@(()=>OnClick("/tags/index/1"))" Color="primary">
                    <MIcon Left>mdi-gamepad-square</MIcon>
                    游戏
                </MButton>
                <MButton Text Block  OnClick="@(()=>OnClick("/tags/index/2"))" Color="primary">
                    <MIcon Left>mdi-account</MIcon>
                    角色
                </MButton>
                <MButton Text Block  OnClick="@(()=>OnClick("/tags/index/3"))" Color="primary">
                    <MIcon Left>mdi-star</MIcon>
                    STAFF
                </MButton>
                <MButton Text Block  OnClick="@(()=>OnClick("/tags/index/4"))" Color="primary">
                    <MIcon Left>mdi-group</MIcon>
                    制作组
                </MButton>
            </div>
        </CnGalWebSite.Components.Containers.MasaTitleContainer>
    </div>
</div>

@code {
    public void OnClick(string url)
    {
        NavigationManager.NavigateTo(url);
        
    }

}
