
@if (Model.InforState == EditState.Preview)
{
    <div class="mb-3">

        <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Buttons.RevokeButton Url="@("/entries/EditAddInfor/" + Model.Id)" ExamineType="Operation.EstablishAddInfor" OnClickRevoke="OnRevoke" />
    </div>
}


@if (Model.Type == EntryType.Game)
{
    <meta itemprop="applicationCategory" content="Game" />
    <meta itemprop="applicationSubCategory" content="AVG" />
}

@if (Model.Information.Any(s => s.Modifier == "基本信息" && s.Informations.Any(s => s.DisplayName != "官网")))
{
    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Title="基础信息" Icon="@IconType.Infor.ToIconString()" Class="mb-4">
            <div>
                @foreach (var item in Model.Information.FirstOrDefault(s => s.Modifier == "基本信息").Informations)
                {
                    if (item.DisplayName == "原作")
                    {
                        <BasicInforAloneTip Icon="@IconType.Article" Text="@(item.DisplayName+"："+item.DisplayValue)"  />
                    }
                    else if (item.DisplayName == "QQ群")
                    {
                        <BasicInforAloneTip Icon="@IconType.QQ" Title="@item.DisplayName" Text="@item.DisplayValue"  />
                    }
                    else if (item.DisplayName == "声优")
                    {
                        <BasicInforAloneTip Icon="@IconType.Dub" Text="@("配音："+item.DisplayValue)"  />
                    }
                    else if (item.DisplayName == "性别")
                    {
                        @if (item.DisplayValue == "女")
                        {
                            <BasicInforAloneTip Icon="@IconType.GenderFemale" Title="@item.DisplayName" Text="@item.DisplayValue"  />

                        }
                        else if (item.DisplayValue == "男")
                        {
                            <BasicInforAloneTip Icon="@IconType.GenderMale" Title="@item.DisplayName" Text="@item.DisplayValue"  />


                        }
                        else if (item.DisplayValue == "保密")
                        {
                            <BasicInforAloneTip Icon="@IconType.Secret" Title="@item.DisplayName" Text="@item.DisplayValue"  />
                        }
                        else
                        {
                            <BasicInforAloneTip Icon="@IconType.GenderNonBinary" Title="@item.DisplayName" Text="@item.DisplayValue"  />
                        }
                    }

                    else if (item.DisplayName == "身材数据")
                    {
                        <BasicInforAloneTip Icon="@IconType.Data" Text="@(item.DisplayName+"："+item.DisplayValue)"  />
                    }

                    else if (item.DisplayName == "身材(主观)")
                    {
                        <BasicInforAloneTip Icon="@IconType.Stature" Text="@(item.DisplayName+"："+item.DisplayValue)"  />

                    }

                    else if (item.DisplayName == "生日")
                    {
                        <BasicInforAloneTip Icon="@IconType.Birthday" Text="@(item.DisplayName+"："+item.DisplayValue)"  />
                    }

                    else if (item.DisplayName == "发色")
                    {
                        <BasicInforAloneTip Icon="@IconType.Hair" Title="发色" Text="@(item.DisplayValue)"  />
                    }
                    else if (item.DisplayName == "瞳色")
                    {
                        <BasicInforAloneTip Icon="@IconType.Pupil" Title="瞳色" Text="@(item.DisplayValue)"  />

                    }
                    else if (item.DisplayName == "服饰")
                    {
                        <BasicInforAloneTip Icon="@IconType.Clothes" Text="@(item.DisplayName+"："+item.DisplayValue)"  />
                    }
                    else if (item.DisplayName == "性格")
                    {
                        <BasicInforAloneTip Icon="@IconType.Nature" Text="@(item.DisplayName+"："+item.DisplayValue)"  />
                    }
                    else if (item.DisplayName == "角色身份")
                    {
                        <BasicInforAloneTip Icon="@IconType.Identity" Text="@(item.DisplayName+"："+item.DisplayValue)"  />
                    }
                    else if (item.DisplayName == "血型")
                    {
                        <BasicInforAloneTip Icon="@IconType.Blood" Text="@(item.DisplayName+"："+item.DisplayValue)"  />
                    }
                    else if (item.DisplayName == "身高")
                    {
                        <BasicInforAloneTip Icon="@IconType.HumanHeight" Text="@(item.DisplayName+"："+item.DisplayValue)"  />
                    }
                    else if (item.DisplayName == "兴趣")
                    {
                        <BasicInforAloneTip Icon="@IconType.Interest" Text="@(item.DisplayName+"："+item.DisplayValue)"  />
                    }
                    else if (item.DisplayName == "年龄")
                    {
                        <BasicInforAloneTip Icon="@IconType.Age" Text="@(item.DisplayName+"："+item.DisplayValue)"  />
                    }
                    else if (item.DisplayName == "姓名")
                    {
                        <BasicInforAloneTip Icon="@IconType.RealName" Text="@("姓名："+item.DisplayValue)"  />
                    }
                    else if (item.DisplayName == "别称")
                    {
                        <BasicInforAloneTip Icon="@IconType.AnotherName" Text="@("别称："+item.DisplayValue)"  />
                    }
                    else if (item.DisplayName == "昵称（官方称呼）")
                    {
                        <BasicInforAloneTip Icon="@IconType.Name" Text="@("昵称："+item.DisplayValue)"  />
                    }
                }
        </div>
    </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>

}


<CnGalWebSite.Shared.MasaComponent.Shared.Components.MiniModeContainer>
    @if (Model.IsHideOutlink == false && (Model.Information.Any(s => s.Modifier == "相关网站") || (Model.Information.Any(s => s.Modifier == "基本信息") && Model.Information.FirstOrDefault(s => s.Modifier == "基本信息").Informations.Any(s => s.DisplayName == "官网"))))
    {
        <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Title="相关网站" Icon="@IconType.Link.ToIconString()" Class="mb-4">
                <div>
                    @if (Model.Information.Any(s => s.Modifier == "相关网站"))
                    {
                        @foreach (var item in Model.Information.FirstOrDefault(s => s.Modifier == "相关网站").Informations)
                        {
                            @if (item.DisplayValue.Contains("bilibili.com"))
                            {
                                <BasicInforAloneTip Icon="@IconType.Link" Text="@(item.DisplayName+"：")" Url="@item.DisplayValue" Class="col-12  text-truncate-1" ItemProp="url" />
                            }
                            else if (item.DisplayValue.Contains("weibo.com"))
                            {
                                <BasicInforAloneTip Icon="@IconType.Weibo" Text="微博：" Url="@item.DisplayValue" Class="col-12 text-truncate-1" ItemProp="url" />
                            }
                            else if (item.DisplayValue.Contains("youtube.com"))
                            {
                                <BasicInforAloneTip Icon="@IconType.Youtube" Text="YouTube：" Url="@item.DisplayValue" Class="col-12 text-truncate-1" ItemProp="url" />
                            }
                            else if (item.DisplayValue.Contains("twitter.com"))
                            {
                                <BasicInforAloneTip Icon="@IconType.Twitter" Text="Twitter：" Url="@item.DisplayValue" Class="col-12 text-truncate-1" ItemProp="url" />
                            }
                            else if (item.DisplayValue.Contains("facebook.com"))
                            {
                                <BasicInforAloneTip Icon="@IconType.Facebook" Text="Facebook：" Url="@item.DisplayValue" Class="col-12 text-truncate-1" ItemProp="url" />
                            }
                            else if (item.DisplayValue.Contains("官方") || item.DisplayValue.Contains("官网"))
                            {
                               <BasicInforAloneTip Icon="@IconType.Home" Text="@(item.DisplayName+"：")" Url="@item.DisplayValue" Class="col-12 text-truncate-1" ItemProp="url" />
                           }
                            else
                            {
                                <BasicInforAloneTip Icon="@IconType.Link" Text="@(item.DisplayName+"：")" Url="@item.DisplayValue" Class="col-12 text-truncate-1" ItemProp="url" />
                            }
                        }
                    }

                    @if (Model.Information.Any(s => s.Modifier == "基本信息"))
                    {
                        @if (Model.Information.FirstOrDefault(s => s.Modifier == "基本信息").Informations.Any(s => s.DisplayName == "官网"))
                        {
                            var item = Model.Information.FirstOrDefault(s => s.Modifier == "基本信息").Informations.FirstOrDefault(s => s.DisplayName == "官网");
                            <BasicInforAloneTip Icon="@IconType.Home" Text="官网：" Url="@item.DisplayValue" Class="col-12 text-truncate-1" />
                        }
                    }
                </div>

        </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>

    }
</CnGalWebSite.Shared.MasaComponent.Shared.Components.MiniModeContainer>

@code {
    [Parameter]
    public EventCallback<Operation> OnRevoke { get; set; }
    [Parameter]
    public long Id { get; set; }
    [Parameter]
    public EntryIndexViewModel Model { get; set; }

}
