
@if (Model.InforState == EditState.Preview)
{
    <div class="mb-3">

        <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Buttons.RevokeButton Url="@("/entries/EditAddInfor/" + Model.Id)" ExamineType="Operation.EstablishAddInfor" OnClickRevoke="OnRevoke" />
    </div>
}


@if (Model.Type == EntryType.Game)
{
    <meta itemprop="applicationCategory" content="Game" />
    <meta itemprop="applicationSubCategory" content="AVG" />
}

@if (Model.Information.Any(s => s.Modifier == "基本信息" && s.Informations.Any(s => s.DisplayName != "官网")))
{
    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Title="基础信息" Icon="fa fa-fw fa-info-circle" Class="mb-4">
        <div class="ms-1">
            <div class="row">
                @foreach (var item in Model.Information.FirstOrDefault(s => s.Modifier == "基本信息").Informations)
                {
                    @if (item.DisplayName == "发行时间")
                    {
                        @if (item.DisplayValue.Contains("预计"))
                        {
                            <BasicInforAloneTip Icon="fa-calendar-plus-o" Text="@(item.DisplayName+"："+item.DisplayValue)" Class="col-12" />

                        }
                        else
                        {
                            <BasicInforAloneTip Icon="fa-calendar-check-o" Title="@item.DisplayName" Text="@item.DisplayValue" Class="col-12" ItemProp="datePublished" />

                        }
                    }
                    else if (item.DisplayName == "原作")
                    {
                        <BasicInforAloneTip Icon=" fa-files-o" Text="@(item.DisplayName+"："+item.DisplayValue)" Class="col-12" />
                    }
                    else if (item.DisplayName == "官网" || item.DisplayName == "类型")
                    {

                    }
                    else if (item.DisplayName == "游戏平台")
                    {
                        @foreach (var temp in item.DisplayValue.Replace("，", ",").Replace("、", ",").Split(','))
                        {
                            <meta itemprop="operatingSystem" content="@temp" />
                        }
                        <BasicInforAloneTip Icon="fa-gamepad" Title="@item.DisplayName" Text="@item.DisplayValue" Class="col-12" />
                    }

                    else if (item.DisplayName == "引擎")
                    {
                        <BasicInforAloneTip Icon="fa-anchor" Text="@(item.DisplayName+"："+item.DisplayValue)" Class="col-12" />

                    }

                    else if (item.DisplayName == "发行方式")
                    {
                        <BasicInforAloneTip Icon="fa-bullhorn" Text="@(item.DisplayName+"："+item.DisplayValue)" Class="col-12" />
                    }

                    else if (item.DisplayName == "QQ群")
                    {
                        <BasicInforAloneTip Icon="fa-qq" Title="@item.DisplayName" Text="@item.DisplayValue" Class="col-12" />
                    }

                    else if (item.DisplayName == "声优")
                    {
                        <BasicInforAloneTip Icon="fa-microphone" Text="@("配音："+item.DisplayValue)" Class="col-12" />
                    }

                    else if (item.DisplayName == "性别")
                    {
                        @if (item.DisplayValue == "女")
                        {
                            <BasicInforAloneTip Icon="fa-venus" Title="@item.DisplayName" Text="@item.DisplayValue" Class="col-12" />

                        }
                        else if (item.DisplayValue == "男")
                        {
                            <BasicInforAloneTip Icon="fa-mars" Title="@item.DisplayName" Text="@item.DisplayValue" Class="col-12" />


                        }
                        else
                        {
                            <BasicInforAloneTip Icon="fa-genderless" Title="@item.DisplayName" Text="@item.DisplayValue" Class="col-12" />
                        }
                    }

                    else if (item.DisplayName == "身材数据")
                    {
                        <BasicInforAloneTip Icon="fa-child" Text="@(item.DisplayName+"："+item.DisplayValue)" Class="col-12" />
                    }

                    else if (item.DisplayName == "身材(主观)")
                    {
                        <BasicInforAloneTip Icon="fa-child" Text="@(item.DisplayName+"："+item.DisplayValue)" Class="col-12" />

                    }

                    else if (item.DisplayName == "生日")
                    {
                        <BasicInforAloneTip Icon="fa-birthday-cake" Text="@(item.DisplayName+"："+item.DisplayValue)" Class="col-12" />
                    }

                    else if (item.DisplayName == "发色")
                    {
                        <BasicInforAloneTip Icon="fa-circle" Title="发色" Text="@(item.DisplayValue)" Class="col-12" />
                    }
                    else if (item.DisplayName == "瞳色")
                    {
                        <BasicInforAloneTip Icon="fa-eye" Title="瞳色" Text="@(item.DisplayValue)" Class="col-12" />

                    }
                    else if (item.DisplayName == "服饰")
                    {
                        <BasicInforAloneTip Icon="fa-circle" Text="@(item.DisplayName+"："+item.DisplayValue)" Class="col-12" />
                    }
                    else if (item.DisplayName == "性格")
                    {
                        <BasicInforAloneTip Icon="fa-circle" Text="@(item.DisplayName+"："+item.DisplayValue)" Class="col-12" />
                    }
                    else if (item.DisplayName == "角色身份")
                    {
                        <BasicInforAloneTip Icon="fa-circle" Text="@(item.DisplayName+"："+item.DisplayValue)" Class="col-12" />
                    }
                    else if (item.DisplayName == "血型")
                    {
                        <BasicInforAloneTip Icon="fa-circle" Text="@(item.DisplayName+"："+item.DisplayValue)" Class="col-12" />
                    }
                    else if (item.DisplayName == "身高")
                    {
                        <BasicInforAloneTip Icon="fa-circle" Text="@(item.DisplayName+"："+item.DisplayValue)" Class="col-12" />
                    }
                    else if (item.DisplayName == "兴趣")
                    {
                        <BasicInforAloneTip Icon="fa-circle" Text="@(item.DisplayName+"："+item.DisplayValue)" Class="col-12" />
                    }
                    else if (item.DisplayName == "年龄")
                    {
                        <BasicInforAloneTip Icon="fa-fire" Text="@(item.DisplayName+"："+item.DisplayValue)" Class="col-12" />
                    }
                    else if (item.DisplayName == "姓名")
                    {
                        <BasicInforAloneTip Icon="fa-vcard-o" Text="@("姓名："+item.DisplayValue)" Class="col-12" />
                    }
                    else if (item.DisplayName == "别称")
                    {
                        <BasicInforAloneTip Icon="fa-id-card" Text="@("别称："+item.DisplayValue)" Class="col-12" />
                    }
                    else if (item.DisplayName == "昵称（官方称呼）")
                    {
                        <BasicInforAloneTip Icon="fa-vcard-o" Text="@("昵称："+item.DisplayValue)" Class="col-12" />
                    }
                    else
                    {
                        <BasicInforAloneTip Icon="fa-circle" Text="@(item.DisplayName+"："+item.DisplayValue)" Class="col-12" />
                    }
                }
            </div>

        </div>
    </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>

}


<CnGalWebSite.Shared.MasaComponent.Shared.Components.MiniModeContainer>
    @if (Model.IsHideOutlink == false && (Model.Information.Any(s => s.Modifier == "相关网站") || (Model.Information.Any(s => s.Modifier == "基本信息") && Model.Information.FirstOrDefault(s => s.Modifier == "基本信息").Informations.Any(s => s.DisplayName == "官网"))))
    {
        <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Title="相关网站" Icon="fa fa-fw fa-link" Class="mb-4">
            <div class="ms-1">
                <div class="row">
                    @if (Model.Information.Any(s => s.Modifier == "相关网站"))
                    {
                        @foreach (var item in Model.Information.FirstOrDefault(s => s.Modifier == "相关网站").Informations)
                        {
                            @if (item.DisplayValue.Contains("bilibili.com"))
                            {
                                <BasicInforAloneTip Icon="fa-external-link-square" Text="@(item.DisplayName+"：")" Url="@item.DisplayValue" Class="col-12  text-truncate-1" ItemProp="url" />
                            }
                            else if (item.DisplayValue.Contains("weibo.com"))
                            {
                                <BasicInforAloneTip Icon=" fa-weibo" Text="微博：" Url="@item.DisplayValue" Class="col-12 text-truncate-1" ItemProp="url" />
                            }
                            else if (item.DisplayValue.Contains("youtube.com"))
                            {
                                <BasicInforAloneTip Icon="fa-youtube" Text="YouTube：" Url="@item.DisplayValue" Class="col-12 text-truncate-1" ItemProp="url" />
                            }
                            else if (item.DisplayValue.Contains("twitter.com"))
                            {
                                <BasicInforAloneTip Icon="fa-twitter" Text="Twitter：" Url="@item.DisplayValue" Class="col-12 text-truncate-1" ItemProp="url" />
                            }
                            else if (item.DisplayValue.Contains("facebook.com"))
                            {
                                <BasicInforAloneTip Icon="fa-facebook" Text="Facebook：" Url="@item.DisplayValue" Class="col-12 text-truncate-1" ItemProp="url" />
                            }
                            else
                            {
                                <BasicInforAloneTip Icon=" fa-external-link-square" Text="@(item.DisplayName+"：")" Url="@item.DisplayValue" Class="col-12 text-truncate-1" ItemProp="url" />
                            }
                        }
                    }

                    @if (Model.Information.Any(s => s.Modifier == "基本信息"))
                    {
                        @if (Model.Information.FirstOrDefault(s => s.Modifier == "基本信息").Informations.Any(s => s.DisplayName == "官网"))
                        {
                            var item = Model.Information.FirstOrDefault(s => s.Modifier == "基本信息").Informations.FirstOrDefault(s => s.DisplayName == "官网");
                            <BasicInforAloneTip Icon="fa-coffee" Text="官网：" Url="@item.DisplayValue" Class="col-12 text-truncate-1" />
                        }
                    }
                </div>
            </div>

        </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>

    }
</CnGalWebSite.Shared.MasaComponent.Shared.Components.MiniModeContainer>

@code {
    [Parameter]
    public EventCallback<Operation> OnRevoke { get; set; }
    [Parameter]
    public long Id { get; set; }
    [Parameter]
    public EntryIndexViewModel Model { get; set; }

}
