@inject IDataCacheService _dataCacheService
@inject NavigationManager NavigationManager



<MTimeline Class="ms-2 me-2" Dense="_dataCacheService.IsApp||Model.Count<3">
    @foreach (var item in Model.OrderByDescending(s => s.ApplyTime))
    {
        <MTimelineItem Large>
            <IconContent>
                <MAvatar Class="pointer" @onclick="@(()=>OnClickUser(item))"  Color="white">
                    <img src="@item.UserImage" loading="lazy" />
                </MAvatar>
            </IconContent>
            <OppositeContent>
                <span>@item.ApplyTime.ToString("yyyy-MM-dd HH:mm")</span>
            </OppositeContent>
            <ChildContent>
                <MCard Class="elevation-2" @onclick="@(()=>OnClickExamine(item))">
                    <MCardText>
                        @if (Model.IndexOf(item) % 2 == 0 || (_dataCacheService.IsApp || Model.Count < 3))
                        {
                            <div class="comment-tx-div">
                                <div style=" display: flex; flex-wrap: wrap; align-items: center; ">
                                   <RanksViewCard Model="item.Ranks" Outline ForceDisplayBadge/>
                                    <div class="comment-username a-font-color me-2">@item.UserName</div>

                                    <div class="comment-username" style="color:gray;">@item.ApplyTime.ToTimeFromNowString()</div>

                                </div>
                                <span class="me-2">@item.Operation.GetDisplayName()</span>

                            </div>
                        }
                        else
                        {
                            <div class="comment-tx-div">
                                <div style=" display: flex; flex-wrap: wrap; justify-content: flex-end; align-items: center;">
                                    <div class="comment-username" style="color:gray;">@item.ApplyTime.ToTimeFromNowString()</div>

                                    <div class="comment-username a-font-color me-2 ms-2">@item.UserName</div>

                                    <RanksViewCard Model="item.Ranks" Outline ForceDisplayBadge />
                                </div>
                                <span class="me-2" style="text-align: end;">@item.Operation.GetDisplayName()</span>

                            </div>
                        }

                    </MCardText>
                </MCard>
            </ChildContent>
        </MTimelineItem>
    }
</MTimeline>
@code {
    [Parameter]
    public List<ExaminedNormalListModel> Model { get; set; }
    [Parameter]
    public EventCallback OnNavClick { get; set; }


    protected override async Task OnInitializedAsync()
    {

    }

    public async Task OnClickUser(ExaminedNormalListModel model)
    {
        await OnNavClick.InvokeAsync();

        NavigationManager.NavigateTo("/space/index/" + model.UserId);
    }
    public async Task OnClickExamine(ExaminedNormalListModel model)
    {
        await OnNavClick.InvokeAsync();

        NavigationManager.NavigateTo("/home/editrecord?ContrastId=" + model.Id);

    }
}
