<TabLink Icon="fa fa-pencil" Url="@("/home/editrecord?ContrastId=" +Model.Id+"&CurrentId="+LastExamineId)" Text="@(Model.RelatedName + " 编辑记录")"
         class="a-font-color col-12 col-lg-6">
    <div>
        <UserRankTextViewTip UserId="@Model.UserId" UserName="@Model.UserName" Image="@Model.UserImage" Ranks="@Model.Ranks" Time="@Model.ApplyTime"  IsRight="IsRight"
                             Text="@(Model.Operation.GetDisplayName())"></UserRankTextViewTip>
    </div>
</TabLink>
@code {
    [Parameter]
    public ExaminedNormalListModel Model { get; set; }
    [Parameter]
    public long LastExamineId { get; set; }
    [Parameter]
    public bool IsRight { get; set; }

}
