@inject ToastService ToastService
@inject NavigationManager NavigationManager

@if (IsTitile)
{
    <div class="@((ForceSmall?"app-card-tag mb-1 ":"outline-button-title badge bg-title ")+" me-2 bg-title-color-"+ColorNum)" style="@(ForceSmall?"border-radius: 5px;":"")">

        <span itemscope itemprop="@ItemProp" itemtype="@ItemType">
            <span itemprop="@(string.IsNullOrWhiteSpace(ItemType)?"":"name")">
                @Text
            </span>
        </span>

    </div>
}
else
{
    <a href="@Url" @onclick="OnClickNull"  class="@((ForceSmall?" bg-context-main ps-2 pe-2 mb-1 ":"btn outline-button-normal")+" me-2  bg-context-"+ColorNum)" style="@(ForceSmall?"border: 1px solid var(--main-color);border-radius: 5px;":"")">

        @if (string.IsNullOrWhiteSpace(Url))
        {
            <span itemprop="@ItemProp">
                @Text
            </span>
        }
        else
        {
            <span itemscope itemprop="@ItemProp" itemtype="@ItemType">
                <span itemprop="@(string.IsNullOrWhiteSpace(ItemType)?"":"name")">
                    @Text
                </span>
            </span>
        }


        @if (IsShowExistTag)
        {
            <i class="fa fa-check-circle fa-fw"></i>
        }
    </a>
}


@code {
    [Parameter]
    public bool IsTitile { get; set; }
    [Parameter]
    public string Text { get; set; }
    [Parameter]
    public string Url { get; set; }
    [Parameter]
    public bool IsExist { get; set; }
    [Parameter]
    public bool IsNotShowTip { get; set; }

    [Parameter]
    public bool IsShowExistTag { get; set; }
    [Parameter]
    public string ItemProp { get; set; }
    [Parameter]
    public string ItemType { get; set; }
    [Parameter]
    public string ColorNum { get; set; }

    [Parameter]
    public bool ForceSmall { get; set; }


    public async Task OnClickNull()
    {
        if (IsNotShowTip == false&&string.IsNullOrWhiteSpace(Url))
        {
            if (IsShowExistTag)
            {
                NavigationManager.NavigateTo( "/entries/establishentry?Name=" + Text);
            }
            else
            {
                await ToastService.Error("该词条不存在", "你可以亲自创建“" + Text + "”哦~");

            }
        }


    }
}
