@inject ToastService ToastService
@inject IServiceProvider Provider
@inject NavigationManager NavigationManager

@if (IsTitile)
{
    <div class="@("outline-button-title badge me-2 bg-title bg-title-color-"+ColorNum)">

        <span itemscope itemprop="@ItemProp" itemtype="@ItemType">
            <span itemprop="@(string.IsNullOrWhiteSpace(ItemType)?"":"name")">
                @Text
            </span>
        </span>

    </div>
}
else
{
    @if (string.IsNullOrWhiteSpace(Url))
    {
        <div @onclick="OnClickNull"
             class="@("btn me-2 outline-button-null-url bg-context-"+ColorNum)">

                <span itemprop="@ItemProp">
                    @Text
                </span>
            
        </div>

    }
    else
    {
        <TabLink Text="@Text" Url="@Url" Icon="@Icon"
                 class="@("btn me-2 outline-button-normal bg-context-"+ColorNum)">

            <span itemscope itemprop="@ItemProp" itemtype="@ItemType">
                <span itemprop="@(string.IsNullOrWhiteSpace(ItemType)?"":"name")">
                    @Text
                </span>

            </span>
            
            @if (IsShowExistTag)
            {
                <i class="fa fa-check-circle fa-fw"></i>
            }
        </TabLink>
    }
}


@code {
    [Parameter]
    public bool IsTitile { get; set; }
    [Parameter]
    public string Text { get; set; }
    [Parameter]
    public string Url { get; set; }
    [Parameter]
    public string Icon { get; set; }
    [Parameter]
    public bool IsExist { get; set; }
    [Parameter]
    public bool IsNotShowTip { get; set; }

    [Parameter]
    public bool IsShowExistTag { get; set; }
    [Parameter]
    public string ItemProp { get; set; }
    [Parameter]
    public string ItemType { get; set; }
    [Parameter]
    public string ColorNum { get; set; }

    public async Task OnClickNull()
    {
        if (IsNotShowTip == false)
        {
            if (IsShowExistTag)
            {
                NavigationManager.NavigateTo(Provider, "/entries/establishentry?Name=" + Text, "创建词条", "fa-pencil");
            }
            else
            {
                await ToastService.Error("该词条不存在", "你可以亲自创建“" + Text + "”哦~");

            }
        }


    }
}
