@if (Model.Staffs != null && Model.Staffs.Count != 0)
{
    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Title="Staff" TextColor="bg-color-1" Icon="fa fa-fw fa-sitemap">
        <div class="row">
            @{ int rx = 1;}
            @foreach (var item in Model.Staffs)
            {
                bool isUsed = true;



                @if (string.IsNullOrWhiteSpace(item.Modifier) == false)
                {
                    rx++;
                    if (rx > 11)
                    {
                        rx = 1;
                    }
                    isUsed = true;
                    <h3 class="col-12 h6 @("bg-color-"+rx.ToString()) ">
                        @item.Modifier
                    </h3>
                }

                @foreach (var infor in item.StaffList)
                {
                    if (isUsed == false)
                    {
                        rx++;
                        if (rx > 11)
                        {
                            rx = 1;
                        }
                    }
                    else
                    {
                        isUsed = false;
                    }
                    <div class="h4 col-12 mb-2" style="margin-bottom: 0.1rem; display: flex; flex-wrap: wrap; ">
                        <OutlineButton IsTitile="true" Text="@infor.Modifier" ColorNum="@rx.ToString()" />

                        @foreach (var temp in infor.Names)
                        {
                            <OutlineButton IsTitile="false" Text="@temp.DisplayName" ColorNum="@rx.ToString()" IsExist="@( temp.Id>0)" IsShowExistTag="Model.IsEdit"
                                           Url="@(temp.Id>0? "/entries/index/" + temp.Id:"")" Icon="fa fa-codepen" />
                        }
                    </div>
                }
            }

        </div>
    </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>
}

@code {
    [Parameter]
    public EntryIndexViewModel Model { get; set; }
}
