@if (Model.Staffs != null && Model.Staffs.Count != 0)
{
    <div class="  rounded shadow  ps-3 pe-3 pt-2 pb-2 mb-3 bg-opacity rounded">
        <div class="row">
            @if (IsSmallScreen == false)
            {
                <div class="">
                    <h2 class="fw-bold pb-3 m-0 bg-color-1 h5"><i class="fa fa-sitemap"></i>&nbsp;&nbsp;STAFF</h2>
                </div>
            }
            @{ int rx = 1;}
            @foreach (var item in Model.Staffs)
            {
                bool isUsed = true;



                @if (string.IsNullOrWhiteSpace(item.Modifier) == false)
                {
                    rx++;
                    if (rx > 11)
                    {
                        rx = 1;
                    }
                    isUsed = true;
                    <h3 class="col-12 h6 @("bg-color-"+rx.ToString()) ">
                        @item.Modifier
                    </h3>
                }

                @foreach (var infor in item.StaffList)
                {
                    if (isUsed == false)
                    {
                        rx++;
                        if (rx > 11)
                        {
                            rx = 1;
                        }
                    }
                    else
                    {
                        isUsed = false;
                    }
                    <div class="h4 col-12 col-sm-6 mb-2 @(IsLargeScreen?" col-xl-12":"")" style="margin-bottom: 0.1rem; display: flex; flex-wrap: wrap; ">

                        <OutlineButton IsTitile="true" Text="@infor.Modifier" ColorNum="@rx.ToString()" />

                        @foreach (var temp in infor.Names)
                        {
                            <OutlineButton IsTitile="false" Text="@temp.DisplayName" ColorNum="@rx.ToString()" IsExist="@( temp.Id>0)" IsShowExistTag="Model.IsEdit"
                                           Url="@(temp.Id>0? "/entries/index/" + temp.Id:"")" Icon="fa fa-codepen" />
                        }
                    </div>
                }
            }

        </div>

    </div>
}

@code {
    [Parameter]
    public EntryIndexViewModel Model { get; set; }
    [Parameter]
    public bool IsLargeScreen { get; set; }
    [Parameter]
    public bool IsSmallScreen { get; set; }

}
