@inject HttpClient Http


<CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Title="Steam信息" Icon="fa fa-fw fa-steam" >
    <div class="row" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
        @if (IsReady)
        {
            @if (SteamInfor.PriceNow > 0)
            {
                <span class="col-12">
                    <i class="fa fa-fw font-color fa-money"></i>&nbsp; &nbsp;
                    <span>当前价格：¥</span>
                    @if (SteamInfor.CutNow > 0)
                    {
                        <s>@((SteamInfor.OriginalPrice/100.0).ToString(" 0.00"))</s>
                    }
                    <span> @(" "+(SteamInfor.PriceNow/100.0).ToString("0.00") + (SteamInfor.CutNow == 0 ? "" : " - 折扣 " + SteamInfor.CutNow + "%"))</span>
                </span>
                @if (SteamInfor.CutLowest > 0)
                {
                    <BasicInforAloneTip Icon="fa-area-chart" Text="@("历史最低：" + SteamInfor.PriceLowestString + (SteamInfor.CutLowest == 0 ? "" : " - 折扣 " + SteamInfor.CutLowest + "%"))" Class="col-12" />
                }
            }
            else if (SteamInfor.PriceNow == 0)
            {
                <BasicInforAloneTip Icon="fa-check-circle-o" Text="当前价格：¥ 0.00 - Free" Class="col-12" />

            }
            else if (SteamInfor.PriceNow == -1)
            {
                <BasicInforAloneTip Icon="fa-calendar-plus-o" Text="未发售" Class="col-12" />
                <meta itemprop="availability" content="PreOrder" />

            }
            else if (SteamInfor.PriceNow == -2)
            {
                <BasicInforAloneTip Icon="fa-calendar-times-o" Text="已下架" Class="col-12" />
                <meta itemprop="availability" content="SoldOut" />
            }
            @if (SteamInfor.EvaluationCount > 0)
            {
                <BasicInforAloneTip Icon="fa-thumbs-o-up" Text="@($"{SteamInfor.RecommendationRate}% 好评（{SteamInfor.EvaluationCount}条评测）")" Class="col-12" />

            }

            @if (SteamInfor.OriginalPrice >= 0)
            {
                <meta itemprop="priceCurrency" content="CNY" />
                <meta itemprop="price" content="@(SteamInfor.OriginalPrice/100.0)" />
            }
        }

        <BasicInforAloneTip Icon="fa-home" Text="商店页面：" Url="@("https://store.steampowered.com/app/" + Model.SteamId)" Class="col-12 text-truncate-1" ItemProp="url" />
    </div>
</CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>

@code {
    public SteamInfor SteamInfor { get; set; } = new SteamInfor();

    [Parameter]
    public EntryIndexViewModel Model { get; set; }

    public bool IsReady = false;

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            if (Model.SteamId == 0 || Model.Id == 0)
            {
                return;
            }
            SteamInfor = await Http.GetFromJsonAsync<SteamInfor>(ToolHelper.WebApiPath + "api/steam/Getsteaminfor/" + Model.SteamId + "/" + Model.Id);
            IsReady = true;
            StateHasChanged();
        }
        catch (Exception exc)
        {
            IsReady = true;
            StateHasChanged();
        }

    }

}
