@page "/lotteries/drawlottery/{Id}"
@attribute [Authorize(Roles = "Admin")]

@inject HttpClient Http
@inject ExamineService _examineService
@inject ILocalStorageService _localStorage
@inject ToastService? ToastService
@inject IAppHelper _appHelper
@inject IServiceProvider Provider
@inject NavigationManager NavigationManager
@inject IDataCacheService _dataCacheService

<TitleTip Title="抽奖"/>

<div>
    @if (isReady)
    {
        <CnGalWebSite.Shared.Component.Lotteries.DrawPage.LotteryAnimationCard @ref="lotteryAnimationCard" OnClickRoll="OnDrawLottery" />

        <div class=" p-4" style=" display: flex; flex-direction: column; align-items: center; font-size: large;">

            @if (CurrentAward == null)
            {
                <span class="fw-bold font-color">抽奖结束</span>
            }
            else
            {
                @if (string.IsNullOrWhiteSpace(CurrentAward.Sponsor) == false)
                {
                    <span>
                        即将抽选由
                        <strong class="font-color">  @CurrentAward.Sponsor</strong>
                        提供的
                        <strong class="font-color">  @CurrentAward.Name</strong>
                    </span>
                }
                else
                {
                    <span>
                        即将抽选
                        <strong class="font-color">  @CurrentAward.Name</strong>
                    </span>
                }
            }

            @if (LastWinningUser != null)
            {
                if (LastAward != null)
                {
                    @if (string.IsNullOrWhiteSpace(LastAward.Sponsor) == false)
                    {
                        <span>
                            恭喜用户
                            <strong class="font-color">  @LastWinningUser.Name</strong>
                            获得由
                            <strong class="font-color">  @LastAward.Sponsor</strong>
                            提供的
                            <strong class="font-color">  @LastAward.Name</strong>
                        </span>
                    }
                    else
                    {
                        <span>
                            恭喜用户
                            <strong class="font-color">  @LastWinningUser.Name</strong>
                            获得
                            <strong class="font-color">  @LastAward.Name</strong>
                        </span>
                    }
                }

            }


        </div>

    }
    else
    {
        <div class="  rounded shadow-sm  bg-opacity rounded p-4">
            <div>
                <SkeletonParagraph />
                <div class="mt-2">
                </div>
                <SkeletonParagraph />
                <div class="mt-2">
                </div>
                <SkeletonParagraph />
                <div class="mt-2">
                </div>
                <SkeletonParagraph />
                <div class="mt-2">
                </div>
                <SkeletonParagraph />
            </div>
        </div>
    }

</div>

@code {
    [Parameter]
    public string Id { get; set; }
    CnGalWebSite.Shared.Component.Lotteries.DrawPage.LotteryAnimationCard lotteryAnimationCard;
    public DrawLotteryDataModel Model = new DrawLotteryDataModel();

    public LotteryAwardDataModel CurrentAward;

    public LotteryUserDataModel LastWinningUser;
    public LotteryAwardDataModel LastAward;

    public LotteryAwardDataModel NextAward;

    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }

    bool isReady = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Model = await Http.GetFromJsonAsync<DrawLotteryDataModel>(ToolHelper.WebApiPath + "api/lotteries/GetLotteryData/" + Id);
            await GetAward();
            isReady = true;
        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, "获取抽奖数据失败");
        }
    }

    public async Task OnDrawLottery()
    {
        if(CurrentAward==null)
        {
            await ToastService.Error("抽奖失败", "全部奖品已经抽完");
            return;
        }
        if (Model.NotWinningUsers.Count == 0)
        {
            await ToastService.Error("抽奖失败", "所有参与的用户都已抽中，但是还有奖品剩余");
            return;
        }

        var index = new Random().Next(0, Model.NotWinningUsers.Count - 1);
        //展示动画
        if (lotteryAnimationCard != null)
        {
            await lotteryAnimationCard.Roll(Model.NotWinningUsers[index].Number);
        }
        await Task.Delay(1000);

        LastWinningUser = Model.NotWinningUsers[index];
        Model.NotWinningUsers.Remove(LastWinningUser);

        CurrentAward.WinningUsers.Add(LastWinningUser);

        var model = new ManualLotteryModel
        {
            LotteryAwardId = CurrentAward.Id,
            LotteryId = Model.Id,
            UserId = LastWinningUser.Id
        };

        await GetAward();
        var task = Task.Run(async () =>
        {
            try
            {
                var result = await Http.PostAsJsonAsync<ManualLotteryModel>(ToolHelper.WebApiPath + "api/lotteries/DrawLottery", model);
                string jsonContent = result.Content.ReadAsStringAsync().Result;
                Result obj = JsonSerializer.Deserialize<Result>(jsonContent, ToolHelper.options);
                //判断结果
                if (obj.Successful == false)
                {
                    await ToastService.Error("抽奖失败", obj.Error);
                }
            }
            catch (Exception ex)
            {
                //var resulte = "";
                //using (TextWriter text = new StringWriter())
                //{
                //    var serializer = new Newtonsoft.Json.JsonSerializer();
                //    serializer.Serialize(text, model);
                //    resulte = text.ToString();
                //}

                //_dataCacheService.DelayedTaskList.Add(new DelayedTask
                //{
                //    Context = resulte,
                //    CreateTime = DateTime.Now.ToCstTime(),
                //    Type = DelayedTaskType.DrawLottery
                //});

                //await _localStorage.SetItemAsync("DelayedTasks", _dataCacheService.DelayedTaskList);
            }
        });
    }

    public async Task GetAward()
    {

        LastAward = CurrentAward;


        var awards = Model.Awards.Where(s => s.TotalCount > s.WinningUsers.Count).OrderByDescending(s => s.Priority).ToList();


        if (awards.Count == 0)
        {

            CurrentAward = NextAward = null;
            //抽奖结束
            await EndLottery();
            return;
        }
        CurrentAward = awards[0];
        if (CurrentAward.TotalCount - CurrentAward.WinningUsers.Count > 1)
        {
            NextAward = CurrentAward;
        }
        else
        {
            if (awards.Count > 1)
            {
                NextAward = awards[1];
            }
            else
            {
                NextAward = null;
                return;
            }

        }

    }

    public async Task EndLottery()
    {
        try
        {
            var result = await Http.PostAsJsonAsync<EndLotteryModel>(ToolHelper.WebApiPath + "api/lotteries/EndLottery", new EndLotteryModel { Ids = new long[] { Model.Id }, IsEnd = true });
            string jsonContent = result.Content.ReadAsStringAsync().Result;
            Result obj = JsonSerializer.Deserialize<Result>(jsonContent, ToolHelper.options);
            //判断结果
            if (obj.Successful == false)
            {
                await ToastService.Error("结束抽奖失败", obj.Error);
            }
        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, "结束抽奖失败");
        }
    }
}
