
@if (Model.ChildTagsState == EditState.Preview)
{
        <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Buttons.RevokeButton Url="@("/tags/EditChildTags/" + Model.Id)" ExamineType="Operation.EditTagChildTags" OnClickRevoke="OnClickRevoke"/>

}
<CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Title="子标签" Icon="@IconType.Tags.ToIconString()" Collapable>
    <div class="row">
        @foreach (var item in Model.ChildrenTags)
        {

            <div class="col-6 col-md-6 col-lg-4 col-xxl-3 mt-2">
                <TabLink Text="@item.Name" Url="@("/tags/index/"+item.Id)" Icon="fa fa-tag">@item.Name</TabLink>
                <hr />
            </div>
        }
    </div>
</CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>

@code {
    [Parameter]
    public TagIndexViewModel Model { get; set; } = new TagIndexViewModel();
    [Parameter]
    public EventCallback<Operation> OnClickRevoke { get; set; }
}
