@inject IAuthService AuthService
@inject HttpClient Http
@inject ToastService? ToastService
@inject IServiceProvider Provider
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

<div>

    <Table TItem="ListRobotGroupAloneModel" IsPagination="true" PageItemsSource="@PageItems" OnQueryAsync="@OnQueryBasicAsync" SearchModel="@searchModel" ShowSearch="true" @ref="TableRows"
           ShowExtendButtons="true" ExtendButtonColumnWidth="120" SelectedRows="@SelectedRows" IsMultipleSelect="true" IsStriped=true
           ShowExportButton="true" ShowToolbar="true" ShowDefaultButtons="false" FixedExtendButtonsColumn="true">
        <TableToolbarTemplate>
            <TableToolbarButton TItem="ListRobotGroupAloneModel" Color="Color.Success" Icon="fa fa-plus" Text="添加"
                                OnClickCallback="@(async (IEnumerable<ListRobotGroupAloneModel> e)=> {await OnEditModel(new ListRobotGroupAloneModel());})" IsAsync="true" />
            <TableToolbarButton TItem="ListRobotGroupAloneModel" Color="Color.Primary" Icon="fa fa-map-signs" Text="显示" OnClickCallback="OnUnHiddenClick" IsAsync="true" />
            <TableToolbarButton TItem="ListRobotGroupAloneModel" Color="Color.Danger" Icon="fa fa-unlink" Text="隐藏" OnClickCallback="OnHiddenClick" IsAsync="true" />

        </TableToolbarTemplate>
        <TableColumns>
            <TableColumn @bind-Field="@context.Id" Sortable="true" DefaultSort="true" DefaultSortOrder="@SortOrder.Desc" Fixed="true" Width="80" />
            <TableColumn @bind-Field="@context.GroupId" Searchable="true" Sortable="true" Width="120"/>
            <TableColumn @bind-Field="@context.IsHidden" Sortable="true" ComponentType="@typeof(Switch)" Width="110" />
        </TableColumns>
        <RowButtonTemplate>
            <TableCellButton AutoSelectedRowWhenClick="false" Size="Size.ExtraSmall" Color="Color.Success" Icon="fa fa-pencil" Text="编辑" IsAsync="true" OnClickWithoutRender="@(() =>  OnEditModel( context))" />

            <TableCellButton AutoSelectedRowWhenClick="false" Size="Size.ExtraSmall" Color="Color.Primary" Icon="fa fa-map-signs" Text="显示" IsAsync="true" OnClickWithoutRender="@(() => OnRowEditIsHiddenClick(new long[] { context.Id }, false, true))" IsShow="context.IsHidden" />

            <TableCellButton AutoSelectedRowWhenClick="false" Size="Size.ExtraSmall" Color="Color.Danger" Icon="fa fa-unlink" Text="隐藏" IsAsync="true" OnClickWithoutRender="@(() => OnRowEditIsHiddenClick(new long[] { context.Id }, true, true))" IsShow="!context.IsHidden" />
        </RowButtonTemplate>
    </Table>

</div>
@code {
    [NotNull]
    private Table<ListRobotGroupAloneModel>? TableRows { get; set; }
    private List<ListRobotGroupAloneModel> SelectedRows { get; set; } = new();

    public ListRobotGroupsViewModel ListModel { get; set; } = new ListRobotGroupsViewModel { RobotGroups = new List<ListRobotGroupAloneModel>() };

    private ListRobotGroupAloneModel searchModel { get; set; } = new ListRobotGroupAloneModel();

    private IEnumerable<int> PageItems => new int[] { 10, 40, 80, 200, 5000 };

    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }


    protected override async Task OnInitializedAsync()
    {

    }

    private async Task<QueryData<ListRobotGroupAloneModel>> OnQueryBasicAsync(QueryPageOptions options)
    {
        try
        {
            options.Filters = new List<IFilterAction>();
            options.Searchs = new List<IFilterAction>();

            var result = await Http.PostAsJsonAsync<RobotGroupsPagesInfor>(ToolHelper.WebApiPath + "api/robot/GetRobotGroupList", new RobotGroupsPagesInfor { SearchModel = searchModel, Options = (QueryPageOptionsHelper)options });
            string jsonContent = result.Content.ReadAsStringAsync().Result;
            return JsonSerializer.Deserialize<QueryData<ListRobotGroupAloneModel>>(jsonContent, ToolHelper.options);
        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, "无法获取QQ群列表");
            return new QueryData<ListRobotGroupAloneModel>();
        }
    }


    private async Task OnRowEditIsHiddenClick(long[] ids, bool isHidden, bool showMessage)
    {
        string tempString = isHidden == true ? "取关" : "关注";
        //调用API
        try
        {
            var result = await Http.PostAsJsonAsync<HiddenRobotModel>(ToolHelper.WebApiPath + "api/robot/HiddenRobotGroup", new HiddenRobotModel { Ids = ids, IsHidden = isHidden });
            string jsonContent = result.Content.ReadAsStringAsync().Result;
            var obj = JsonSerializer.Deserialize<Result>(jsonContent, ToolHelper.options);



            if (obj.Successful == false)
            {
                await ToastService.Error(tempString + "QQ群失败", obj.Error);
            }
            else
            {
                if (showMessage)
                {
                    await ToastService.Success(tempString + "QQ群成功", tempString + "QQ群成功");
                    await TableRows.QueryAsync();
                }
            }
        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, tempString + "QQ群失败");
        }
    }

    private async Task OnHiddenClick(IEnumerable<ListRobotGroupAloneModel> items)
    {
        if (items.Count() == 0)
        {
            await ToastService.Information("没有修改QQ群状态", "请选中QQ群");
            return;
        }

        await OnRowEditIsHiddenClick(items.Select(s => s.Id).ToArray(), true, false);

        await ToastService.Success("取消暂停事件成功", "取消暂停事件成功");
        await TableRows.QueryAsync();
    }
    private async Task OnUnHiddenClick(IEnumerable<ListRobotGroupAloneModel> items)
    {
        if (items.Count() == 0)
        {
            await ToastService.Information("没有修改QQ群状态", "请选中QQ群");
            return;
        }

        await OnRowEditIsHiddenClick(items.Select(s => s.Id).ToArray(), false, false);

        await ToastService.Success("暂停QQ群成功", "暂停QQ群成功");
        await TableRows.QueryAsync();
    }



    [Inject]
    [NotNull]
    private DialogService? DialogService { get; set; }

    public async Task OnEditModel(ListRobotGroupAloneModel item)
    {
        var model = Utility.GenerateEditorItems<ListRobotGroupAloneModel>();

        var option = new EditDialogOption<ListRobotGroupAloneModel>()
        {
            Title = item.Id == 0 ? "添加QQ群" : "编辑QQ群",
            Model = item,
            Items = model,
            OnCloseAsync = () =>
            {
            //Trace.Log("关闭按钮被点击");
            return Task.CompletedTask;
            },
            OnEditAsync = async context =>
            {
            // Trace.Log("保存按钮被点击");
            var editModel = (ListRobotGroupAloneModel)context.Model;

                return await EditData(editModel);
            }
        };

        await DialogService.ShowEditDialog(option);
    }

    public async Task<bool> EditData(ListRobotGroupAloneModel model)
    {
        try
        {
            var result = await Http.PostAsJsonAsync<ListRobotGroupAloneModel>(ToolHelper.WebApiPath + "api/robot/UpdateRobotGroupData", model);
            string jsonContent = result.Content.ReadAsStringAsync().Result;
            var obj = JsonSerializer.Deserialize<Result>(jsonContent, ToolHelper.options);

            if (obj.Successful == false)
            {
                await ToastService.Error("保存数据失败", obj.Error);
                return false;
            }
            else
            {

                await ToastService.Success("保存数据成功", "保存数据成功");
                await TableRows.QueryAsync();
                return true;
            }
        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, "保存数据失败");
            return false;
        }
    }

}
