@inject IAuthService AuthService
@inject HttpClient Http
@inject ToastService? ToastService
@inject IServiceProvider Provider
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

<div>

    <Table TItem="ListRobotFaceAloneModel" IsPagination="true" PageItemsSource="@PageItems" OnQueryAsync="@OnQueryBasicAsync" SearchModel="@searchModel" ShowSearch="true" @ref="TableRows"
           ShowExtendButtons="true" ExtendButtonColumnWidth="120" SelectedRows="@SelectedRows" IsMultipleSelect="true" IsStriped=true
            ShowToolbar="true" ShowDefaultButtons="false" FixedExtendButtonsColumn="true">
        <TableToolbarTemplate>
            <TableToolbarButton TItem="ListRobotFaceAloneModel" Color="Color.Warning" Icon="fa fa-upload" Text="导入"
                                OnClickCallback="@(async (IEnumerable<ListRobotFaceAloneModel> e)=> {await OnImportModel(new ImportRobotsModel());})" IsAsync="true" />
            <TableToolbarButton TItem="ListRobotFaceAloneModel" Color="Color.Success" Icon="fa fa-plus" Text="添加"
                                OnClickCallback="@(async (IEnumerable<ListRobotFaceAloneModel> e)=> {await OnEditModel(new ListRobotFaceAloneModel());})" IsAsync="true" />
            <TableToolbarButton TItem="ListRobotFaceAloneModel" Color="Color.Primary" Icon="fa fa-map-signs" Text="显示" OnClickCallback="OnUnHiddenClick" IsAsync="true" />
            <TableToolbarButton TItem="ListRobotFaceAloneModel" Color="Color.Danger" Icon="fa fa-unlink" Text="隐藏" OnClickCallback="OnHiddenClick" IsAsync="true" />

        </TableToolbarTemplate>
        <TableColumns>
            <TableColumn @bind-Field="@context.Id" Sortable="true" DefaultSort="true" DefaultSortOrder="@SortOrder.Desc" Fixed="true" Width="80" />
            <TableColumn @bind-Field="@context.Note" Searchable="true" Sortable="true" Width="200" TextWrap="true" />
            <TableColumn @bind-Field="@context.Key" Searchable="true" Sortable="true" Width="200" TextWrap="true" />
            <TableColumn @bind-Field="@context.Value" Searchable="true" Sortable="true" Width="200" TextWrap="true" />
            <TableColumn @bind-Field="@context.IsHidden" Sortable="true" ComponentType="@typeof(Switch)" Width="110" />
        </TableColumns>
        <RowButtonTemplate>
            <TableCellButton AutoSelectedRowWhenClick="false" Size="Size.ExtraSmall" Color="Color.Success" Icon="fa fa-pencil" Text="编辑" IsAsync="true" OnClickWithoutRender="@(() =>  OnEditModel( context))" />

            <TableCellButton AutoSelectedRowWhenClick="false" Size="Size.ExtraSmall" Color="Color.Primary" Icon="fa fa-map-signs" Text="显示" IsAsync="true" OnClickWithoutRender="@(() => OnRowEditIsHiddenClick(new long[] { context.Id }, false, true))" IsShow="context.IsHidden" />

            <TableCellButton AutoSelectedRowWhenClick="false" Size="Size.ExtraSmall" Color="Color.Danger" Icon="fa fa-unlink" Text="隐藏" IsAsync="true" OnClickWithoutRender="@(() => OnRowEditIsHiddenClick(new long[] { context.Id }, true, true))" IsShow="!context.IsHidden" />
        </RowButtonTemplate>
    </Table>

</div>
@code {
    [NotNull]
    private Table<ListRobotFaceAloneModel>? TableRows { get; set; }
    private List<ListRobotFaceAloneModel> SelectedRows { get; set; } = new();

    public ListRobotFacesViewModel ListModel { get; set; } = new ListRobotFacesViewModel { RobotFaces = new List<ListRobotFaceAloneModel>() };

    private ListRobotFaceAloneModel searchModel { get; set; } = new ListRobotFaceAloneModel();

    private IEnumerable<int> PageItems => new int[] { 10, 40, 80, 200, 5000 };

    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }


    protected override async Task OnInitializedAsync()
    {

    }

    private async Task<QueryData<ListRobotFaceAloneModel>> OnQueryBasicAsync(QueryPageOptions options)
    {
        try
        {
            var result = await Http.PostAsJsonAsync<RobotFacesPagesInfor>(ToolHelper.WebApiPath + "api/robot/GetRobotFaceList", new RobotFacesPagesInfor { SearchModel = searchModel, Options = (QueryPageOptionsHelper)options });
            string jsonContent = result.Content.ReadAsStringAsync().Result;
            return JsonSerializer.Deserialize<QueryData<ListRobotFaceAloneModel>>(jsonContent, ToolHelper.options);
        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, "无法获取表情列表");
            return new QueryData<ListRobotFaceAloneModel>();
        }
    }


    private async Task OnRowEditIsHiddenClick(long[] ids, bool isHidden, bool showMessage)
    {
        string tempString = isHidden == true ? "隐藏" : "显示";
        //调用API
        try
        {
            var result = await Http.PostAsJsonAsync<HiddenRobotModel>(ToolHelper.WebApiPath + "api/robot/HiddenRobotFace", new HiddenRobotModel { Ids = ids, IsHidden = isHidden });
            string jsonContent = result.Content.ReadAsStringAsync().Result;
            var obj = JsonSerializer.Deserialize<Result>(jsonContent, ToolHelper.options);



            if (obj.Successful == false)
            {
                await ToastService.Error(tempString + "表情失败", obj.Error);
            }
            else
            {
                if (showMessage)
                {
                    await ToastService.Success(tempString + "表情成功", tempString + "表情成功");
                    await TableRows.QueryAsync();
                }
            }
        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, tempString + "表情失败");
        }
    }

    private async Task OnHiddenClick(IEnumerable<ListRobotFaceAloneModel> items)
    {
        if (items.Count() == 0)
        {
            await ToastService.Information("没有修改事件状态", "请选中表情");
            return;
        }

        await OnRowEditIsHiddenClick(items.Select(s => s.Id).ToArray(), true, false);

        await ToastService.Success("隐藏表情成功", "隐藏表情成功");
        await TableRows.QueryAsync();
    }
    private async Task OnUnHiddenClick(IEnumerable<ListRobotFaceAloneModel> items)
    {
        if (items.Count() == 0)
        {
            await ToastService.Information("没有修改表情状态", "请选中表情");
            return;
        }

        await OnRowEditIsHiddenClick(items.Select(s => s.Id).ToArray(), false, false);

        await ToastService.Success("显示表情成功", "显示表情表情成功");
        await TableRows.QueryAsync();
    }



    [Inject]
    [NotNull]
    private DialogService? DialogService { get; set; }

    public async Task OnEditModel(ListRobotFaceAloneModel item)
    {
        var model = Utility.GenerateEditorItems<ListRobotFaceAloneModel>();

        var option = new EditDialogOption<ListRobotFaceAloneModel>()
        {
            Title = item.Id == 0 ? "添加表情" : "编辑表情",
            Model = item,
            Items = model,
            OnEditAsync = async context =>
            {
                // Trace.Log("保存按钮被点击");
                var editModel = (ListRobotFaceAloneModel)context.Model;

                return await EditData(editModel);
            }
        };

        await DialogService.ShowEditDialog(option);
    }

    public async Task<bool> EditData(ListRobotFaceAloneModel model)
    {
        try
        {
            var result = await Http.PostAsJsonAsync<ListRobotFaceAloneModel>(ToolHelper.WebApiPath + "api/robot/UpdateRobotFaceData", model);
            string jsonContent = result.Content.ReadAsStringAsync().Result;
            var obj = JsonSerializer.Deserialize<Result>(jsonContent, ToolHelper.options);

            if (obj.Successful == false)
            {
                await ToastService.Error("保存数据失败", obj.Error);
                return false;
            }
            else
            {

                await ToastService.Success("保存数据成功", "保存数据成功");
                await TableRows.QueryAsync();
                return true;
            }
        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, "保存数据失败");
            return false;
        }
    }

    public async Task OnImportModel(ImportRobotsModel item)
    {
        var model = Utility.GenerateEditorItems<ImportRobotsModel>().ToList();

        model.First().Rows = 5;

        var option = new EditDialogOption<ImportRobotsModel>()
        {
            Title = "导入表情列表",
            Model = item,
            Items = model,
            OnEditAsync = async context =>
            {
                // Trace.Log("保存按钮被点击");
                var editModel = (ImportRobotsModel)context.Model;

                return await ImportData(editModel);
            }
        };

        await DialogService.ShowEditDialog(option);
    }

    public async Task<bool> ImportData(ImportRobotsModel model)
    {
        try
        {
            var result = await Http.PostAsJsonAsync<ImportRobotsModel>(ToolHelper.WebApiPath + "api/robot/ImportRobotFaces", model);
            string jsonContent = result.Content.ReadAsStringAsync().Result;
            var obj = JsonSerializer.Deserialize<Result>(jsonContent, ToolHelper.options);

            if (obj.Successful == false)
            {
                await ToastService.Error("导入数据失败", obj.Error);
                await TableRows.QueryAsync();

                return false;
            }
            else
            {

                await ToastService.Success("导入数据成功", "导入数据成功");
                await TableRows.QueryAsync();
                return true;
            }
        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, "导入数据失败");
            return false;
        }
    }
}
