@inject IDataCacheService _datacacheService



<a href="@("/entries/index/" + Model.Id)" class="a-font-color">
    @if (Type == SteamDisplayType.LargeCard)
    {
        <div class="div-shadow rounded  bg-opacity h-100">
            <div class="h-100" style="display: flex; flex-direction: column;">
                <img class="w-100" src="@Model.MainImage" alt="@Model.Name">
                <div class="p-3 pb-2 h-100" style=" display: flex; flex-direction: column; justify-content: space-between;">
                    <div style="display: flex; width: 100%;">
                        <div style="width: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                            <header class="mb-2" style=" display: flex; align-items: center;">
                                @if (Purchased)
                                {
                                    <div class="article-home-tag ">已入库</div>
                                }
                                <h3 class="fw-bold h5 mb-0">@Model.Name</h3>
                            </header>
                            <span class="text-truncate-3">
                                @Model.BriefIntroduction
                            </span>

                        </div>
                    </div>
                    <div class="mt-2" style="display: flex; justify-content: space-between;">
                        <div style="display: flex; flex-direction: column;">
                            @if (Model.EvaluationCount > 0)
                            {
                                <div>
                                    <CnGalWebSite.Shared.Component.Entries.NewVersion.BasicInforAloneTip Icon="@IconType.ThumbsUp" Text="@($"{Model.RecommendationRate}% 好评（{Model.EvaluationCount}条评测）")" />
                                </div>
                            }
                            @if (Model.PublishTime != null)
                            {
                                <div>
                                    <CnGalWebSite.Shared.Component.Entries.NewVersion.BasicInforAloneTip Icon="@IconType.DeterminedTime" Text="@(Model.PublishTime?.ToString("yyyy年M月d日"))" />
                                </div>
                            }

                            @if (Model.CutLowest > 0)
                            {
                                <div>
                                    <CnGalWebSite.Shared.Component.Entries.NewVersion.BasicInforAloneTip Icon="@IconType.Chart" Text="@(Model.PriceLowest.Value.ToString("¥ 0.00")+( Model.CutLowest==0?"": " - "+Model.CutLowest+"% OFF"))" />
                                </div>
                            }

                            @if (Model.PlayTime > 0)
                            {
                                <div>
                                    <CnGalWebSite.Shared.Component.Entries.NewVersion.BasicInforAloneTip Icon="@IconType.Played" Text="@($"平均游玩时长：{Model.PlayTime/60.0:0.0} 小时")" />
                                </div>
                            }
                        </div>
                        <div style=" display: flex; flex-direction: column; align-items: center; width: 100px; justify-content: center; color: var(--active-color);">
                            <span class="h4 m-0 fw-bold">
                                @(Model.PriceNow.Value.ToString("¥ 0.00"))
                            </span>

                            @if (Model.CutNow > 0)
                            {
                                <span>
                                    @(Model.CutNow+"% OFF")
                                </span>
                                <span class="h6" style=" color: gray; text-decoration: line-through; ">
                                    @("¥ "+Model.OriginalPrice.Value.ToString("0.00"))
                                </span>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        @if (_datacacheService.IsApp)
        {
            <div style="display:flex;" class="shadow-sm bg-opacity rounded">
                <div style="display: flex; width: 100%;">
                    <img style=" height: 67px; " src="@Model.MainImage">
                    <div class="ps-2" style="width: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                        <header style=" display: flex; align-items: center;">
                            @if (Purchased)
                            {
                                <i class="fa fa-fw font-color fa-check-circle"></i>
                            }
                            <span class="text-truncate-1" style="font-size: larger;">@Model.Name</span>
                        </header>

                        <div style="display: flex; flex-direction: column;">
                            @if (Model.EvaluationCount > 0)
                            {
                                <div>
                                    <CnGalWebSite.Shared.Component.Entries.NewVersion.BasicInforAloneTip Icon="@IconType.ThumbsUp" Text="@($"{Model.RecommendationRate}% ({Model.EvaluationCount})")" />
                                </div>
                            }
                            @if (Model.CutLowest > 0)
                            {
                                <div>
                                    <CnGalWebSite.Shared.Component.Entries.NewVersion.BasicInforAloneTip Icon="@IconType.Chart" Text="@(Model.PriceLowest.Value.ToString("¥ 0.00")+( Model.CutLowest==0?"": " (-"+Model.CutLowest+"%)"))" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div style=" display: flex; flex-direction: column; align-items: center; width: 100px; justify-content: center; color: var(--active-color); ">
                    <span class="h5 m-0">
                        @(Model.PriceNow.Value.ToString("¥ 0.00"))
                    </span>

                    @if (Model.CutNow > 0)
                    {
                        <span style="font-size:small ">
                            @(Model.CutNow+"% OFF")
                        </span>
                        <span style=" color: gray; text-decoration: line-through; ">
                            @("¥ "+Model.OriginalPrice.Value.ToString("0.00"))
                        </span>
                    }

                </div>
            </div>
        }
        else
        {
            <div class="div-shadow rounded  bg-opacity p-3 h-100">
                <div style="display:flex;">
                    <div style="display: flex; width: 100%;">
                        <img style="height: 115px;" src="@Model.MainImage">
                        <div class="ps-3" style="width: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                            <header style=" display: flex; align-items: center;">
                                @if (Purchased)
                                {
                                    <div class="article-home-tag">已入库</div>
                                }
                                <h3 class="fw-bold h5 mb-0">@Model.Name</h3>
                            </header>
                            <span class="text-truncate-2">
                                @Model.BriefIntroduction
                            </span>
                            <div class="row">
                                @if (Model.EvaluationCount > 0)
                                {
                                    <div class="col-6 col-xxl-4">
                                        <CnGalWebSite.Shared.Component.Entries.NewVersion.BasicInforAloneTip Icon="@IconType.ThumbsUp" Text="@($"{Model.RecommendationRate}% 好评（{Model.EvaluationCount}条评测）")" />
                                    </div>
                                }
                                @if (Model.PublishTime != null)
                                {
                                    <div class="col-6 col-xxl-4">
                                        <CnGalWebSite.Shared.Component.Entries.NewVersion.BasicInforAloneTip Icon="@IconType.DeterminedTime" Text="@(Model.PublishTime?.ToString("yyyy年M月d日"))" />
                                    </div>
                                }
                                @if (Model.CutLowest > 0)
                                {
                                    <div class="col-6 col-xxl-4">
                                        <CnGalWebSite.Shared.Component.Entries.NewVersion.BasicInforAloneTip Icon="@IconType.Chart" Text="@(Model.PriceLowest.Value.ToString("¥ 0.00")+( Model.CutLowest==0?"": " - "+Model.CutLowest+"% OFF"))" />
                                    </div>
                                }
                                @if (Model.PlayTime > 0)
                                {
                                    <div class="col-6 col-xxl-4">
                                        <CnGalWebSite.Shared.Component.Entries.NewVersion.BasicInforAloneTip Icon="@IconType.Played" Text="@($"平均游玩时长：{Model.PlayTime/60.0:0.0} 小时")" />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div style=" display: flex; flex-direction: column; align-items: center; width: 180px; justify-content: center; color: var(--active-color);">
                        <span style="display: flex; align-items: center;">
                            <span class="h4 fw-bold">
                                @(Model.PriceNow.Value.ToString("¥ 0.00"))
                            </span>
                            @if (Model.CutNow > 0)
                            {
                                <span class="ms-1">
                                    @(Model.CutNow + "% OFF")
                                </span>
                            }
                        </span>
                        @if (Model.CutNow > 0)
                        {
                            <span class="h6" style=" color: gray; text-decoration: line-through; ">
                                @("¥ "+Model.OriginalPrice.Value.ToString("0.00"))
                            </span>
                        }
                    </div>
                </div>
            </div>

        }


    }

</a>

@code {
    [Parameter]
    public StoreInfoCardModel Model { get; set; }
    [Parameter]
    public SteamDisplayType Type { get; set; }
    [Parameter]
    public bool Purchased { get; set; }
}
