@inject IDataCacheService _dataCatcheService

<TabLink target="_blank" Url="@Model.Link" class="a-font-color" rel="noreferrer">
    <div class="div-shadow rounded  bg-opacity aticle-home-layout p-3 h-100">
        <div class="" style="height: 100%; align-content: center;display:flex;">
            @{
                string imageStr = Model.Image;
                if (string.IsNullOrWhiteSpace(imageStr))
                {
                    //尝试匹配标题
                    if (Model.DisplayName == "萌娘百科")
                    {
                        imageStr = "https://app.cngal.org/_content/CnGalWebSite.Shared/images/Moegirl.png";
                    }
                    else if (Model.DisplayName == "Bangumi")
                    {
                        imageStr = "https://app.cngal.org/_content/CnGalWebSite.Shared/images/Bangumi.png";
                    }
                    else if (Model.DisplayName == "百度百科")
                    {
                        imageStr = "https://app.cngal.org/_content/CnGalWebSite.Shared/images/BaiDuWiki.png";
                    }
                    else if (Model.DisplayName == "2DFan")
                    {
                        imageStr = "https://app.cngal.org/_content/CnGalWebSite.Shared/images/2DFan.png";
                    }
                    //else if (Model.DisplayName == "VNDB")
                    //{
                    //    imageStr = "https://app.cngal.org/_content/CnGalWebSite.Shared/images/VNDB.png";
                    //}
                    else if (Model.DisplayName == "App Store")
                    {
                        imageStr = "https://app.cngal.org/_content/CnGalWebSite.Shared/images/AppStore.png";
                    }
                    else if (Model.DisplayName == "Google Play")
                    {
                        imageStr = "https://app.cngal.org/_content/CnGalWebSite.Shared/images/GooglePlay.png";
                    }
                    else if (Model.DisplayName == "方块游戏")
                    {
                        imageStr = "https://app.cngal.org/_content/CnGalWebSite.Shared/images/CraftGame.png";
                    }
                    else if (Model.DisplayName == "DLsite")
                    {
                        imageStr = "https://app.cngal.org/_content/CnGalWebSite.Shared/images/DLsite.png";
                    }
                    else if (Model.DisplayName.Contains("维基百科"))
                    {
                        imageStr = "https://app.cngal.org/_content/CnGalWebSite.Shared/images/Wiki.png";
                    }
                    else if (Model.DisplayName.Contains("月幕"))
                    {
                        imageStr = "https://app.cngal.org/_content/CnGalWebSite.Shared/images/YMGal.png";
                    }
                    else if (Model.DisplayName == "TapTap")
                    {
                        imageStr = "https://app.cngal.org/_content/CnGalWebSite.Shared/images/TapTap.png";
                    }
                    else if (Model.DisplayName == "WikiData" || Model.DisplayName == "Wikidata" || Model.DisplayName == "维基数据" )
                    {
                        imageStr = "https://app.cngal.org/_content/CnGalWebSite.Shared/images/Wikidata.png";
                    }
                }

                if (string.IsNullOrWhiteSpace(imageStr))
                {
                    <div style="display: flex; flex-direction: column; justify-content: center;">
                        <header class="text-truncate-2">
                            <h5 class="fw-bold" style=" display: inline;">@Model.DisplayName</h5>
                        </header>
                        <span class="text-truncate-3">
                            @Model.DisplayValue
                        </span>
                    </div>
                }
                else
                {
                    if (_dataCatcheService.IsApp)
                    {
                        <div style=" display: flex; flex-direction: column; justify-content: center;">
                            <img src="@imageStr" style="width: 80px;" />
                        </div>
                        <div class="ps-3" style="display: flex; flex-direction: column; justify-content: center;">
                            <header class="text-truncate-2">
                                <h5 class="fw-bold" style=" display: inline;">@Model.DisplayName</h5>
                            </header>
                            <span class="text-truncate-3">
                                @Model.DisplayValue
                            </span>
                        </div>
                    }
                    else
                    {
                        <div style=" display: flex; flex-direction: column; justify-content: center;">
                            <img src="@imageStr" style="width: 116px;" />
                        </div>
                        <div class="ps-3" style="display: flex; flex-direction: column; justify-content: center;">
                            <header class="text-truncate-2">
                                <h5 class="fw-bold" style=" display: inline;">@Model.DisplayName</h5>
                            </header>
                            <span class="text-truncate-3">
                                @Model.DisplayValue
                            </span>
                        </div>
                    }

                }
            }

        </div>
    </div>


</TabLink>

@code {
    [Parameter]
    public RelevancesKeyValueModel Model { get; set; }
}
