@inject NavigationManager NavigationManager
@inject IDataCacheService _dataCacheService
@inject IJSRuntime JS
@inject IEventService _eventService

<MExpansionPanels>
    <MExpansionPanel @key="0" Class="bg-opacity">
        <MExpansionPanelHeader>
            <div class="" style=" display: flex; align-items: center; ">
                <img src="@Model.GroupImage" style="height:50px;width:50px;border-radius:50%;" />
                <div class="ms-3" style="font-size: x-large; font-weight: bold;">@Model.GroupName</div>
            </div>
        </MExpansionPanelHeader>
        <MExpansionPanelContent>
            <div>
                @if (string.IsNullOrWhiteSpace(Model.BriefIntroduction) == false)
                {
                    <div class="mb-2">@Model.BriefIntroduction</div>

                }
                <div style=" display: flex; flex-direction: row; ">
                    @if (string.IsNullOrWhiteSpace(Model.Outlink) == false)
                    {
                        <MButton Text  OnClick="OnClickWeibo" Class="me-3">
                            <MIcon Left>@((Model.Outlink.Contains("weibo") ? IconType.Weibo : IconType.Link).ToIconString())</MIcon>
                           @((Model.Outlink.Contains("weibo") ? "访问微博主页" : "访问社交媒体主页")) 
                        </MButton>
                    }

                    <MButton Text  OnClick="OnClickMainPage">
                        <MIcon Left>@IconType.Entry.ToIconString()</MIcon>
                        @(Model.GroupId>0?"查看词条":"查看个人空间")
                    </MButton>

                </div>
            </div>
        </MExpansionPanelContent>
    </MExpansionPanel>

    @foreach (var item in Model.Articles)
    {
        <MExpansionPanel @key="@(Model.Articles.IndexOf(item)+1)" Class="bg-opacity">
            <MExpansionPanelHeader>
                @(item.DisplayName+" - "+item.LastEditTime.ToTimeFromNowString())
            </MExpansionPanelHeader>
            <MExpansionPanelContent>
                <div class="mb-2" style="display:flex;">
                    <a href="@("/articles/index/" + item.Id)">
                        <img loading="lazy" style=" width: 250px; " src="@item.MainImage" alt="@item.Name">
                    </a>
                    <div class="ps-3">
                        <a href="@("/articles/index/" + item.Id)" class="a-font-color text-truncate-2 mb-1" style=" display: flex; align-items: flex-end;">
                            <h3 class="h5 mb-0 fw-bold" style=" display: inline;">@item.Name</h3>
                        </a>
                        <a href="@("/articles/index/" + item.Id)" class="text-truncate-3 a-font-color">
                            @item.BriefIntroduction
                        </a>
                    </div>
                </div>

                <a href="@("/articles/index/" + item.Id)" style="color: gray;">
                    <div class="d-flex">
                        <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaIcon Type="IconType.DeterminedTime" Color="grey" />
                        <span class="me-4">@item.LastEditTime.ToString("yyyy-MM-dd")</span>

                        <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaIcon Type="IconType.Comment" Color="grey" />
                        <span class="me-4">@(item.CommentCount)条评论</span>

                        <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaIcon Type="IconType.Read" Color="grey" />
                        <span class="me-4">@(item.ReaderCount)次阅读</span>

                        <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaIcon Type="IconType.ThumbsUp" Color="grey" />
                        <span class="me-4">@(item.ThumbsUpCount)人点赞</span>
                        @if (string.IsNullOrWhiteSpace(item.CreateUserName) == false)
                        {
                            <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaIcon Type="IconType.User" Color="grey" />
                            <span>@item.CreateUserName</span>
                        }
                    </div>
                </a>
            </MExpansionPanelContent>
        </MExpansionPanel>
    }
</MExpansionPanels>

@code {
    [Parameter]
    public NewsSummaryAloneViewModel Model { get; set; }

    #region 新建标签页
    public async void OpenNewPage(string url)
    {
        await _eventService.OpenNewPage( url);
    }
    #endregion

    public Task OnClickWeibo()
    {
        OpenNewPage(Model.Outlink);
        return Task.CompletedTask;
    }

    public Task OnClickMainPage()
    {
        NavigationManager.NavigateTo(Model.GroupId > 0 ? ("entries/index/" + Model.GroupId) : ("space/index/" + Model.UserId));
        return Task.CompletedTask;
    }
}
