@inject HttpClient Http
@inject ToastService? ToastService
@inject IServiceProvider Provider
@inject NavigationManager NavigationManager
@inject DialogService DialogService

<div class="">
    <div class="mb-3">
        <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaButton Text="添加" IsAsync="true" OnClick="AddAward" Icon="mdi-plus" Color="green" />
        <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaButton Text="导入" IsAsync="true" OnClick="OnImportClick" Icon="mdi-database-import-outline " Color="info" Class="ms-3"/>

    </div>

    @foreach (var item in Awards)
    {
        <div class="mb-3">
            <div class="card p-3 w-100" style="background-color:transparent">
                <div style="display: flex; justify-content: space-between;">
                    <div class="mt-2">
                        @if (string.IsNullOrWhiteSpace(item.Image) == false)
                        {
                            <img src="@item.Image" alt="@item.Name" style="max-width:200px;" class="mb-3" />
                        }

                        <p class="text-truncate-1">
                            名称： @item.Name
                        </p>
                        <p class="text-truncate-1">
                            数量： @item.Count
                        </p>
                        <p class="text-truncate-1">
                            赞助商： @(item.Sponsor??"无")
                        </p>
                        <p class="text-truncate-1">
                            链接： @(item.Link ?? "无")
                        </p>
                        <p class="text-truncate-1">
                            类型： @item.Type.GetDisplayName()
                        </p>
                        <p class="text-truncate-1">
                            附加积分： @item.Integral
                        </p>
                        <p class="text-truncate-1 mb-1">
                            优先级： @item.Priority
                        </p>
                    </div>
                    <div class="ms-3" style=" display: flex; flex-direction: column; ">
                        <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaButton Fab IsAsync="true" OnClick="@(()=> DeleteAward(item))" Icon="mdi-trash-can-outline" Color="error" />
                        <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaButton Fab IsAsync="true" OnClick="@(()=> EditAward(item))" Icon="mdi-pencil" Color="success" Class="mt-3"/>
                    </div>
                </div>
                @if (item.Type == LotteryAwardType.ActivationCode)
                {
                    <div>
                        <EditPrizeLiseCard Prizes="item.Prizes" />
                    </div>
                }

            </div>
        </div>
    }

</div>
<EditAwardCard @ref="editAwardCard" OnRefreshTable="OnRefreshTable"/>


@code {
    [Parameter]
    public List<EditLotteryAwardModel> Awards { get; set; }
    EditAwardCard editAwardCard;

    public async Task DeleteAward(EditLotteryAwardModel item)
    {
        Awards.Remove(item);
        StateHasChanged();
        await ToastService.Success("删除成功", "成功删除奖品");
    }
    public async Task EditAward(EditLotteryAwardModel item)
    {
        await editAwardCard.Refresh(true, item);
    }

    public Task OnRefreshTable(EditLotteryAwardModel model)
    {
        if(model.Id==0)
        {
            model.Id = Awards.Any() ? (Awards.Max(s => s.Id) + 1) : 1;
            Awards.Add(model);
        }
        StateHasChanged();

        return Task.CompletedTask;
    }
    public async Task AddAward()
    {
        await editAwardCard.Refresh(true, new EditLotteryAwardModel());
    }

    public async Task OnImportClick()
    {
        var option = new DialogOption()
        {
            Title = "批量导入奖品",
            ShowCloseButton = false
        };
        option.BodyTemplate = BootstrapDynamicComponent.CreateComponent<BatchImportPrizeTip>(new Dictionary<string, object>
        {
            [nameof(BatchImportPrizeTip.OnAdd)] = EventCallback.Factory.Create<List<string>>(this, async (model) => await OnImported(model)),
            [nameof(BatchImportPrizeTip.OnClickClose)] = EventCallback.Factory.Create(this, async () => await option.Dialog.Close()),
            [nameof(BatchImportPrizeTip.Title)] = "奖品"

        }).Render();
        await DialogService.Show(option);
    }

    public Task OnImported(List<string> model)
    {
        //检查是否符合要求
        foreach (var item in model)
        {
            Awards.Add(new EditLotteryAwardModel
            {
                Name = item,
                Count=1,
            });
        }
        StateHasChanged();
        return Task.CompletedTask;
    }
}
