@inject IDataCacheService _dataCatcheService
@inject IPageModelCatche<List<EntryInforTipViewModel>> _pageModelCatche


<CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaAlert Icon="@IconType.Board.ToIconString()" Type="AlertTypes.Success" Class="mb-4" Color="secondary">
    参会制作组名单持续更新中！
</CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaAlert>

@if (_items != null)
{
    <MRow>
        @foreach (var item in _items)
        {
            <MCol Cols="6" Sm="4" Lg="3" Xl="2" Class="mb-4">
                <MDCard Href="@($"/entries/index/{item.Id}")" Class="@($"h-100 anniversaries-group-card {(item.Type== EntryType.ProductionGroup?"group":"staff")}")">
                    <img src="@item.MainImage" alt="@item.Name" loading="lazy" />
                    <div class="content-card">
                        <div class="name">
                            @item.Name
                        </div>
                        <div class="text-truncate-2 biref">
                            @item.BriefIntroduction
                        </div>
                    </div>
                </MDCard>
            </MCol>
        }
    </MRow>

}
else
{
    <CnGalWebSite.Components.Progressings.ProgressingCard Page Fill Class="mb-4" />
}

@code {

    List<EntryInforTipViewModel> _items { get; set; }

    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            //获取主页信息
            _items = await _pageModelCatche.GetCache("api/anniversaries/GetGroupList");
        }
        catch (Exception ex)
        {
            await ErrorHandler.ProcessError(ex, "获取周年庆参与制作组列表失败");
        }

    }

}
