<CnGalWebSite.Components.Containers.MiniModeContainer>
    <div style="display: flex; justify-content: center;" class="@Class">
        <CnGalWebSite.Shared.MasaComponent.Shared.Buttons.FavoriteButton Id="Model.Id" Type="FavoriteObjectType.Article" Class="me-4" />
        <CnGalWebSite.Shared.MasaComponent.PC.Articles.ThumbsUpButton Id="Model.Id" />
        @if (ToolHelper.IsMaui)
        {
            <CnGalWebSite.Shared.MasaComponent.Shared.Buttons.ShareButton Title="@(Model.Type.GetDisplayName()+" - "+Model.Name)" Class="ms-4" Text="@($"【{Model.Type.GetDisplayName()}】《{Model.Name}》\n{Model.BriefIntroduction}")" />
        }

        @if (Model.Authority)
        {
            <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Buttons.EditButton Type="ExaminedNormalListModelType.Article" Id="Model.Id" @bind-IsHidden="@Model.IsHidden" @bind-IsEdit="@Model.IsEdit" Class="ms-4" />
        }

    </div>
</CnGalWebSite.Components.Containers.MiniModeContainer>

@code {
    [Parameter]
    public ArticleViewModel Model { get; set; }
    [Parameter]
    public string Class { get; set; }

}
