@inject IDataCacheService _dataCacheService
@inject NavigationManager NavigationManager

<MTooltip Top Color="white">
    <ActivatorContent>
        <img @attributes="@context.Attrs" src="@Model.MainImage" alt="@Model.Name" style="@((_dataCacheService.IsApp?"height:30px;":"height:40px;")+"aspect-ratio:1;border-radius:50%;") " @onclick="@(()=>OnClick())" />
    </ActivatorContent>
    <ChildContent>
        <div style=" display: flex; flex-direction: column; align-items: center; width:230px;color:black;">
            <img src="@Model.MainImage" alt="@Model.Name" style="border-radius: 50%; height: 100px; width: 100px;" class="mb-2">


            <div class="text-truncate-2 fw-bold">
                @Model.Name
            </div>
            @if (string.IsNullOrWhiteSpace(Model.AddInfors.FirstOrDefault(s => s.Modifier == "登场游戏")?.Contents?.FirstOrDefault()?.DisplayName) == false)
            {
                <div class=" text-center" style="color:gray;">
                    @($"《{Model.AddInfors.FirstOrDefault(s => s.Modifier == "登场游戏")?.Contents?.FirstOrDefault()?.DisplayName}》")
                </div>
            }
            <div class="text-truncate-3 text-center">
                @Model.BriefIntroduction
            </div>
        </div>
    </ChildContent>
</MTooltip>

@code {
    [Parameter]
    public EntryInforTipViewModel Model { get; set; }

    [Parameter]
    public string Image { get; set; }

    public void OnClick()
    {
        NavigationManager.NavigateTo($"/entries/index/{Model.Id}");
    }
}
