<a  href="@("/home/examined/" +Model.Id)"  class="a-font-color col-12" >
    <div>
        <UserRankTextViewTip UserId="@Model.UserId" UserName="@Model.UserName" Image="@Model.UserImage" Ranks="@Model.Ranks"
                             Text="@("于 "+Model.ApplyTime.ToString("yyyy年M月d日 HH:mm")+" "+Model.Operation.GetDisplayName())"/>
    </div>
</a>
@code {
    [Parameter]
    public ExaminedNormalListModel Model { get; set; }

}
