<li class="home-game-card @(Horizontal ? "home-game-card--horizontal" : string.Empty)">
    <a href="@Url" class="home-game-card-link">
        <figure class="home-game-card-image-wrapper">
            <img class="home-game-card-image" src="@Image" alt="@Name" loading="lazy" />
        </figure>

        <div class="home-game-card-body">
            <h4 class="home-game-card-title">@Name</h4>
            @if (!string.IsNullOrWhiteSpace(BriefIntroduction))
            {
                <p class="home-game-card-desc">@BriefIntroduction</p>
            }
            @if (ChildContent is not null)
            {
                <div class="home-game-card-extra">
                    @ChildContent
                </div>
            }
        </div>
    </a>
</li>

@code {
    [Parameter] public string Url { get; set; } = "";
    [Parameter] public string Image { get; set; } = "";
    [Parameter] public string Name { get; set; } = "";
    [Parameter] public string? BriefIntroduction { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public bool Horizontal { get; set; }
}
