<li class="home-card">
    <a href="@Url" target="@Target">
        <strong>@Title</strong>
        @if (!string.IsNullOrWhiteSpace(Text))
        {
            <p>@Text</p>
        }
        @if (Time != null)
        {
            <small>@Time</small>
        }
    </a>
</li>

@code {
    [Parameter] public string Url { get; set; } = "";
    [Parameter] public string? Target { get; set; }
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public string? Text { get; set; }
    [Parameter] public string? Time { get; set; }
}