<a href="@("lotteries/index/"+Model.Id)">
    <div class="div-shadow rounded  bg-opacity aticle-home-layout ps-3 pe-3 h-100 a-font-color" style="display: flex; flex-direction: column; justify-content: space-between;">
        <div class="">
            <div class=" pt-3">
                <img class="img-fluid" src="@Model.MainPicture">
            </div>
            <div class=" pt-3">
                <header>
                    <div class="article-home-tag">抽奖</div>
                    <h5 class="fw-bold" style=" display: inline;">@Model.Name</h5>
                </header>
                <div style=" overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; ">
                    @Model.BriefIntroduction
                </div>
                <div class="mt-2" style="color:gray;">
                    @if (DateTime.Now.ToCstTime() < Model.BeginTime)
                    {
                        <i class="fa fa-clock-o fa-fw text-primary"></i>
                        <span>未开始</span>
                    }
                    else if (DateTime.Now.ToCstTime() > Model.EndTime)
                    {
                        <i class="fa fa-check-circle fa-fw text-success"></i>
                        <span>已结束</span>
                    }
                    else
                    {
                        <i class="fa fa-check-circle-o fa-fw text-success"></i>
                        <span>正在进行</span>
                    }
                </div>
               
            </div>
        </div>
        <p class="mt-2" style="color: gray;">
            <i class="fa fa-calendar fa-fw"></i>
            <span class="article-home-infor-text">@(Model.BeginTime.ToString("yyyy.M.d HH:mm")+" - "+ Model.EndTime.ToString("yyyy.M.d  HH:mm"))&nbsp;&nbsp;&nbsp;</span>

            <i class="fa fa-user"></i>
            <span class="article-home-infor-text">@(Model.Count)人参与&nbsp;&nbsp;&nbsp;</span>
        </p>

    </div>
</a>


@code {
    [Parameter]
    public LotteryCardViewModel Model { get; set; }

}
