@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject DialogService DialogService
@inject IDataCacheService _dataCacheService
@inject ToastService ToastService

<MMenu OffsetY CloseOnContentClick="false" Value="Menu" ValueChanged="ValueChanged">
    <ActivatorContent Context="m">
        <MTooltip Bottom>
            <ActivatorContent Context="c">
                @{
                    var attrs = new Dictionary<string, object>();
                    m.Attrs.ToList().ForEach(item => attrs[item.Key] = item.Value);
                    c.Attrs.ToList().ForEach(item => attrs[item.Key] = item.Value);
                }
                <MButton Fab Small @attributes="@attrs" Class="@Class" Dark Color="@(_dataCacheService.ThemeSetting.IsDark?"":"primary")">
                    <MIcon>@IconType.Edit.ToIconString()</MIcon>
                </MButton>
            </ActivatorContent>
            <ChildContent>
                <span>编辑</span>
            </ChildContent>
        </MTooltip>
    </ActivatorContent>

    <ChildContent>
        <div class="bg-theme d-flex p-3" style="@("flex-direction: column; align-items: center; "+(ShowPerfection?"width:350px;":"width:300px;"))">
            <div class="w-100">
                @if (Menu)
                {
                    <EditButtonContent Id="Id" IsEdit="IsEdit" IsHidden="IsHidden" IsHiddenChanged="IsHiddenChanged" IsEditChanged="IsEditChanged" Type="Type" ShowPerfection="ShowPerfection" />
                }
            </div>
        </div>
    </ChildContent>
</MMenu>
@code {
    [Parameter]
    public ExaminedNormalListModelType Type { get; set; }
    [Parameter]
    public long Id { get; set; }
    [Parameter]
    public bool ShowPerfection { get; set; }
    [Parameter]
    public string Class { get; set; }
    [Parameter]
    public bool IsEdit { get; set; }
    [Parameter]
    public bool IsHidden { get; set; }
    [Parameter]
    public EventCallback<bool> IsHiddenChanged { get; set; }
    [Parameter]
    public EventCallback<bool> IsEditChanged { get; set; }

    bool isReady { get; set; }
    bool ShowExamines { get; set; }
    bool isInMonitor { get; set; }
    long _id;
    bool Menu;

    public List<EditButtonLineModel> Items { get; set; } = new List<EditButtonLineModel>();

    public Dictionary<Operation, EditState> EditStates { get; set; } = new Dictionary<Operation, EditState>();

    public List<ExaminedNormalListModel> Examines { get; set; } = new List<ExaminedNormalListModel>();

    public PerfectionInforTipViewModel PerfectionInfor { get; set; } = new PerfectionInforTipViewModel();

    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }


    int count = 0;
    public async Task ValueChanged(bool value)
    {
        Menu = value;

        if (value)
        {
            count++;
            await IsEditChanged.InvokeAsync(count % 2 == 1);
        }
        StateHasChanged();
    }
}
