@inject IDataCacheService _dataCacheService


<MDCard Class="mb-4">
    <img class="image-card" src="@(_dataCacheService.IsApp?Model.MainPicture:Model.Thumbnail)" alt="@Model.Name" />
    <div class="head-card">
        <div class="title-card">
            <h2 class="title-text">@Model.Name</h2>
            <dl class="info-card">
                <div>
                    <dt>参与人数：</dt>
                    <dd>@Model.Count</dd>
                </div>
                <div>
                    <dt>截止时间：</dt>
                    <dd>@Model.EndTime.ToString("yyyy年M月d日  H点")</dd>
                </div>
            </dl>
            <div class="text-card">
                @Model.BriefIntroduction
            </div>
        </div>
        <div class="content-card">

            <div class="condition-card">
                参与条件：@Model.ConditionType.GetDisplayName()
            </div>
            <div class="button-card">
                @if (Model.EndTime < DateTime.Now.ToCstTime())
                {
                    <CnGalWebSite.Components.Buttons.MasaButton Rounded Outlined Icon="@IconType.GiftOpened.ToIconString()" Text="查看抽奖" Href="@("lotteries/index/"+Model.Id)" />
                }
                else
                {
                    <CnGalWebSite.Components.Buttons.MasaButton Rounded Icon="@IconType.Gift.ToIconString()" Text="参与抽奖" Href="@("lotteries/index/"+Model.Id)" />
                }
            </div>
        </div>
    </div>

</MDCard>


@code {
    [Parameter]
    public LotteryCardViewModel Model { get; set; }

}
