<CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaAlert Type="AlertTypes.Info" Class="mb-3">
    下方的Id是指链接后方的标识字符串（绝大多数是数字Id），例如下方链接只要红色部分。 <br />
    <strong>https://www.bilibili.com/video/<font style="color:red">BV1tF411N7XD</font>/?spm_id_from=333.999.0.0</strong><br />
    <strong>https://weibo.com/u/<font style="color:red">5643366143</font></strong>  <br />
    大多数情况下可以直接复制完整链接，我们将会自动裁剪。
</CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaAlert>

<CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Icon="fa fa-fw fa-info-circle" Title="附加信息" Class="@Class" Collapable>
    @switch (Model.Type)
    {
        case EntryType.Game:
            <div class="row">
                <div class="form-group col-12  col-sm-6">
                    <BootstrapInput @bind-Value="Model.SteamId" ShowLabel="true" />
                </div>
                <div class="form-group col-12  col-sm-6">
                    <DateTimePicker @bind-Value="@Model.IssueTime" ShowLabel="true" />
                </div>
                <div class="form-group col-12  col-sm-6">
                    <BootstrapInput @bind-Value="@Model.IssueTimeString" ShowLabel="true" />
                </div>
                <div class="form-group col-12  col-sm-6">
                    <BootstrapInput @bind-Value="Model.Original" ShowLabel="true" />
                </div>
                <div class="form-group col-12  col-sm-6">
                    <AutoComplete Items="@EntryGroupItems" IsLikeMatch="true" IgnoreCase="true" @bind-Value="Model.ProductionGroup" ShowLabel="true" />
                </div>

                <div class="form-group col-12  col-sm-6">
                    <BootstrapInput @bind-Value="Model.Engine" ShowLabel="true" />
                </div>
                <div class="form-group col-12  col-sm-6">
                    <AutoComplete Items="@EntryGroupItems" IsLikeMatch="true" IgnoreCase="true" @bind-Value="Model.Publisher" ShowLabel="true" />
                </div>
                <div class="form-group col-12  col-sm-6">
                    <BootstrapInput @bind-Value="Model.IssueMethod" ShowLabel="true" />
                </div>
                <div class="form-group col-12  col-sm-6">
                    <BootstrapInput @bind-Value="Model.OfficialWebsite" ShowLabel="true" />
                </div>

                <div class="form-group col-12  col-sm-6">
                    <BootstrapInput @bind-Value="Model.QQgroupGame" ShowLabel="true" />
                </div>
                <div class="form-group col-12">
                    <CheckboxList TValue="List<string>" Value="@GamePlatformsValue" ValueChanged="GamePlatformsValueChanged" ShowBorder="true" Items="@GamePlatforms" DisplayText="游戏平台" ShowLabel="true"></CheckboxList>
                </div>
                <div class="col-12 p-3">
                    <Divider></Divider>
                </div>
            </div>
            <h5 class="fw-bold mb-4">STAFF</h5>
            <StaffEditorChartListTip Staffs="Model.Staffs"></StaffEditorChartListTip>

            break;
        case EntryType.ProductionGroup:
            <div class="row">
                <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Cards.InputIdCard @bind-Id="Model.QQgroupGroup" Label="QQ群" />
                <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Cards.InputIdCard @bind-Id="Model.WeiboId" Label="微博平台Id" />
                <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Cards.InputIdCard @bind-Id="Model.BilibiliId" Label="Bilibili平台Id" />
                <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Cards.InputIdCard @bind-Id="Model.AcFunId" Label="AcFun平台Id" />
                <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Cards.InputIdCard @bind-Id="Model.ZhihuId" Label="知乎平台Id" />
                <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Cards.InputIdCard @bind-Id="Model.AfdianId" Label="@("爱发电平台Id（不包括@）")" />
                <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Cards.InputIdCard @bind-Id="Model.PixivId" Label="Pixiv平台Id" />
                <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Cards.InputIdCard @bind-Id="Model.TwitterId" Label="Twitter平台Id" />
                <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Cards.InputIdCard @bind-Id="Model.YouTubeId" Label="YouTube平台Id" />
                <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Cards.InputIdCard @bind-Id="Model.FacebookId" Label="Facebook平台Id" />

            </div>
            break;
        case EntryType.Role:
            <div class="row">
                <div class="form-group col-12  col-sm-6">
                    <AutoComplete Items="@EntryStaffItems" IsLikeMatch="true" IgnoreCase="true" @bind-Value="Model.CV" ShowLabel="true" />
                </div>
                <div class="form-group col-12  col-sm-6">
                    <Select @bind-Value="Model.Gender" ShowLabel="true" />
                </div>
                <div class="form-group col-12  col-sm-6">
                    <BootstrapInput @bind-Value="Model.FigureData" ShowLabel="true" />
                </div>
                <div class="form-group col-12  col-sm-6">
                    <BootstrapInput @bind-Value="Model.FigureSubjective" ShowLabel="true" />
                </div>
                <div class="form-group col-12  col-sm-6">
                    <DateTimePicker @bind-Value="@Model.Birthday" ShowLabel="true" />
                </div>
                <div class="form-group col-12  col-sm-6">
                    <BootstrapInput @bind-Value="Model.Haircolor" ShowLabel="true" />
                </div>
                <div class="form-group col-12  col-sm-6">
                    <BootstrapInput @bind-Value="Model.Pupilcolor" ShowLabel="true" />
                </div>
                <div class="form-group col-12  col-sm-6">
                    <BootstrapInput @bind-Value="Model.ClothesAccessories" ShowLabel="true" />
                </div>
                <div class="form-group col-12  col-sm-6">
                    <BootstrapInput @bind-Value="Model.Character" ShowLabel="true" />
                </div>
                <div class="form-group col-12  col-sm-6">
                    <BootstrapInput @bind-Value="Model.RoleIdentity" ShowLabel="true" />
                </div>
                <div class="form-group col-12  col-sm-6">
                    <BootstrapInput @bind-Value="Model.BloodType" ShowLabel="true" />
                </div>
                <div class="form-group col-12  col-sm-6">
                    <BootstrapInput @bind-Value="Model.RoleHeight" ShowLabel="true" />
                </div>
                <div class="form-group col-12  col-sm-6">
                    <BootstrapInput @bind-Value="Model.RoleTaste" ShowLabel="true" />
                </div>
                <div class="form-group col-12  col-sm-6">
                    <BootstrapInput @bind-Value="Model.RoleAge" ShowLabel="true" />
                </div>

            </div>
            break;
        case EntryType.Staff:
            <div class="row">
                <div class="form-group col-12  col-sm-6">
                    <BootstrapInput @bind-Value="Model.RealName" ShowLabel="true" />
                </div>
                <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Cards.InputIdCard @bind-Id="Model.WeiboId" Label="微博平台Id" />
                <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Cards.InputIdCard @bind-Id="Model.BilibiliId" Label="Bilibili平台Id" />
                <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Cards.InputIdCard @bind-Id="Model.AcFunId" Label="AcFun平台Id" />
                <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Cards.InputIdCard @bind-Id="Model.ZhihuId" Label="知乎平台Id" />
                <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Cards.InputIdCard @bind-Id="Model.AfdianId" Label="@("爱发电平台Id（不包括@）")" />
                <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Cards.InputIdCard @bind-Id="Model.PixivId" Label="Pixiv平台Id" />
                <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Cards.InputIdCard @bind-Id="Model.TwitterId" Label="Twitter平台Id" />
                <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Cards.InputIdCard @bind-Id="Model.YouTubeId" Label="YouTube平台Id" />
                <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Cards.InputIdCard @bind-Id="Model.FacebookId" Label="Facebook平台Id" />
            </div>
            break;
    }

    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaDivider />
    <InputSocialPlatformListTip Model="Model.SocialPlatforms"></InputSocialPlatformListTip>

</CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>

@code {
    [Parameter]
    public EditAddInforViewModel Model { get; set; }
    [Parameter]
    public string Class { get; set; }
    [Parameter]
    public IEnumerable<string> EntryGroupItems { get; set; }
    [Parameter]
    public IEnumerable<string> EntryStaffItems { get; set; }

    List<SelectedItem> GamePlatforms { get; set; } = new List<SelectedItem>();

    private List<string> GamePlatformsValue { get; set; } = new List<string>();

    protected override async Task OnInitializedAsync()
    {

        //设置游戏平台
        if (Model.Type == EntryType.Game)
        {
            foreach (var item in Model.GamePlatforms)
            {
                GamePlatforms.Add(new SelectedItem
                {
                    Text = item.GamePlatformType.GetDisplayName(),
                    Value = item.GamePlatformType.ToString(),
                    Active = item.IsSelected
                });
                if (item.IsSelected == true)
                {
                    GamePlatformsValue.Add(item.GamePlatformType.ToString());
                }
            }
        }

    }

    public Task GamePlatformsValueChanged(List<string> games)
    {
        GamePlatformsValue = games;
        //处理游戏平台数据
        Model.GamePlatforms.Clear();
        foreach (var item in GamePlatforms)
        {
            bool isSelected = false;
            foreach (var infor in GamePlatformsValue)
            {
                if (infor == item.Value)
                {
                    isSelected = true;
                }
            }
            Model.GamePlatforms.Add(new GamePlatformModel
            {
                GamePlatformType = (GamePlatformType)Enum.Parse(typeof(GamePlatformType), item.Value),
                IsSelected = isSelected
            });
        }

        return Task.CompletedTask;
    }

}
