<div class="mt-1">
    @if (Informations.Count != 0)
    {
        <div class="mb-3 pt-2">
            <CnGalWebSite.Shared.AppComponent.Normal.Titles.TitleLine Title="基本信息" />
            <div class="mt-3">
                <CnGalWebSite.Shared.AppComponent.Pages.Entries.Normal.ListBasicInforPair Model="@Informations" />
            </div>
            <hr class="mt-3" />
        </div>
    }
    @if (WebSites.Count != 0)
    {
        <div class="mb-3 pt-2">
            <CnGalWebSite.Shared.AppComponent.Normal.Titles.TitleLine Title="相关网站" />
            <div class="mt-3">
                <CnGalWebSite.Shared.AppComponent.Pages.Entries.Normal.Relevances.ListWebSitePair Model="@WebSites" />
            </div>
            <hr class="mt-3" />
        </div>
    }
    @if (string.IsNullOrWhiteSpace(Model.MainPicture) == false)
    {
        <div class="mb-3 pt-2">
            <div>
                <CnGalWebSite.Shared.AppComponent.Normal.Titles.TitleLine Title="立绘" />
                <div class="mt-3">
                    <img class="w-100" src="@Model.MainPicture" alt="@Model.Name" />
                </div>
            </div>
            <hr class="mt-3" />
        </div>

    }
    <div class="mb-3  pt-2">
        <CnGalWebSite.Shared.AppComponent.Pages.Peripheries.Cards.PeripheryOverviewCard IsShowTitle="true" EntryId="Model.Id" />
    </div>
    @if (string.IsNullOrWhiteSpace(Model.MainPage) == false)
    {
        <div class="mb-3 pt-2">
            <CnGalWebSite.Shared.AppComponent.Normal.Titles.TitleLine Title="介绍" />
            <div class="mt-3">
                <CnGalWebSite.Shared.AppComponent.Normal.Texts.MarkdownView Text="@Model.MainPage" />
            </div>
        </div>

    }

</div>


@code {
    [Parameter]
    public EntryIndexViewModel Model { get; set; }

    public List<CnGalWebSite.Shared.AppComponent.Pages.Entries.Normal.BasicInforPairModel> Informations { get; set; } = new List<Normal.BasicInforPairModel>();
    public List<CnGalWebSite.Shared.AppComponent.Pages.Entries.Normal.Relevances.WebSitePairModel> WebSites { get; set; } = new List<Normal.Relevances.WebSitePairModel>();

    protected override async Task OnInitializedAsync()
    {
        if (Model.Information.Any(s => s.Modifier == "基本信息"))
        {
            foreach (var item in Model.Information.Where(s => s.Modifier == "基本信息").FirstOrDefault().Informations)
            {
                if (item.DisplayName == "昵称（官方称呼）")
                {
                    continue;
                }
                var temp = new AppComponent.Pages.Entries.Normal.BasicInforPairModel
                {
                    Name = item.DisplayName,
                    Value = item.DisplayValue,
                    MultipleLines = true
                };
                Informations.Add(temp);
            }

        }

        if (Model.Information.Any(s => s.Modifier == "相关网站"))
        {
            foreach (var item in Model.Information.Where(s => s.Modifier == "相关网站").FirstOrDefault().Informations)
            {
                var temp = new AppComponent.Pages.Entries.Normal.Relevances.WebSitePairModel
                {
                    Name = item.DisplayName,
                    Url = item.DisplayValue,
                };

                WebSites.Add(temp);
            }

        }
    }
}
