
<CnGalWebSite.Shared.MasaComponent.Shared.Cards.TitleTip Title="编辑指引"/>

<div class="row">
    <div class="col-12">
        <RecentlyEditListViewTip></RecentlyEditListViewTip>
    </div>


    <div class="col-12 col-lg-8">
        <div class="row">
            <div class="col-12">
                <CnGalWebSite.Shared.MasaComponent.Shared.Components.Charts.MasaLineChart Type="LineChartType.StatisticalData"  AllowExtend="false" BaseUrl="@(ToolHelper.WebApiPath + "api/perfections/GetPerfectionLineChart")" Class="mb-4" Outline />
            </div>
            <div class="col-12">
                 <CnGalWebSite.Shared.MasaComponent.Shared.Components.Charts.MasaLineChart Type="LineChartType.PerfectionLevel" AllowExtend="false" BaseUrl="@(ToolHelper.WebApiPath + "api/perfections/GetPerfectionLineChart")" Class="mb-4" Outline />
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-4">
        <PerfectionOverviewTip></PerfectionOverviewTip>
    </div>

    <div class="col-12 col-lg-4">
        <PerfectionLevelRandomListTip Level="PerfectionLevel.Excellent" Title="已完善的词条" TitleIcon="@IconType.Number1.ToIconString()"></PerfectionLevelRandomListTip>
         <PerfectionCheckLevelRandomListTip Level="PerfectionCheckLevel.High" Title="急需处理的项目" TitleIcon="@IconType.Number3.ToIconString()"></PerfectionCheckLevelRandomListTip>
    </div>

    <div class="col-12 col-lg-8">
        <div class="row">
            <div class="col-12">
                 <PerfectionLevelRandomListTip Level="PerfectionLevel.ToBeImproved" Title="急需完善的词条" TitleIcon="@IconType.Number3.ToIconString()" IsTransverse="true"></PerfectionLevelRandomListTip>
            </div>
            <div class="col-12">
                 <PerfectionLevelRandomListTip Level="PerfectionLevel.Good" Title="待完善的词条" TitleIcon="@IconType.Number2.ToIconString()" IsTransverse="true"></PerfectionLevelRandomListTip>
            </div>
            <div class="col-12">
                 <PerfectionCheckLevelRandomListTip Level="PerfectionCheckLevel.Middle" Title="待处理的项目" TitleIcon="@IconType.Number2.ToIconString()" IsTransverse="true"></PerfectionCheckLevelRandomListTip>
            </div>
        </div>
    </div>
</div>

@code {
   
}
