<MDCard Class="project-description-card mb-4 pa-4">
    <div class="head-card">
        <div class="headline-large">@Model.Name</div>
        <div class="label-large d-flex"><MIcon Small Color="primary" Class="me-2">@IconType.DeterminedTime.ToIconString()</MIcon> @($"发布于 {Model.CreateTime:yyyy-MM-dd}")</div>
    </div>
    <div class="content-card">
        <CnGalWebSite.ProjectSite.Shared.Components.Shared.IconTitleCard Icon="IconType.Project" Title="企划详情" />
        <div>@Model.Description</div>
    </div>
    <div class="content-card">
        <CnGalWebSite.ProjectSite.Shared.Components.Shared.IconTitleCard Icon="IconType.Link" Title="联系方式" />
        <div>@Model.Contact</div>
    </div>
</MDCard>

@code {
    [Parameter]
    public ProjectViewModel Model { get; set; }
}
