@inject HttpClient Http
@inject ExamineService _examineService
@inject ToastService ToastService
@inject NavigationManager NavigationManager
@inject IAppHelper _appHelper
@inject IJSRuntime JS
@inject DialogService DialogService
@inject IDataCacheService _dataCatcheService

@if (string.IsNullOrWhiteSpace(PersonalSpace.Name) == false)
{
    <TitleTip Title="@(PersonalSpace.Name + " - CnGal 中文galgame资料站")" Description="@PersonalSpace.PersonalSignature" Image="@PersonalSpace.PhotoPath"></TitleTip>
}
else
{
    <TitleTip></TitleTip>
}

<CnGalWebSite.Shared.AppComponent.Pages.Users.MainPage.HeadBar Title="@UserInfor.UserName" UserId="@UserInfor.Id" />

@if (isReady)
{
    <div style=" margin-top: 45px; width: 100%;margin-bottom:65px;">

        <CnGalWebSite.Shared.AppComponent.Pages.Users.MainPage.HeadCard Model="UserInfor" />
        <CnGalWebSite.Shared.AppComponent.Pages.Users.MainPage.PivotLine RandomIndex="@randomIndex" DefaultIndex="defaultIndex" IsShowArticles="@(UserArticles.Count!=0)" IsShowPeripheries="@(UserPeripheries.Count!=0)"/>

        <div class="ms-3 me-3">
            <div class="mt-3 mb-3" style="padding-right: 0;padding-left: 0;">
                <div class="tab-content" id="@("pills" + randomIndex + "-tabContent")">
                    <div class="@("tab-pane fade" + (defaultIndex == 0 ? " show active " : "") )" id="@("pills" + randomIndex + "-0")" role="tabpanel" aria-labelledby="@("pills" + randomIndex + "-0-tab")">
                        <div>
                            <CnGalWebSite.Shared.AppComponent.Pages.Users.MainPage.DetailCard Model="PersonalSpace" />
                        </div>
                    </div>
                    <div class="@("tab-pane fade" + (defaultIndex == 1 ? " show active " : "") )" id="@("pills" + randomIndex + "-1")" role="tabpanel" aria-labelledby="@("pills" + randomIndex + "-1-tab")">
                        <div>
                            <CnGalWebSite.Shared.AppComponent.Pages.Users.MainPage.ListArticleCard Model="UserArticles" />
                        </div>
                    </div>
                    <div class="@("tab-pane fade" + (defaultIndex == 2 ? " show active " : "") )" id="@("pills" + randomIndex + "-2")" role="tabpanel" aria-labelledby="@("pills" + randomIndex + "-2-tab")">
                        <div>
                            <CnGalWebSite.Shared.AppComponent.Pages.Users.MainPage.ListPeripheryCard UserPeripheries="UserPeripheries" />
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <CnGalWebSite.Shared.AppComponent.Normal.Comments.ListComment  UserId="@Id" Type="CommentType.CommentUser" CanDeleted="IsAdmin" OnRelying="@((a)=>userFooter.RelyComment(a.UserName,a.CommentId))" @ref="comments" />
                </div>

            </div>
        </div>
    </div>
}
else
{
    <CnGalWebSite.Shared.AppComponent.Normal.Loading.LoadingTip />
}
@if (isNotFound == false)
{
    <CnGalWebSite.Shared.AppComponent.Pages.Users.MainPage.UserFooter @ref="userFooter" Image="@UserInfor.PhotoPath" RelyCallBack="RefreshComment"
                                                                          UserId="@id" UserName="@UserInfor.UserName" BriefIntroduction="@UserInfor.PersonalSignature" />
}

@code {
    private string id = "";
    [Parameter]
    public string Id
    {
        get
        {
            return id;
        }
        set
        {
            id = value;
            isReady = false;
            if (isFirstLoad == false)
            {
                OnReLoad();
            }
        }
    }

    private int defaultIndex { get; set; } = 0;
    [Parameter]
    public string DefaultIndex
    {
        get
        {
            return defaultIndex.ToString();
        }
        set
        {
            try
            {
                defaultIndex = int.Parse(value);
            }
            catch
            {
                defaultIndex = 0;
            }
        }
    }

    bool isReady = false;
    bool isNotFound = false;
    bool isFirstLoad = true;
    string LastLookName = "";

    public int randomIndex = new Random().Next();

    public UserInforViewModel UserInfor { get; set; } = new UserInforViewModel { Ranks = new List<RankViewModel>() };
    public PersonalSpaceViewModel PersonalSpace { get; set; } = new PersonalSpaceViewModel
    {
        EditCountList = new List<KeyValuePair<DateTime, int>>()
    };

    public List<ArticleInforTipViewModel> UserArticles = new List<ArticleInforTipViewModel>();
    public List<GameOverviewPeripheriesModel> UserPeripheries = new List<GameOverviewPeripheriesModel>();

    public CnGalWebSite.Shared.AppComponent.Pages.Users.MainPage.UserFooter userFooter;
    public CnGalWebSite.Shared.AppComponent.Normal.Comments.ListComment comments;
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }


    public bool IsAdmin { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {

            isFirstLoad = false;
        }

    }

    async Task OnReLoad()
    {
        await OnInitializedAsync();
        await OnAfterRenderAsync_();
    }

    public async Task RefreshComment()
    {
        if (comments != null)
        {
            await comments.Refresh();

        }
    }

    async Task OnAfterRenderAsync_()
    {

        //记录数据
        if (PersonalSpace.Name != LastLookName && PersonalSpace.Name != "CnGal_中文GalGame资料站")
        {
            LastLookName = PersonalSpace.Name;
            try
            {
                await JS.InvokeAsync<string>("trackEvent", "用户主页", "浏览", PersonalSpace.Name, "1", "look");
            }
            catch (Exception exc)
            {

            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var user = await authenticationStateTask;
            IsAdmin = user.User.IsInRole("Admin");

            isReady = false;
            isNotFound = false;
            //获取词条信息
            PersonalSpace = await Http.GetFromJsonAsync<PersonalSpaceViewModel>(ToolHelper.WebApiPath + "api/space/getuserview/" + Id);
            UserInfor = await Http.GetFromJsonAsync<UserInforViewModel>(ToolHelper.WebApiPath + "api/space/GetUserData/" + Id);
            UserArticles = await Http.GetFromJsonAsync<List<ArticleInforTipViewModel>>(ToolHelper.WebApiPath + "api/articles/GetUserAllArticles/" + Id);
            UserPeripheries = await Http.GetFromJsonAsync<List<GameOverviewPeripheriesModel>>(ToolHelper.WebApiPath + "api/peripheries/GetUserOverviewPeripheries/" + Id);
            //判断如果名称为空则返回主页
            if (string.IsNullOrWhiteSpace(PersonalSpace.Name))
            {
                NavigationManager.NavigateTo("/home");
            }

            isReady = true;
            StateHasChanged();

        }
        catch(Exception ex)
        {
            ErrorHandler.ProcessError(ex, "获取用户空间失败");
            isNotFound = true;
            isReady = true;
            StateHasChanged();
        }


    }
}
