@inject IEventService _eventService
@inject IDataCacheService _dataCacheService

<CnGalWebSite.Shared.MasaComponent.PC.Entries.Templates.OfficialWebsite.Others.CarouselsCard Model="Model" />
<CnGalWebSite.Shared.MasaComponent.PC.Entries.Templates.OfficialWebsite.Others.CarouselsCard Model="Model" Background />

<section id="top">
    @if (string.IsNullOrWhiteSpace(Model.WebsiteAddInfor?.FirstPage))
    {
        <div class="logo-area">
            <h1>
                @if (string.IsNullOrWhiteSpace(Model.WebsiteAddInfor?.Logo))
                {
                    <span>@Model.Name</span>
                }
                else
                {
                    <img width="100%" src="@Model.WebsiteAddInfor.Logo" />
                }
            </h1>
            @if (string.IsNullOrWhiteSpace(Model.WebsiteAddInfor?.SubTitle) == false)
            {
                <div class="lead">
                    @((MarkupString)Model.WebsiteAddInfor.SubTitle)
                </div>
            }
            else
            {
                <div class="lead">@publishTime</div>
            }

        </div>
        @if (string.IsNullOrWhiteSpace(Model.WebsiteAddInfor?.Impressions) == false)
        {
            <div class="copy">
                @((MarkupString)Model.WebsiteAddInfor.Impressions)
            </div>
        }
    }
    else
    {
        @((MarkupString)Model.WebsiteAddInfor.FirstPage)
    }
    <div class="button-area">
        @if (Model.Booking != null && Model.Booking.Open)
        {
            <div>
                <BookingButton Template="EntryStyleTemplate.OfficialWebsite" Id="Model.Id" />
            </div>
        }
        @if (Model.Releases.Any(s=>s.PublishPlatformType== PublishPlatformType.Steam))
        {
            <div>
                <MButton Rounded Color="primary" Block XLarge="@(_dataCacheService.IsApp?false:true)" OnClick="@(()=>_eventService.OpenNewPage($"https://store.steampowered.com/app/{Model.Releases.FirstOrDefault(s=>s.PublishPlatformType== PublishPlatformType.Steam)?.Link}"))">
                    <MIcon Left Class="me-4">
                        @IconType.Steam.ToIconString()
                    </MIcon>
                    S T E A M
                </MButton>
            </div>
        }
    </div>
    @if (Model.WebsiteAddInfor == null)
    {
        <div class="infor">
            <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaAlert Type="AlertTypes.Info" Class="p-3" Outline>
                未适配该词条，当前界面样式可能不美观，我们将会持续推进样式适配，尽情期待
            </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaAlert>
        </div>
    }
</section>

@code {
    [Parameter]
    public EntryIndexViewModel Model { get; set; }

    string publishTime { get; set; }

    protected override void OnInitialized()
    {
        var release = Model.Releases.OrderBy(s => s.Time).FirstOrDefault(s => s.Time != null || string.IsNullOrWhiteSpace(s.TimeNote) == false);
        if(release==null)
        {
            publishTime = null;
            return;
        }
        if(string.IsNullOrWhiteSpace(release.TimeNote)==false)
        {
            publishTime = release.TimeNote;
            return;
        }

        if(release.Time!=null)
        {
            publishTime = release.Time.Value.ToString("yyyy年MM月dd日");
            return;
        }

    }
}
