<a class="a-font-color" style="display: flex; align-items: center;" href="@("/entries/index/"+Model.EntryId)">
    <div>
        <img src="@Model.Image" alt="@Model.Title" style=" width: 60px;border-radius:50%;">
    </div>
    <div class="ms-3" style=" display: flex; flex-direction: column;justify-content: space-between;">
        <div style=" font-size: larger; -webkit-line-clamp: 1;" class="home-card-name-text">@Model.Title</div>
        <div class="home-card-name-text" style="font-size: 12px; color: gray;">@Model.Description</div>
    </div>
</a>

@code {
    [Parameter]
    public StaffCardModel Model { get; set; }

}
