<div class="row row-cols-1 row-cols-md-3">
    <ExaminesPartViewImageTip Name="主图" Path="@Model.MainPicture"></ExaminesPartViewImageTip>
    <ExaminesPartViewImageTip Name="背景图" Path="@Model.BackgroundPicture"></ExaminesPartViewImageTip>
    <ExaminesPartViewImageTip Name="小背景图" Path="@Model.SmallBackgroundPicture"></ExaminesPartViewImageTip>
</div>
<div class="row">
    <ExaminesPartViewInforTip DispalyName="名称" DispalyValue="@Model.Name"></ExaminesPartViewInforTip>
    <ExaminesPartViewInforTip DispalyName="简介" DispalyValue="@Model.BriefIntroduction"></ExaminesPartViewInforTip>
</div>
@code { [Parameter]
            public DisambigMain Model { get; set; } = new DisambigMain(); }
