<div class="row row-cols-1 row-cols-md-3">
    <ExaminesPartViewImageTip Name="主图" Path="@Model.MainPicture"></ExaminesPartViewImageTip>
    <ExaminesPartViewImageTip Name="缩略图" Path="@Model.Thumbnail"></ExaminesPartViewImageTip>

    <ExaminesPartViewImageTip Name="背景图" Path="@Model.BackgroundPicture"></ExaminesPartViewImageTip>
    <ExaminesPartViewImageTip Name="小背景图" Path="@Model.SmallBackgroundPicture"></ExaminesPartViewImageTip>

</div>
<div class="row">
    <ExaminesPartViewInforTip DispalyName="唯一名称" DispalyValue="@Model.Name"></ExaminesPartViewInforTip>
    <ExaminesPartViewInforTip DispalyName="简介" DispalyValue="@Model.BriefIntroduction"></ExaminesPartViewInforTip>
    <ExaminesPartViewInforTip DispalyName="作者" DispalyValue="@Model.Author"></ExaminesPartViewInforTip>
    <ExaminesPartViewInforTip DispalyName="材质" DispalyValue="@Model.Material"></ExaminesPartViewInforTip>

    <ExaminesPartViewInforTip DispalyName="类型" DispalyValue="@Model.Type.GetDisplayName()"></ExaminesPartViewInforTip>
    <ExaminesPartViewInforTip DispalyName="类型" DispalyValue="@Model.Category"></ExaminesPartViewInforTip>
    <ExaminesPartViewInforTip DispalyName="尺寸" DispalyValue="@Model.Size"></ExaminesPartViewInforTip>
    <ExaminesPartViewInforTip DispalyName="品牌" DispalyValue="@Model.Brand"></ExaminesPartViewInforTip>
    <ExaminesPartViewInforTip DispalyName="单独部件数量" DispalyValue="@Model.IndividualParts"></ExaminesPartViewInforTip>
    <ExaminesPartViewInforTip DispalyName="价格" DispalyValue="@Model.Price"></ExaminesPartViewInforTip>
    <ExaminesPartViewInforTip DispalyName="贩售链接" DispalyValue="@Model.SaleLink"></ExaminesPartViewInforTip>
    <ExaminesPartViewInforTip DispalyName="是否再版" DispalyValue="@Model.IsReprint.ToString()"></ExaminesPartViewInforTip>
    <ExaminesPartViewInforTip DispalyName="是否为可用物品" DispalyValue="@Model.IsAvailableItem.ToString()"></ExaminesPartViewInforTip>
    @if (Model.Type == PeripheryType.SetorAlbumEtc)
    {
        <ExaminesPartViewInforTip DispalyName="页数" DispalyValue="@Model.PageCount.ToString()"></ExaminesPartViewInforTip>

    }
    @if (Model.Type == PeripheryType.Ost)
    {
        <ExaminesPartViewInforTip DispalyName="歌曲数" DispalyValue="@Model.SongCount.ToString()"></ExaminesPartViewInforTip>

    }

</div>
@code { [Parameter]
            public PeripheryMain_1_0 Model { get; set; } = new PeripheryMain_1_0(); }
