@if (Model.InforState == EditState.Preview)
{
    <div class="mb-3">

        <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Buttons.RevokeButton Url="@("/entries/EditAddInfor/" + Model.Id)" ExamineType="Operation.EstablishAddInfor" OnClickRevoke="OnRevoke" />
    </div>
}


@if (Model.Type == EntryType.Game)
{
    <meta itemprop="applicationCategory" content="Game" />
    <meta itemprop="applicationSubCategory" content="AVG" />
}

@if (Model.Information.Any())
{
    <CnGalWebSite.Components.Containers.MasaTitleContainer Title="基础信息" Icon="@IconType.Infor.ToIconString()" Class="mb-4">
        <div class="basic-info-group-card">
            @foreach (var item in Model.Information)
            {
                <BasicInforAloneTip IconString="@item.Icon" Title="@item.Name" Text="@item.Value" />
            }
        </div>
    </CnGalWebSite.Components.Containers.MasaTitleContainer>

}

@code {
    [Parameter]
    public EventCallback<Operation> OnRevoke { get; set; }
    [Parameter]
    public long Id { get; set; }
    [Parameter]
    public EntryIndexViewModel Model { get; set; }



}
