@inject IDataCacheService _dataCacheService
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@inject IEventService _eventService


@if (Model.RelevancesState == EditState.Preview)
{
    <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Buttons.RevokeButton Url="@("/entries/EditRelevances/" + Model.Id)" ExamineType="Operation.EstablishRelevances" OnClickRevoke="OnRevoke" />
}
<CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Title="动态" Icon="@IconType.News.ToIconString()">
    <div class="overflow-y-auto" style="max-height:500px">
        <MTimeline Dense="_dataCacheService.IsApp||Model.NewsOfEntry.Count<3" Class="ms-2 me-2">
            @foreach (var item in Model.NewsOfEntry.OrderByDescending(s => s.HappenedTime))
            {
                <MTimelineItem Large>
                    <IconContent>
                        <MAvatar Class="pointer" @onclick="@(()=>OnClickImage(item))" Color="white">
                            <img src="@item.Image" alt="@item.GroupName" />
                        </MAvatar>
                    </IconContent>
                    <OppositeContent>
                        <span>@item.HappenedTime.ToString("yyyy-MM-dd HH:mm")</span>
                    </OppositeContent>
                    <ChildContent>
                        <MCard Class="elevation-2" @onclick="@(()=>ViewAt(item))">
                            <MCardTitle Class="fw-bold">
                                @item.Title
                            </MCardTitle>
                            <MCardText Style=" white-space: break-spaces;">
                                @item.BriefIntroduction
                            </MCardText>
                        </MCard>
                    </ChildContent>
                </MTimelineItem>
            }
        </MTimeline>
    </div>

</CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>

<CnGalWebSite.Shared.MasaComponent.Shared.Components.TrackEvent @ref="trackEven" />

@code {
    [Parameter]
    public EntryIndexViewModel Model { get; set; }
    [Parameter]
    public EventCallback<Operation> OnRevoke { get; set; }
    CnGalWebSite.Shared.MasaComponent.Shared.Components.TrackEvent trackEven;


    public void OnClickImage(NewsModel item)
    {
        if (item.GroupId != 0 && item.GroupId != Model.Id)
        {
            NavigationManager.NavigateTo("/entries/index/" + item.GroupId);
        }
        else if (string.IsNullOrWhiteSpace(item.UserId) == false)
        {


            NavigationManager.NavigateTo("/space/index/" + item.UserId);

        }
        
    }

    public async void ViewAt(NewsModel item)
    {
        if (string.IsNullOrWhiteSpace(item.Title))
        {
            return;
        }
        if (item.Link.Contains("cngal.org"))
        {
            NavigationManager.NavigateTo(item.Link);
        }
        else
        {
            if (trackEven != null)
            {
                await trackEven.SendTrackEvent(TrackEventType.Click, TrackEventDataType.News, item.ArticleId.ToString(), item.Title);
            }

            await _eventService.OpenNewPage(item.Link);

        }
    }
}
