@if (Model.Staffs != null && Model.Staffs.Count != 0)
{
    <CnGalWebSite.Components.Containers.MasaTitleContainer Title="Staff" Icon="@IconType.Staff.ToIconString()" Collapable>
        <ButtonContent>
            <CnGalWebSite.Components.Buttons.MasaButton Rounded TextStyle Small Icon="@IconType.Switch.ToIconString()" Text="@(min?"正常":"缩略")" OnClick="OnMin" StopPropagation Class="me-4" />
        </ButtonContent>
        <ChildContent>
            <div class="staff-note">（排名不分先后顺序）</div>
            <div class="entry-card-default staff-card">
                @foreach (var item in _staffs)
                {
                    <div class="@(string.IsNullOrWhiteSpace(item.Modifier)?"group-no":"group")">
                        <div class="name">
                            @item.Modifier
                        </div>
                        <div class="items">
                            @foreach (var infor in item.StaffList)
                            {
                                <div class="posts">
                                    <span class="name">@infor.Modifier：</span>

                                    @foreach (var temp in infor.Names)
                                    {
                                        @if (infor.Names.IndexOf(temp) != 0)
                                        {
                                            <span>、</span>
                                        }
                                        @if (temp.Id > 0)
                                        {
                                            <a class="staff-name" href="@($"/entries/index/{temp.Id}")">@temp.DisplayName</a>
                                        }
                                        else
                                        {
                                            <span class="staff-name">@temp.DisplayName</span>
                                        }

                                    }
                                </div>

                            }
                        </div>
                    </div>
                }
            </div>
        </ChildContent>
    </CnGalWebSite.Components.Containers.MasaTitleContainer>
}

@code {
    [Parameter]
    public EntryIndexViewModel Model { get; set; }
    bool min;

    List<StaffInforModel> _staffs = [];

    protected override void OnParametersSet()
    {
        Refresh();
    }

    public void OnMin()
    {
        min = !min;
        Refresh();
        StateHasChanged();
    }

    public void Refresh()
    {
        if (min == false)
        {
            _staffs = Model.Staffs.ToList();
            return;
        }

        _staffs.Clear();

        foreach (var item in Model.Staffs)
        {
            var model = new StaffInforModel
                {
                    Modifier = item.Modifier,
                    StaffList = []
                };
            var staffs = new List<(string, StaffNameModel)>();
            foreach (var info in item.StaffList)
            {
                foreach (var temp in info.Names)
                {
                    staffs.Add((info.Modifier, temp));
                }
            }
            var pos = new List<(string, StaffNameModel)>();
            foreach (var info in staffs.GroupBy(s => $"[{s.Item2.Id}]{s.Item2.DisplayName}"))
            {
                pos.Add((string.Join('/', info.Select(s => s.Item1)), info.First().Item2));
            }

            foreach (var info in pos.GroupBy(s => s.Item1))
            {
                model.StaffList.Add(new StaffValue
                    {
                        Modifier = info.Key,
                        Names = info.Select(s => s.Item2).ToList()
                    });
            }

            _staffs.Add(model);
        }
    }
}
