@if (SteamUserInfors.Count == 1&&IsSmallScreen==false)
{
    var item = SteamUserInfors[0];
    <a href="@("https://steamcommunity.com/profiles/"+item.SteamId)" rel="noreferrer" class="a-font-color" target="_blank">
        <div class="div-shadow rounded bg-opacity h-100 p-2 mb-3" style="display: flex; align-items: center;">
            <img style=" height: 50px;border-radius:50%; " src="@item.Image" alt="@item.Name" />
            <div class="ms-3" style=" display: flex; flex-direction: column; justify-content: space-between; ">
                <div class="">
                    @item.Name
                </div>
                <div class="m-0" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
                    <span  class="me-4 d-flex">
                        <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaIcon Type="IconType.Duration" />
                        <span>@("总时长："+(GameRecords.Sum(s=>s.PlayDuration)/60.0).ToString("0.0")+" 小时")</span>
                    </span>
                    <span  class="me-4 d-flex">
                        <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaIcon Type="IconType.Count" />
                        <span>@("总计："+GameRecords.Count)</span>

                    </span>
                    <span  class="me-4 d-flex">
                        <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaIcon Type="IconType.WantToPlay" />
                        <span>@("想玩："+GameRecords.Count(s=>s.Type== PlayedGameType.WantToPlay))</span>

                    </span>
                    <span  class="me-4 d-flex">
                        <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaIcon Type="IconType.Playing" />
                        <span>@("正在玩："+GameRecords.Count(s=>s.Type== PlayedGameType.Playing))</span>

                    </span>
                    <span  class="me-4 d-flex">
                        <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaIcon Type="IconType.Played" />
                        <span>@("已玩："+GameRecords.Count(s=>s.Type== PlayedGameType.Played))</span>

                    </span>
                    <span  class="me-4 d-flex">
                        <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaIcon Type="IconType.UnPlayed" />
                        <span>@("未玩："+GameRecords.Count(s=>s.Type== PlayedGameType.UnPlayed))</span>

                    </span>
                    <span  class="d-flex">
                        <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaIcon Type="IconType.Uninterested" />
                        <span>@("不感兴趣："+GameRecords.Count(s=>s.Type== PlayedGameType.Uninterested))</span>

                    </span>
                </div>
            </div>
        </div>
    </a>

}
else
{
    <div class="row">
        @foreach (var item in SteamUserInfors)
        {
            <div class="col-12 col-md-6 col-xxl-4 h-100">
                <a href="@("https://steamcommunity.com/profiles/"+item.SteamId)" rel="noreferrer" class="a-font-color" target="_blank">
                    <div class="div-shadow rounded bg-opacity p-2 mb-3" style="display: flex; align-items: center;">
                        <img style=" height: 50px; border-radius: 50%; " src="@item.Image" alt="@item.Name" />
                        <div class="ms-3" style=" display: flex; align-items: center; ">
                            <span class="">
                                @item.Name
                            </span>
                        </div>
                    </div>
                </a>
            </div>


        }
    </div>


    <div class="shadow-sm rounded bg-opacity h-100 p-2 mb-3" style="display:flex;">
        <div class="m-0" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
            <span class="me-4 d-flex">
                <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaIcon Type="IconType.Duration" />
                <span>@("总时长："+(GameRecords.Sum(s=>s.PlayDuration)/60.0).ToString("0.0")+" 小时")</span>
            </span>
            <span class="me-4 d-flex">
                <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaIcon Type="IconType.Count" />
                <span>@("总计："+GameRecords.Count)</span>

            </span>
            <span class="me-4 d-flex">
                <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaIcon Type="IconType.WantToPlay" />
                <span>@("想玩："+GameRecords.Count(s=>s.Type== PlayedGameType.WantToPlay))</span>

            </span>
            <span class="me-4 d-flex">
                <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaIcon Type="IconType.Playing" />
                <span>@("正在玩："+GameRecords.Count(s=>s.Type== PlayedGameType.Playing))</span>

            </span>
            <span class="me-4 d-flex">
                <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaIcon Type="IconType.Played" />
                <span>@("已玩："+GameRecords.Count(s=>s.Type== PlayedGameType.Played))</span>

            </span>
            <span class="me-4 d-flex">
                <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaIcon Type="IconType.UnPlayed" />
                <span>@("未玩："+GameRecords.Count(s=>s.Type== PlayedGameType.UnPlayed))</span>

            </span>
            <span class="d-flex">
                <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaIcon Type="IconType.Uninterested" />
                <span>@("不感兴趣："+GameRecords.Count(s=>s.Type== PlayedGameType.Uninterested))</span>

            </span>
        </div>
    </div>
}

@code {
    [Parameter]
    public List<GameRecordViewModel> GameRecords { get; set; }
    [Parameter]
    public List<SteamUserInfor> SteamUserInfors { get; set; }
    [Parameter]
    public bool IsSmallScreen { get; set; }

}
