@if (Small)
{
    <CnGalWebSite.Shared.MasaComponent.Shared.Cards.Users.InfoCard Model="Model" Class="mb-4" />
}
else
{
    <MDCard Class="mb-4">
        <a href="@("/space/index/"+Model.Id)" class="a-font-color">
            <img src="@Model.BackgroundImage" alt="@Model.Name" class="w-100">
            <div style="display: flex; margin-top: -40px; justify-content: center;">
                <img src="@Model.PhotoPath" style="width:80px; border-radius: 50%;" alt="@Model.Name">
            </div>
        </a>
        <div class="pa-3 pt-2" style=" display: flex; flex-direction: column; align-items: center;">
            @if (Main)
            {
                <h1 class=" text-center fw-bold mb-1" style=" word-break: break-all;">@Model.Name</h1>
            }
            else
            {
                <div class="text-center fw-bold mb-1" style=" word-break: break-all;    font-size: 2em;">@Model.Name</div>
            }
            <CnGalWebSite.Shared.MasaComponent.Shared.Cards.Ranks.RanksViewCard Model="Model.Ranks" ForceDisplayBadge Center />

             <span class="text-center mt-1">@Model.PersonalSignature</span>
         </div>
     </MDCard>
}



@code {
    [Parameter]
    public UserInforViewModel Model { get; set; }
    [Parameter]
    public bool Small { get; set; }
    [Parameter]
    public bool Main { get; set; }
}
