<div class=" rounded shadow-sm  bg-opacity pb-1 mb-3">
    <div class="row">
        <img src="@Model.BackgroundImage" class="col-12">
        <div style="display: flex; margin-top: -40px; justify-content: center;">
            <img src="@Model.PhotoPath" style="width:80px; border-radius: 50%;" alt="@Model.Name">

        </div>

    </div>
    <h4 class="text-center mt-2 fw-bold">@Model.Name</h4>
    <p class="text-center ms-2 me-2">@Model.PersonalSignature</p>
</div>



@code {
    [Parameter]
    public UserInforViewModel Model { get; set; }
}
