<div class=" rounded shadow-sm  bg-opacity mb-3">
    <div>
        <img src="@Model.BackgroundImage"  alt="@Model.Name" class="w-100">
        <div style="display: flex; margin-top: -40px; justify-content: center;">
            <img src="@Model.PhotoPath" style="width:80px; border-radius: 50%;" alt="@Model.Name">
        </div>
    </div>
    <div class="p-3" style=" display: flex; flex-direction: column; align-items: center;">
        <h1 class="h4 text-center fw-bold mb-1" style=" word-break: break-all;">@Model.Name</h1>
        <RanksViewCard Model="Model.Ranks" ForceDisplayBadge Center/>

        <span class="text-center mt-1">@Model.PersonalSignature</span>
    </div>
</div>



@code {
    [Parameter]
    public UserInforViewModel Model { get; set; }
}
