@inject IHttpService _httpService
@inject NavigationManager NavigationManager
@inject IDataCacheService _dataCacheService
@inject IJSRuntime JS
@inject IEventService _eventService

<div @onclick="OnClickNews" style="cursor:pointer;">
    <div class="@(Model.IsNeedLayout?"rounded shadow-sm p-2 bg-opacity":"")" style="cursor: pointer;display:flex; ">
        <div style="display: flex;align-items: center;">
            <img class="shadow-sm" src="@Model.Image" alt="@Model.Title" style="height: 50px;width: 50px;border-radius: 50%;" />
        </div>
        <div class="comment-tx-div" style=" flex: 1 1 auto; width: 0;">
            <div class="new-row-warp no-margin">
                <div class="comment-tag me-2 bg-main">@Model.Type</div>
                <div class="comment-username a-font-color me-2">@Model.Title</div>
                <div class="comment-username" style="color:gray">@Model.Time.ToTimeFromNowString()</div>
            </div>
            <div class="comment-time text-truncate" style="width: 100%;">@Model.Text</div>
        </div>
    </div>
</div>
<CnGalWebSite.Shared.MasaComponent.Shared.Components.TrackEvent @ref="trackEven" />

@code {
    [Parameter]
    public NewsThumbnailCardModel Model { get; set; }
    CnGalWebSite.Shared.MasaComponent.Shared.Components.TrackEvent trackEven;

    public async Task OnClickNews()
    {
        if (trackEven != null)
        {
            await trackEven.SendTrackEvent(TrackEventType.Click, TrackEventDataType.News, Model.ArticleId.ToString(), Model.Text);
        }

        if (Model.IsOutLink)
        {
            await _eventService.OpenNewPage(Model.Url);
        }
        else
        {
            NavigationManager.NavigateTo(Model.Url);
        }
    }
}
