@inject IDataCacheService _dataCacheService


<CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Title="基本信息" Icon="fa fa-fw fa-info-circle" Collapable Class="@Class">
    <MForm>
        <div class="row">

            <div class="col-12  col-sm-6">
                <MTextField @bind-Value="Model.UserName" Label="用户名" Color="@_dataCacheService.ThemeSetting.Theme" />
            </div>
            <div class="col-12">
                <MTextField @bind-Value="Model.PersonalSignature" Label="个性签名" Color="@_dataCacheService.ThemeSetting.Theme" />
            </div>
            <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaDatePicker @bind-NullableValue="Model.Birthday" Lable="生日" ShowTime="false" Nullable Class="col-12 col-sm-6" />
            <div class="col-12  col-sm-6">
                <MTextField @bind-Value="Model.SteamId" Label="SteamID64（64位的数字Id，可用逗号分隔多个Id）" Color="@_dataCacheService.ThemeSetting.Theme" />
            </div>

            <div class="col-12 col-sm-6">
                <MCheckbox @bind-Value="Model.CanComment" Label="允许游客留言" Color="@_dataCacheService.ThemeSetting.Theme" />
            </div>
            <div class="col-12 col-sm-6">
                <MCheckbox @bind-Value="Model.IsShowGameRecord" Label="在主页展示游玩记录" Color="@_dataCacheService.ThemeSetting.Theme" />
            </div>
            <div class="col-12">
                <MCardText Class="p-0">展示的头衔</MCardText>
                <div style="display:flex;">

                </div>
                @foreach (var item in Model.Ranks)
                {
                    <MCheckbox @bind-Value="item.IsShow" Label="@item.Name" Color="@_dataCacheService.ThemeSetting.Theme" Class="me-2" />

                }
            </div>

        </div>
    </MForm>
</CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>

@code {
    [Parameter]
    public EditUserDataViewModel Model { get; set; } = new EditUserDataViewModel();
    [Parameter]
    public string Class { get; set; }

    protected override async Task OnInitializedAsync()
    {


    }
}
