
<CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaAlert Type="AlertTypes.Info" Class="mb-3" Color="secondary">
    关联信息可以帮助我们建立详细的知识图谱，更好地展示相关内容；请确保关联信息存在，也可以先去创建再来关联哦~
</CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaAlert>

<CnGalWebSite.Components.Containers.MasaTitleContainer Icon="@IconType.Link.ToIconString()" Title="关联信息" Class="@Class" Collapable>
    <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Cards.Relevances.InputRelevancesListTip AutoCompleteItems="@EntryRoleItems" Model="Model.Roles" Title="角色"></CnGalWebSite.Shared.MasaComponent.Shared.Editors.Cards.Relevances.InputRelevancesListTip>
    <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Cards.Relevances.InputRelevancesListTip AutoCompleteItems="@EntryStaffItems" Model="Model.staffs" Title="STAFF"></CnGalWebSite.Shared.MasaComponent.Shared.Editors.Cards.Relevances.InputRelevancesListTip>
    <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Cards.Relevances.InputRelevancesListTip AutoCompleteItems="@ArticleItems" Model="Model.news" Title="动态"></CnGalWebSite.Shared.MasaComponent.Shared.Editors.Cards.Relevances.InputRelevancesListTip>
    <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Cards.Relevances.InputRelevancesListTip AutoCompleteItems="@ArticleItems" Model="Model.articles" Title="文章"></CnGalWebSite.Shared.MasaComponent.Shared.Editors.Cards.Relevances.InputRelevancesListTip>
    <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Cards.Relevances.InputRelevancesListTip AutoCompleteItems="@EntryGameItems" Model="Model.Games" Title="游戏"></CnGalWebSite.Shared.MasaComponent.Shared.Editors.Cards.Relevances.InputRelevancesListTip>
    <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Cards.Relevances.InputRelevancesListTip AutoCompleteItems="@EntryGroupItems" Model="Model.Groups" Title="组织"></CnGalWebSite.Shared.MasaComponent.Shared.Editors.Cards.Relevances.InputRelevancesListTip>
    <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Cards.Relevances.InputRelevancesListTip AutoCompleteItems="@VideoItems" Model="Model.videos" Title="视频"></CnGalWebSite.Shared.MasaComponent.Shared.Editors.Cards.Relevances.InputRelevancesListTip>
    <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Cards.Relevances.InputOtherLinkListTip Model="Model.others" Title="自定义链接"></CnGalWebSite.Shared.MasaComponent.Shared.Editors.Cards.Relevances.InputOtherLinkListTip>
    <div>
        <SectionTitleCard Title="外部链接" />
        <MRow>
            <MCol Cols="12" Md="6">
                <MTextField @bind-Value="Model.BilibiliId" Label="B站视频Id（bvid/aid）" />
            </MCol>
        </MRow>

    </div>

</CnGalWebSite.Components.Containers.MasaTitleContainer>


@code {
    [Parameter]
    public EditVideoRelevancesViewModel Model { get; set; }
    [Parameter]
    public List<string> EntryGameItems { get; set; }
    [Parameter]
    public List<string> EntryRoleItems { get; set; }
    [Parameter]
    public List<string> EntryGroupItems { get; set; }
    [Parameter]
    public List<string> EntryStaffItems { get; set; }
    [Parameter]
    public List<string> ArticleItems { get; set; }
    [Parameter]
    public List<string> VideoItems { get; set; }
    [Parameter]
    public string Class { get; set; }

}
