@inject ISettingService _settingService
@inject IUserDataService _userDataService
@inject ILive2DService _live2DService
@inject IJSRuntime JS
@inject IRepository<ClothesModel> _clothesRepository;
@inject IRepository<StockingsModel> _stockingsRepository;
@inject IRepository<ShoesModel> _shoesRepository;

<CnGalWebSite.Kanban.Components.Shared.FloatButton Image="./_content/CnGalWebSite.Kanban/images/clothes.png" ShowMenu Tooltip="换衣服" Class="cngal-kanban-switch-clothes">
    <MenuContent>
         <MDCard Class="pa-4 pb-0" Style="width: 350px;">
             <div class="title-medium">衣服</div>
            <MRadioGroup Value=" _userDataService.UserData.Clothes.ClothesName" TValue="string" ValueChanged="ClothesChanged" Row Mandatory>
                @foreach (var item in _clothesRepository.GetAll())
                {
                    <MRadio Label="@item.DisplayName" TValue="string" Value="@item.Name" />
                }
            </MRadioGroup>
            <div class="title-medium">丝袜</div>
            <MRadioGroup Value=" _userDataService.UserData.Clothes.StockingsName" TValue="string" ValueChanged="StockingsChanged" Row Mandatory>
                 @foreach (var item in _stockingsRepository.GetAll())
                {
                    <MRadio Label="@item.DisplayName" TValue="string" Value="@item.Name" />
                }
            </MRadioGroup>
            <div class="title-medium">鞋子</div>
            <MRadioGroup Value=" _userDataService.UserData.Clothes.ShoesName" TValue="string" ValueChanged="ShoesChanged" Row Mandatory>
                 @foreach (var item in _shoesRepository.GetAll())
                {
                    <MRadio Label="@item.DisplayName" TValue="string" Value="@item.Name" />
                }
            </MRadioGroup>
        </MDCard>
    </MenuContent>
</CnGalWebSite.Kanban.Components.Shared.FloatButton>

@code {
    public int GetValue()
    {
        var clothes=   _clothesRepository.GetAll().FirstOrDefault(s => s.Name == _userDataService.UserData.Clothes.ClothesName);
        return _clothesRepository.GetAll().IndexOf(clothes);
    }

    public async Task ClothesChanged(string name)
    {
        if (name == null)
        {
            await _live2DService.CleanClothes();
        }
        else
        {
            await _live2DService.SetClothes(name);
        }        
    }

    public async Task StockingsChanged(string name)
    {
        if (name == null)
        {
            await _live2DService.CleanStockings();
        }
        else
        {
            await _live2DService.SetStockings(name);
        }
    }

    public async Task ShoesChanged(string name)
    {
        if (name == null)
        {
            await _live2DService.CleanShoes();
        }
        else
        {
            await _live2DService.SetShoes(name);
        }
    }
}
