<div class="rounded shadow-sm bg-opacity h-100">
    <img src="@Model.Image" alt="@Model.Name" class="w-100 pointer" onclick="@OnClickImage">

    <div style="display: flex; flex-direction: column; word-break: break-all; " class="ps-3 pe-3 pt-2 pb-2">
        @if (string.IsNullOrWhiteSpace(Model.Link))
        {
            <span class="d-flex">
                <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaIcon Type="IconType.Count" />
                <span>
                    @($"{Model.Name} {Model.Count}件")
                </span>
            </span>
        }
        else
        {
            <span class="d-flex">
                <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaIcon Type="IconType.Count" />
                <a href="@Model.Link" target="@(Model.Link.ToLower().Contains("cngal")?"":"_blank")">
                    @($"{Model.Name} {Model.Count}件")
                </a>
            </span>
        }

        @if (string.IsNullOrWhiteSpace(Model.Sponsor) == false)
        {
            <span class="d-flex">
                <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaIcon Type="IconType.Sponsor" />
                <span>
                    赞助商：@Model.Sponsor
                </span>
            </span>

        }
    </div>
</div>

@code {
    [Parameter]
    public LotteryAwardViewModel Model { get; set; }
    [Parameter]
    public EventCallback OnClickImage { get; set; }
}
