<div class=" rounded shadow-sm  bg-opacity p-2 mb-2">
    <TabLink style="display: flex; align-items: center;" class="a-font-color" Url="@(Model.GroupId==-1?("/space/index/"+Model.UserId):( "/entries/index/"+Model.GroupId+"/10"))" Icon="fa fa-link" Text="@Model.GroupName">
        <div style="display:flex;">
            <dic style="display: flex;align-items: center;">
                <img class="shadow-sm" src="@Model.GroupImage" style="height: 50px;width: 50px;border-radius: 50%;" />
            </dic>
            <div class="ms-2" style="display: flex; flex-direction: column; justify-content: space-between; font-size: initial;">
                <div>@Model.GroupName</div>
                <div style="color:gray;">@(Model.Articles.Any()?Model.Articles.Max(s => s.LastEditTime).ToTimeFromNowString():"")</div>
            </div>
        </div>
    </TabLink>
    <div>
        @if (Model.Articles.Count != 0)
        {
            <div style="display: flex; flex-direction: row; overflow-x: auto; flex-wrap: nowrap; " class="mt-2">
                @foreach (var item in Model.Articles)
                {
                    <div class="h-100 me-2" style="width: 170px;">
                        <NewsCard Model="item" />
                    </div>
                }
            </div>
        }

    </div>

</div>

@code {
    [Parameter]
    public NewsSummaryAloneViewModel Model { get; set; }
}
