<TabLink Icon="fa fa-newspaper-o" Url="@(string.IsNullOrWhiteSpace(Model.Link) ? ("/articles/index/" + Model.Id) : Model.Link)" target="_blank" Text="@Model.Name" class="a-font-color">
    <div class="bg-opacity" style="cursor: pointer ">
        <div class="h-100">
            <img src="@Model.MainImage" class="card-img-top" style=" width: 170px; height: auto;" alt="@Model.Name" />
            <div style=" color: white; margin-top: -26px;">
                <div class="ps-2">
                    <i class="fa fa-eye fa-fw "></i>
                    <span class="article-infor-text">@Model.ReaderCount</span>
                </div>
            </div>
        </div>
        <div class="mb-2" style="padding: 0px; padding: 0px; padding-top: 0.5rem; ">
            <span class="home-card-name-text" style="font-size:inherit">@Model.Name</span>
        </div>
    </div>
</TabLink>
@code {
    [Parameter]
    public ArticleInforTipViewModel Model { get; set; }
}
