@inject IDataCacheService _dataCacheService
@implements IDisposable

@if (_dataCacheService.ThemeSetting.IsDark)
{
    @if (string.IsNullOrWhiteSpace(Text))
    {
        @if (string.IsNullOrWhiteSpace(Tooltip))
        {
            <MButton Icon="!Fab" Fab="Fab" Small="(!XSmall)&&Fab" Class="@Class" OnClick="OnButtonClick" Loading="loading" Disabled="Disabled" XSmall="XSmall" StopPropagation="StopPropagation" Text="TextStyle" Plain="Plain">
                <MIcon XSmall="XSmall">@Icon</MIcon>
            </MButton>

        }
        else
        {
            <MTooltip Bottom>
                <ActivatorContent>
                    <MButton Icon="!Fab" Small="(!XSmall)&&Fab" Fab="Fab" Class="@Class" @attributes="@context.Attrs" OnClick="OnButtonClick" Loading="loading" Disabled="Disabled" XSmall="XSmall" Text="TextStyle" StopPropagation="StopPropagation" Plain="Plain">
                        <MIcon XSmall="XSmall">@Icon</MIcon>
                    </MButton>
                </ActivatorContent>
                <ChildContent>
                    <span>@Tooltip</span>
                </ChildContent>
            </MTooltip>
        }

    }
    else
    {
        @if (string.IsNullOrWhiteSpace(Tooltip))
        {
            <MButton Class="@Class" OnClick="OnButtonClick" Loading="loading" Disabled="Disabled" Rounded="Rounded" Depressed="Depressed" XSmall="XSmall" StopPropagation="StopPropagation" Text="TextStyle" Plain="Plain">
                @if (string.IsNullOrWhiteSpace(Icon) == false)
                {
                    <MIcon XSmall="XSmall" Left="!string.IsNullOrWhiteSpace(Text)">@Icon</MIcon>
                }

                @Text
            </MButton>
        }
        else
        {
            <MTooltip Bottom>
                <ActivatorContent>
                    <MButton Class="@Class" @attributes="@context.Attrs" OnClick="OnButtonClick" Loading="loading" Disabled="Disabled" Rounded="Rounded" Depressed="Depressed" XSmall="XSmall" Text="TextStyle" StopPropagation="StopPropagation" Plain="Plain">
                        @if (string.IsNullOrWhiteSpace(Icon) == false)
                        {
                            <MIcon XSmall="XSmall" Left="!string.IsNullOrWhiteSpace(Text)">@Icon</MIcon>
                        }

                        @Text
                    </MButton>
                </ActivatorContent>
                <ChildContent>
                    <span>@Tooltip</span>
                </ChildContent>
            </MTooltip>
        }

    }


}
else
{
    @if (string.IsNullOrWhiteSpace(Color))
    {
        @if (string.IsNullOrWhiteSpace(Text))
        {
            @if (string.IsNullOrWhiteSpace(Tooltip))
            {
                <MButton Icon="!Fab" Fab="Fab" Dark Small="(!XSmall)&&Fab" Color="@_dataCacheService.ThemeSetting.Theme" Class="@Class" OnClick="OnButtonClick" Loading="loading" Disabled="Disabled" XSmall="XSmall" StopPropagation="StopPropagation" Plain="Plain" Text="TextStyle">
                    <MIcon XSmall="XSmall">@Icon</MIcon>
                </MButton>

            }
            else
            {
                <MTooltip Bottom>
                    <ActivatorContent>
                        <MButton Icon="!Fab" Dark Small="(!XSmall)&&Fab" Fab="Fab" Color="@_dataCacheService.ThemeSetting.Theme" Class="@Class" @attributes="@context.Attrs" OnClick="OnButtonClick" Loading="loading" Disabled="Disabled" XSmall="XSmall" Text="TextStyle" Plain="Plain" StopPropagation="StopPropagation">
                            <MIcon XSmall="XSmall">@Icon</MIcon>
                        </MButton>
                    </ActivatorContent>
                    <ChildContent>
                        <span>@Tooltip</span>
                    </ChildContent>
                </MTooltip>
            }

        }
        else
        {
            @if (string.IsNullOrWhiteSpace(Tooltip))
            {
                <MButton Color="@_dataCacheService.ThemeSetting.Theme" Dark Class="@Class" OnClick="OnButtonClick" Loading="loading" Disabled="Disabled" Rounded="Rounded" Depressed="Depressed" XSmall="XSmall" StopPropagation="StopPropagation" Text="TextStyle" Plain="Plain">
                    @if (string.IsNullOrWhiteSpace(Icon) == false)
                    {
                        <MIcon XSmall="XSmall" Left="!string.IsNullOrWhiteSpace(Text)">@Icon</MIcon>
                    }

                    @Text
                </MButton>
            }
            else
            {
                <MTooltip Bottom>
                    <ActivatorContent>
                        <MButton Color="@_dataCacheService.ThemeSetting.Theme" Dark Class="@Class" @attributes="@context.Attrs" OnClick="OnButtonClick" Loading="loading" Disabled="Disabled" Rounded="Rounded" Depressed="Depressed" XSmall="XSmall" Text="TextStyle" Plain="Plain" StopPropagation="StopPropagation">
                            @if (string.IsNullOrWhiteSpace(Icon) == false)
                            {
                                <MIcon XSmall="XSmall" Left="!string.IsNullOrWhiteSpace(Text)">@Icon</MIcon>
                            }

                            @Text
                        </MButton>
                    </ActivatorContent>
                    <ChildContent>
                        <span>@Tooltip</span>
                    </ChildContent>
                </MTooltip>
            }

        }
    }
    else
    {
        @if (string.IsNullOrWhiteSpace(Text))
        {
            @if (string.IsNullOrWhiteSpace(Tooltip))
            {
                <MButton Icon="!Fab" Fab="Fab" Dark Small="(!XSmall)&&Fab" Color="@Color" Class="@Class" OnClick="OnButtonClick" Loading="loading" Disabled="Disabled" XSmall="XSmall" StopPropagation="StopPropagation" Plain="Plain" Text="TextStyle">
                    <MIcon XSmall="XSmall">@Icon</MIcon>
                </MButton>

            }
            else
            {
                <MTooltip Bottom>
                    <ActivatorContent>
                        <MButton Icon="!Fab" Dark Small="(!XSmall)&&Fab" Fab="Fab" Color="@Color" Class="@Class" @attributes="@context.Attrs" OnClick="OnButtonClick" Loading="loading" Disabled="Disabled" XSmall="XSmall" StopPropagation="StopPropagation" Plain="Plain" Text="TextStyle">
                            <MIcon XSmall="XSmall">@Icon</MIcon>
                        </MButton>
                    </ActivatorContent>
                    <ChildContent>
                        <span>@Tooltip</span>
                    </ChildContent>
                </MTooltip>
            }

        }
        else
        {
            @if (string.IsNullOrWhiteSpace(Tooltip))
            {
                <MButton Color="@Color" Dark Class="@Class" OnClick="OnButtonClick" Loading="loading" Disabled="Disabled" Rounded="Rounded" Depressed="Depressed" XSmall="XSmall" StopPropagation="StopPropagation" Plain="Plain" Text="TextStyle">
                    @if (string.IsNullOrWhiteSpace(Icon) == false)
                    {
                        <MIcon XSmall="XSmall" Left="!string.IsNullOrWhiteSpace(Text)">@Icon</MIcon>
                    }

                    @Text
                </MButton>
            }
            else
            {
                <MTooltip Bottom>
                    <ActivatorContent>
                        <MButton Color="@Color" Dark Class="@Class" @attributes="@context.Attrs" OnClick="OnButtonClick" Loading="loading" Disabled="Disabled" Rounded="Rounded" Depressed="Depressed" XSmall="XSmall" StopPropagation="StopPropagation" Plain="Plain" Text="TextStyle">
                            @if (string.IsNullOrWhiteSpace(Icon) == false)
                            {
                                <MIcon XSmall="XSmall">@Icon</MIcon>
                            }

                            @Text
                        </MButton>
                    </ActivatorContent>
                    <ChildContent>
                        <span>@Tooltip</span>
                    </ChildContent>
                </MTooltip>
            }

        }
    }

}



@code {
    [Parameter]
    public string Icon { get; set; }
    [Parameter]
    public string Class { get; set; }
    [Parameter]
    public bool StopPropagation { get; set; }
    [Parameter]
    public bool IsAsync { get; set; }
    [Parameter]
    public bool Fab { get; set; }
    [Parameter]
    public bool XSmall { get; set; }
    [Parameter]
    public string Text { get; set; }
    [Parameter]
    public string Tooltip { get; set; }
    [Parameter]
    public string Color { get; set; }
    [Parameter]
    public bool Disabled { get; set; }
    [Parameter]
    public bool Depressed { get; set; }
    [Parameter]
    public bool TextStyle { get; set; }
    [Parameter]
    public bool Rounded { get; set; }
    [Parameter]
    public bool Plain { get; set; }
    [Parameter]
    public EventCallback OnClick { get; set; }

    private bool loading { get; set; }

    public async Task OnButtonClick()
    {
        if (IsAsync)
        {
            loading = true;
            StateHasChanged();
            await OnClick.InvokeAsync();
            loading = false;
            StateHasChanged();
        }
        else
        {
            await OnClick.InvokeAsync();
        }
    }


    protected override async Task OnInitializedAsync()
    {

        _dataCacheService.RefreshRequsted += RefreshRequsted;

    }

    public async void RefreshRequsted(object sender, EventArgs args)
    {
        await InvokeAsync(StateHasChanged);

    }
    #region 释放实例

    public void Dispose()
    {

        _dataCacheService.RefreshRequsted -= RefreshRequsted;

        GC.SuppressFinalize(this);
    }
    #endregion
}
