@inject IEventService _eventService

<MResponsive AspectRatio="AspectRatio">
    <MCarousel Cycle Height="@("inherit")"
               HideDelimiterBackground
               Interval="4000"
               HideDelimiters="HideDelimiters"
               ShowArrowsOnHover>
        @foreach (var item in Model.OrderByDescending(s => s.Priority))
        {
                <MCarouselItem>
                    <a  target="_blank" @onclick="@(()=>OnClickLink(item))">
                        <img src="@item.Image" alt="@item.Note" class="w-100" style="@($" aspect-ratio: {AspectRatio.ToDouble()};")" />
                    </a>
                </MCarouselItem>
      

        }

    </MCarousel>
</MResponsive>
@code {
    [Parameter]
    public List<CarouselViewModel> Model { get; set; }
    [Parameter]
    public EventCallback<CarouselViewModel> OnClick { get; set; }
    [Parameter]
    public bool HideDelimiters { get; set; }
    [Parameter]
    public StringNumber AspectRatio { get; set; } = 1024 / 200D;

    public async Task OnClickLink(CarouselViewModel model)
    {
       await _eventService.OpenNewPage(model.Link);
        await OnClick.InvokeAsync(model);
    }

}
