
<MResponsive AspectRatio="AspectRatio">
    <MCarousel Cycle Height="@("inherit")"
               HideDelimiterBackground
               Interval="4000"
               HideDelimiters="HideDelimiters"
               ShowArrowsOnHover>
        @foreach (var item in Model.OrderByDescending(s => s.Priority))
        {
                <MCarouselItem >
                    <a href="@item.Link" target="_blank" style="width: 100%;" @onclick="@(()=>OnClick.InvokeAsync(item))">
                        <img src="@item.Image" alt="@item.Note" style="width: 100%;" />
                    </a>
                </MCarouselItem>
      

        }

    </MCarousel>
</MResponsive>
@code {
    [Parameter]
    public List<CarouselViewModel> Model { get; set; }
    [Parameter]
    public EventCallback<CarouselViewModel> OnClick { get; set; }
    [Parameter]
    public bool HideDelimiters { get; set; }
    [Parameter]
    public StringNumber AspectRatio { get; set; } = 1024 / 200D;

}
