@inject IDataCacheService _dataCacheService
@inject NavigationManager NavigationManager
@inject HttpClient Http


@if (_dataCacheService.CVThematicPageCache != null)
{
    <div class="row">
        @if (_dataCacheService.CVThematicPageCache.News.Any()&&_dataCacheService.IsApp==false)
        {
            <div class="@("col-12 mb-4 "+(_dataCacheService.CVThematicPageCache.Carousels.Any()?"col-lg-5":""))">
                <CnGalWebSite.Shared.MasaComponent.PC.Home.ThematicPages.Cards.NewsCard Model="_dataCacheService.CVThematicPageCache.News" />

            </div>
        }
        @if (_dataCacheService.CVThematicPageCache.Carousels.Any())
        {
            <div class="@("col-12 mb-4 "+(_dataCacheService.CVThematicPageCache.News.Any()&&_dataCacheService.IsApp==false?"col-lg-7":""))">
                <CnGalWebSite.Shared.MasaComponent.PC.Home.ThematicPages.Cards.CarouselCard Model="_dataCacheService.CVThematicPageCache.Carousels" />
            </div>
        }
        <div class="col-12">
            <CnGalWebSite.Shared.MasaComponent.PC.Home.ThematicPages.Cards.TagsCard Model="_dataCacheService.CVThematicPageCache" OnChanged="()=>OnChanged()" />
        </div>

        @foreach (var item in Model.Skip((_dataCacheService.CVThematicPageCache.CurrentPage - 1) * MaxCount).Take(MaxCount))
        {

            <div class="col-4 col-lg-3 col-xxl-2 mb-4">
                <CnGalWebSite.Shared.MasaComponent.PC.Home.ThematicPages.Cards.CVInforCard Model="item" />
            </div>
        }


        @if (TotalPages > 1)
        {
            <div class="col-12">
                <MPagination Value="@_dataCacheService.CVThematicPageCache.CurrentPage" Class="my-4" Length="@TotalPages" ValueChanged="OnPageClick" Color="@_dataCacheService.ThemeSetting.Theme"></MPagination>

            </div>
        }

    </div>
}
else
{
    <div style="height:300px">
        <CnGalWebSite.Shared.AppComponent.Normal.Loading.LoadingTip Height="100%" />
    </div>
}


@code {

    [Parameter]
    public List<CVInforViewModel> Model { get; set; } = new List<CVInforViewModel>();

    public int MaxCount
    {
        get
        {
            return 18;
        }
    }

    public int TotalPages => ((Model.Count - 1) / MaxCount) + 1;


    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }


    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (_dataCacheService.CVThematicPageCache == null)
            {
                _dataCacheService.CVThematicPageCache = await Http.GetFromJsonAsync<CVThematicPageViewModel>(ToolHelper.WebApiPath + "api/tags/GetCVThematicPageViewModel");
            }

            await OnChanged(true);

        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, "无法获取内容中心视图数据");
        }

    }

    public Task OnChanged(bool isInit = false)
    {
        Model.Clear();
        Model.AddRange(_dataCacheService.CVThematicPageCache.CVInfors);

        if (_dataCacheService.CVThematicPageCache == null)
        {

            return Task.CompletedTask;
        }

        //先按选中的标签筛除
        if (_dataCacheService.CVThematicPageCache.SelectedTags.Any())
        {
            foreach (var item in _dataCacheService.CVThematicPageCache.Tags)
            {
                var tags = item.Children.Where(s => _dataCacheService.CVThematicPageCache.SelectedTags.Contains(s.Title));
                if (tags.Any())
                {
                    Model.RemoveAll(s => s.Tags.Any(s => tags.Select(s => s.Title).Contains(s.Name)) == false);
                }
            }
        }


        //筛除有分类的
        if (_dataCacheService.CVThematicPageCache.UnlabeledTags.Any())
        {
            foreach (var item in _dataCacheService.CVThematicPageCache.UnlabeledTags)
            {
                var tags = _dataCacheService.CVThematicPageCache.Tags.FirstOrDefault(s => _dataCacheService.CVThematicPageCache.UnlabeledTags.Contains(s.Title)).Children;
                if (tags.Any())
                {
                    Model.RemoveAll(s => s.Tags.Any(s => tags.Select(s => s.Title).Contains(s.Name)));
                }
            }
        }

        //重置页数
        if (isInit == false)
        {
            _dataCacheService.CVThematicPageCache.CurrentPage = 1;
        }

        StateHasChanged();

        return Task.CompletedTask;
    }

    private Task OnPageClick(int pageIndex)
    {
        _dataCacheService.CVThematicPageCache.CurrentPage = pageIndex;

        StateHasChanged();

        return Task.CompletedTask;
    }

}
