@inject IDataCacheService _dataCacheService
@inject IHttpService _httpService
@inject ToastService? ToastService


<div class="ms-3 me-3">
    <AuthorizeView>
        <Authorized>

            <div style=" display: flex;flex-direction: column;" class="mt-3 mb-4">
                <a class="ms-2" href="@("/space/index/"+_dataCacheService.UserInfor.Id)">
                    <img src="@_dataCacheService.UserInfor.PhotoPath" style="height: 50px;width: 50px;border-radius: 50%;" alt="头像">
                </a>
                <div class="mt-2" style="font-size: 15px;">@_dataCacheService.UserInfor.Name</div>
                <CnGalWebSite.Shared.AppComponent.Normal.Users.LevelCard Integral="@_dataCacheService.UserInfor.Integral" />
            </div>
            <div class="bg-main row p-1 mb-4" style="margin-left: -16px; margin-right: -16px; color: white;">
                <div class="col-4">
                    <div style=" display: flex; flex-direction: column; align-items: center; ">
                        <div>@_dataCacheService.UserInfor.EditCount</div>
                        <div>编辑</div>
                    </div>
                </div>
                <div class="col-4">
                    <div style=" display: flex; flex-direction: column; align-items: center; ">
                        <div>@_dataCacheService.UserInfor.ArticleCount</div>
                        <div>文章</div>
                    </div>
                </div>
                <div class="col-4">
                    <div style=" display: flex; flex-direction: column; align-items: center; ">
                        <div>@_dataCacheService.UserInfor.ArticleReadCount</div>
                        <div>阅读</div>
                    </div>
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            <div style=" display: flex;flex-direction: column;" class="mt-3 mb-4">
                <a class="ms-2" href="/account/apps/login">
                    <img src="/_content/CnGalWebSite.Shared/images/apps/user.png" style="height: 50px;width: 50px;border-radius: 50%;" alt="头像">
                </a>
                <div class="mt-2" style="font-size: 15px;">点击头像登录</div>
                <div style="color: gray;">登入后可编辑网站内容</div>
            </div>
            <hr class="m-0 mb-4" />
        </NotAuthorized>
    </AuthorizeView>
    <div>
        <CnGalWebSite.Shared.AppComponent.Normal.Links.ListIconText Model="Model" />

    </div>
</div>

@code {
    private List<AppComponent.Normal.Links.IconTextModel> Model = new List<AppComponent.Normal.Links.IconTextModel>();
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var user = await authenticationStateTask;
        bool isOnline = user.User.Identity.IsAuthenticated;
        string userId = "";
        if (isOnline)
        {
            try
            {

                userId = user.User.Claims.GetUserId();


                if (string.IsNullOrWhiteSpace(userId))
                {
                    _dataCacheService.UserInfor = new UserInforViewModel { Ranks = new List<RankViewModel>() };
                }
                var model = await _httpService.GetAsync<UserInforViewModel>("api/space/GetUserData/" + userId);

                StateHasChanged();
                _dataCacheService.UserInfor = model;
            }
            catch(Exception ex)
            {
                ErrorHandler.ProcessError(ex, "获取用户信息失败");
                _dataCacheService.UserInfor = new UserInforViewModel { Ranks = new List<RankViewModel>() };
            }

        }

        Model.AddRange(new List<AppComponent.Normal.Links.IconTextModel>
{
            new AppComponent.Normal.Links.IconTextModel
            {
                Icon="fa-tasks",
                Text="每日任务",
                Url=isOnline?"/space/dailytask":"/account/apps/login"
            },
            new AppComponent.Normal.Links.IconTextModel
            {
                Icon="fa-star",
                Text="我的收藏",
                Url=isOnline?"/space/myfavorite":"/account/apps/login"
            },
            new AppComponent.Normal.Links.IconTextModel
            {
                Icon="fa-file-text-o",
                Text="游玩记录",
                Url=isOnline?"/space/myplayedgame":"/account/apps/login"
            },
            new AppComponent.Normal.Links.IconTextModel
            {
                Icon="fa-map-o",
                Text="创作中心",
                Url=isOnline?("/home/creativecenter/"+userId):"/account/apps/login"
            },
            new AppComponent.Normal.Links.IconTextModel
            {
               IsSplitLine=true
            },
            new AppComponent.Normal.Links.IconTextModel
            {
                Icon="fa-steam",
                Text="Steam鉴赏家",
                Url=ToolHelper.IsSSR? "/navoutlink?link=https://store.steampowered.com/curator/11627314/":"https://store.steampowered.com/curator/11627314/",
                IsOutLink=true
            },
            new AppComponent.Normal.Links.IconTextModel
            {
                Icon="fa-shopping-basket",
                Text="网店",
                Url=ToolHelper.IsSSR?"/navoutlink?link=https://shop523081230.taobao.com/":"https://shop523081230.taobao.com/",
                IsOutLink=true
            },
            new AppComponent.Normal.Links.IconTextModel
            {
               IsSplitLine=true
            },
            new AppComponent.Normal.Links.IconTextModel
            {
                Icon="fa-gear",
                Text="设置",
                Url="/home/setting"
            }
        });
    }
}
