@inject IJSRuntime JS
@inject  NavigationManager NavigationManager

<div class="rounded shadow-sm bg-opacity rounded p-3 h-100">

    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Icon="@IconType.MainPage.ToIconString()" Title="概览" Class="mb-4" Outline OutlineHead>
        <ButtonContent>
            <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaButton Fab XSmall Icon="mdi-share" Tooltip="查看详细信息" OnClick="@(()=>NavigationManager.NavigateTo("/examine?Id="+Model.Id))" StopPropagation />
        </ButtonContent>
        <ChildContent>
            <style>
                pre {
                    overflow: initial !important;
                }
            </style>
            <div class="markdown-body m-0 p-0" style=" white-space: break-spaces; max-height: 420px; overflow: auto;">
                @((MarkupString)Model.EditOverview)
            </div>
        </ChildContent>

    </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>
    @if (string.IsNullOrWhiteSpace(Model.Comments) == false)
    {
        <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Icon="@IconType.Note.ToIconString()" Title="批注" Class="mb-4" Outline OutlineHead>
            <div style=" white-space: break-spaces;">
                @Model.Comments
            </div>
        </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>
    }
    @if (string.IsNullOrWhiteSpace(Model.Note) == false)
    {
        <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer Icon="@IconType.Note.ToIconString()" Title="备注" Class="mb-4" Outline OutlineHead>
            <div style=" white-space: break-spaces;">
                @Model.Note
            </div>
        </CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaTitleContainer>
    }
</div>

@code {
    [Parameter]
    public EditRecordAloneViewModel Model { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        try
        {
            await JS.InvokeAsync<string>("highlightAllCode");
        }
        catch
        {

        }
    }
}
