@inject IDataCacheService _dataCacheService
@inject HttpClient Http
@inject ToastService? ToastService
@inject NavigationManager NavigationManager

<TitleTip Title="动态汇总"></TitleTip>
<style>
    .accordion-body {
        padding: 0;
    }
</style>

<div>
    <MTabs @bind-Value="@_dataCacheService.NewsSummaryCache.TabIndex" IconsAndText Grow CenterActive Class="shadow-sm bg-opacity rounded"
           Color="@_dataCacheService.ThemeSetting.Theme">

        <MTab Value="1" OnClick="@(() => OnCondited("本周"))">
            本周<MIcon>mdi-av-timer </MIcon>
        </MTab>
        <MTab Value="2" OnClick="@(() => OnCondited("本月"))">
            本月<MIcon>mdi-clock-outline</MIcon>
        </MTab>
        <MTab Value="4" OnClick="@(() => OnCondited("本年"))">
            本年<MIcon>mdi-calendar-text </MIcon>
        </MTab>
        <MTab Value="5" OnClick="@(() => OnCondited("全部"))">
            全部<MIcon>mdi-all-inclusive</MIcon>
        </MTab>

    </MTabs>
    <div class="mt-4">
        @if (isReady)
        {

            if (_dataCacheService.NewsSummaryCache.Items.Count == 0)
            {
                <NotFoundTip IsNeedLayput="true" />
            }
            else
            {
                @foreach (var item in _dataCacheService.NewsSummaryCache.Items.Skip((_dataCacheService.NewsSummaryCache.CurrentPage - 1) * _dataCacheService.NewsSummaryCache.MaxCount).Take(_dataCacheService.NewsSummaryCache.MaxCount))
                {

                    <div class="mb-4">
                        <NewsSummaryAloneViewTip Model="item" />

                    </div>
                }

                @if (_dataCacheService.NewsSummaryCache.TotalPages > 1)
                {
                    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaPagination Value="@_dataCacheService.NewsSummaryCache.CurrentPage" Length="@_dataCacheService.NewsSummaryCache.TotalPages" ValueChanged="OnPageClick"/>
                }
            }
        }
        else
        {
            <div style="height:300px">
                <CnGalWebSite.Shared.AppComponent.Normal.Loading.LoadingTip Height="100%" />
            </div>
        }

    </div>


</div>


@code {

    bool isReady = false;

    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }

    private Task OnPageClick(int pageIndex)
    {
        _dataCacheService.NewsSummaryCache.CurrentPage = pageIndex;
        StateHasChanged();
        return Task.CompletedTask;
    }

    protected override async Task OnInitializedAsync()
    {
        if (_dataCacheService.NewsSummaryCache.Items.Count == 0)
        {
            await OnCondited("本周");
        }

        isReady = true;
    }

    private async Task OnCondited(string name)
    {
        isReady = false;
        StateHasChanged();
        try
        {
            _dataCacheService.NewsSummaryCache.Items = await Http.GetFromJsonAsync<List<NewsSummaryAloneViewModel>>(ToolHelper.WebApiPath + "api/articles/GetNewSummary/" + name, ToolHelper.options);
            _dataCacheService.NewsSummaryCache.CurrentPage = 1;
            isReady = true;
            StateHasChanged();
        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, "获取动态分类汇总列表失败");
        }
    }
}

