@inject IDataCacheService _dataCacheService

<div class="@((Outline?"":" rounded bg-opacity h-100 p-4 ")+(Clickable?"div-shadow":"shadow-sm"))" style="display: flex; flex-direction: column; justify-content: space-between;" @onclick="OnClick"
     itemprop="review" itemscope itemtype="https://schema.org/Review">
    <div>
        <div class="d-flex mb-2">
            <img loading="lazy" class="shadow-sm" src="@Model.User.PhotoPath" style="height: 50px;width: 50px;border-radius: 50%;" />
            <div class="comment-tx-div">
                <div class="new-row-warp no-margin">
                    @foreach (var item in Model.User.Ranks)
                    {
                        <RankAloneViewTip Model="item"></RankAloneViewTip>
                    }
                </div>


                <div class="a-font-color text-truncate-1" itemprop="author" itemscope itemtype="http://schema.org/Person">
                    <span itemprop="name">
                        @Model.User.Name
                    </span>
               </div>

            </div>
        </div>

        @if (Model.Socres.IsScored)
        {
            <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaRating Disable Value="(int)Model.Socres.TotalSocre" Lable="总评" />
            <div style="color:gray;" class="pb-2">
                @($"音乐{Model.Socres.MusicSocre}分,美术{Model.Socres.PaintSocre}分,剧本{Model.Socres.ScriptSocre}分,演出{Model.Socres.ShowSocre}分,程序{Model.Socres.SystemSocre}分"+((IsDubbing&& Model.Socres.CVSocre>0) ? $",配音{Model.Socres.CVSocre}分" : ""))
            </div>
            <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
                <meta itemprop="worstRating" content="1">
                <meta itemprop="bestRating" content="10" />
                <meta itemprop="ratingValue" content="@Model.Socres.TotalSocre" />
            </div>
        }

        @if (string.IsNullOrWhiteSpace(Model.PlayImpressions) == false)
        {
            <div class="text-truncate-4">
                评语：
                <span itemprop="reviewBody" style=" white-space: break-spaces;">
                    @Model.PlayImpressions
                </span>
            </div>
        }
    </div>
    @if (ShowAction)
    {
        <div style=" color: gray; display: flex; flex-direction: column; align-items: center;">
            <MButton Text Block Color="@_dataCacheService.ThemeSetting.Theme" OnClick="OnEdit">
                <MIcon Left>mdi-pencil </MIcon>
                编辑游玩记录
            </MButton>
            @if (IsPublic == false)
            {
                <span>
                    仅自己可见
                </span>
            }
            @if (string.IsNullOrWhiteSpace(GameName) == false)
            {
                <div style="color:gray;" class="mt-2 pb-2" itemprop="name">
                    @($"《{GameName}》")
                </div>
            }
            <div style="color:gray;" class="mt-2">
                @Model.LastEditTime.ToString("yyyy-MM-dd HH:mm:ss")
            </div>
        </div>
    }
    else
    {
        @if (string.IsNullOrWhiteSpace(GameName) == false)
        {
            <div style="color:gray;" class="mt-4">
                @($"《{GameName}》")
            </div>
        }
        <div style="color:gray;" class="mt-4">
            @Model.LastEditTime.ToString("yyyy-MM-dd HH:mm:ss")
        </div>
    }



    <meta itemprop="datePublished" content="@Model.LastEditTime.ToString("yyyy-MM-dd HH:mm:ss")">

</div>

@code {
    [Parameter]
    public PlayedGameUserScoreModel Model { get; set; }
    [Parameter]
    public EventCallback OnEdit { get; set; }
    [Parameter]
    public EventCallback OnClick { get; set; }
    [Parameter]
    public string GameName { get; set; }
    [Parameter]
    public bool Clickable { get; set; }

    [Parameter]
    public bool Outline { get; set; }
    [Parameter]
    public bool ShowAction { get; set; }
    [Parameter]
    public bool IsPublic { get; set; }
    [Parameter]
    public bool IsDubbing { get; set; }

}
