@inject IDataCacheService _dataCacheService


<MDCard Href="@("/videos/index/" + Model.Id)" Class="h-100" Style="display: flex; flex-direction: column;">
    <div>
        <img loading="lazy" class="img-fluid" src="@Model.MainImage" alt="@Model.Name">
    </div>
    <div class="pa-2">
        <header class="text-truncate-3   mb-1">
            <span class="type-inline-chip" style="font-size:small;">@Model.Type</span>
            <span>@Model.DisplayName</span>
        </header>
    </div>
</MDCard>



@code {
    [Parameter]
    public VideoInforTipViewModel Model { get; set; }

}
