@if (TotalPages > 1)
{
    <div>
        <div class="new-row-warp bg-opacity p-3 pb-3  rounded shadow-sm  no-padding no-margin mt-3 mb-3">
            <button class="page-dto-btn page-dto-btn-color" style="float:left;" @onclick="OnPageUp">
                <i class="fa fa-angle-double-left fa-fw"></i>@(IsSmallScreen?"": " 上一页 ")
            </button>

            <div style="margin-left: auto;margin-right: auto;float: left; margin-top:auto;margin-bottom: auto;">
                <button class="page-dto-part @((CurrentPage==1)?"page-dto-part-color-active":"page-dto-part-color") " @onclick="@(()=>OnPageSelect(1))">
                    1
                </button>
                @if (CurrentPage - ShowBtnCount > 2)
                {
                    <button class="page-dto-part page-dto-part-color">
                        ...
                    </button>
                }
                @for (int i = (CurrentPage - ShowBtnCount > 1) ? CurrentPage - ShowBtnCount : 2; i <= TotalPages - 1 && i<= CurrentPage +ShowBtnCount; i++)
                {
                    int temp=i;
                    <button class="page-dto-part @((CurrentPage==i)?"page-dto-part-color-active":"page-dto-part-color") " @onclick="@(()=>OnPageSelect(temp))">
                        @i
                    </button>
                }
                @if (CurrentPage + ShowBtnCount < TotalPages - 1)
                {
                    <button class="page-dto-part page-dto-part-color">
                        ...
                    </button>
                }
                @if (TotalPages > 1)
                {
                    <button class="page-dto-part  @((CurrentPage==TotalPages)?"page-dto-part-color-active":"page-dto-part-color") " @onclick="@(()=>OnPageSelect(TotalPages))">
                        @TotalPages
                    </button>
                }
            </div>
            <button class="page-dto-btn page-dto-btn-color" style="float:right;" @onclick="OnPageDown">
                @(IsSmallScreen?"": "下一页 ")<i class="fa fa-angle-double-right fa-fw"></i>
            </button>
        </div>
    </div>

}
@code {
    [Parameter]

    /// <summary>
    /// 显示当前页面前后多少页的按钮
    /// </summary>
    public int ShowBtnCount { get; set; }

    [Parameter]
    /// <summary>
    /// 是否小屏幕
    /// </summary>
    public bool IsSmallScreen { get; set; }

    [Parameter]
    /// <summary>
    /// 总页数
    /// </summary>
    public int TotalPages { get; set; }
    [Parameter]
    /// <summary>
    /// 当前页
    /// </summary>
    public int CurrentPage { get; set; }

    /// <summary>
    /// 是否显示上一页
    /// </summary>
    public bool ShowPrevious => CurrentPage > 1;

    /// <summary>
    /// 是否显示下一页
    /// </summary>
    public bool ShowNext => CurrentPage < TotalPages;

    /// <summary>
    /// 是否为第一页
    /// </summary>
    public bool ShowFirst => CurrentPage != 1;

    /// <summary>
    /// 是否为最后一页
    /// </summary>
    public bool ShowLast => CurrentPage != TotalPages;

    [Parameter]
    public EventCallback<int> OnPageChanged { get; set; }

    public void OnPageUp()
    {
        if(ShowFirst)
        {
            OnPageChanged.InvokeAsync(CurrentPage - 1);
        }

    }
    public void OnPageDown()
    {
        if (ShowLast)
        {
            OnPageChanged.InvokeAsync(CurrentPage + 1);
        }
    }
    public void OnPageSelect(int index )
    {

        OnPageChanged.InvokeAsync(index);
    }
}
