@inject HttpClient Http
@inject ExamineService _examineService
@inject ILocalStorageService _localStorage
@inject ToastService? ToastService
@inject IAppHelper _appHelper
@inject IServiceProvider Provider
@inject NavigationManager NavigationManager

@if (string.IsNullOrWhiteSpace(Model.Name) == false)
{
    <TitleTip Title="@("编辑 " + Model.Name)"></TitleTip>
}
<AutoSaveTip TItem="EditPeripheryMainViewModel" Item="Model" DataLoaded="DataLoaded" @ref="autoSave" />

<div class="">
    <div class="" style="padding-right: 0;padding-left: 0;">
        <AlertTip Type="AlertTip.AlertTipType.Reward"></AlertTip>
        <AlertTip Type="AlertTip.AlertTipType.PeripheryStandard"></AlertTip>
        @if (isReady == false)
        {
            <div class="  rounded shadow-sm  bg-opacity rounded ps-4 pe-4 pt-4 pb-4">
                <h3 class="text-truncate mb-4 fw-bold">编辑周边主要信息</h3>
                <h5 class=" mb-4 fw-bold">当前周边：（Id:）</h5>
                <hr>

                <div>
                    <SkeletonParagraph />
                    <div class="mt-2">
                    </div>
                    <SkeletonParagraph />
                    <div class="mt-2">
                    </div>
                    <SkeletonParagraph />
                    <div class="mt-2">
                    </div>
                    <SkeletonParagraph />
                    <div class="mt-2">
                    </div>
                    <SkeletonParagraph />
                </div>
            </div>
        }
        else
        {

            <ValidateForm Model="@Model" ValidateAllProperties="true" @ref="ComplexForm">
                <div class="  rounded shadow-sm  bg-opacity rounded ps-4 pe-4 pt-4 mb-4">

                    <h3 class="text-truncate mb-4 fw-bold">编辑周边主要信息</h3>
                    <h5 class="mb-4 fw-bold">当前周边：@Model.Name（Id:@Model.Id）</h5>
                    <hr />

                    <div class="row">
                        <div class=" col-12 col-md-6 col-lg-3 col-xl-3 mt-2">
                            <ImageCropperButton @bind-ImagePath="@Model.MainPicture" Type="ImageAspectType._16_9" Text="上传主图"></ImageCropperButton>
                        </div>
                        <div class=" col-12 col-md-6 col-lg-3 col-xl-3 mt-2">
                            <ImageCropperButton @bind-ImagePath="@Model.Thumbnail" Type="ImageAspectType._1_1" Text="上传缩略图"></ImageCropperButton>
                        </div>
                        <div class=" col-12 col-md-6 col-lg-3 col-xl-3 mt-2">
                            <ImageCropperButton @bind-ImagePath="@Model.BackgroundPicture" Type="ImageAspectType.None" Text="上传大背景图"></ImageCropperButton>
                        </div>
                        <div class=" col-12 col-md-6 col-lg-3 col-xl-3 mt-2">
                            <ImageCropperButton @bind-ImagePath="@Model.SmallBackgroundPicture" Type="ImageAspectType.None" Text="上传小背景图"></ImageCropperButton>
                        </div>
                    </div>

                    <div class="form-group mt-4">
                        <div class="row">
                            <div class="form-group col-12  col-sm-6">
                                <BootstrapInput @bind-Value="Model.Name" />
                            </div>
                            <div class="form-group col-12  col-sm-6">
                                <BootstrapInput @bind-Value="Model.DisplayName" />
                            </div>

                            <div class="form-group col-12  col-sm-6">
                                <Select @bind-Value="Model.Type" />
                            </div>
                            <div class="form-group col-12  col-sm-6">
                                <BootstrapInput @bind-Value="Model.Category" />
                            </div>

                            <div class="form-group col-12">
                                <Textarea @bind-Value="Model.BriefIntroduction" rows="3" />
                            </div>
                            <div class="form-group col-12  col-sm-6">
                                <BootstrapInput @bind-Value="Model.Author" />
                            </div>
                            <div class="form-group col-12 col-sm-6">
                                <BootstrapInput @bind-Value="Model.Material" />
                            </div>
                            <div class="form-group col-12  col-sm-6">
                                <BootstrapInput @bind-Value="Model.Size" />
                            </div>
                            <div class="form-group col-12 col-sm-6">
                                <BootstrapInput @bind-Value="Model.Brand" />
                            </div>
                            <div class="form-group col-12  col-sm-6">
                                <BootstrapInput @bind-Value="Model.IndividualParts" />
                            </div>
                            <div class="form-group col-12 col-sm-6">
                                <BootstrapInput @bind-Value="Model.Price" />
                            </div>
                            <div class="form-group col-12">
                                <BootstrapInput @bind-Value="Model.SaleLink" />
                            </div>
                            <div class="form-group col-12 col-sm-6">
                                <Switch @bind-Value="Model.IsReprint" />
                            </div>
                            <div class="form-group col-12  col-sm-6">
                                <Switch @bind-Value="Model.IsAvailableItem" />
                            </div>
                            @if (Model.Type == PeripheryType.SetorAlbumEtc)
                            {
                                <div class="form-group col-12 col-sm-6">
                                    <BootstrapInputNumber @bind-Value="Model.PageCount" />
                                </div>
                            }
                            @if (Model.Type == PeripheryType.Ost)
                            {
                                <div class="form-group col-12 col-sm-6">
                                    <BootstrapInputNumber @bind-Value="Model.SongCount" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </ValidateForm>


            <div class="alert alert-warning  rounded shadow-sm  rounded" role="alert">
                当你点击“完成”按钮时，将会立即发起审核请求，请在点击前确保内容正确无误
            </div>
            <ValidateForm Model="@Model" ValidateAllProperties="true">

                <div class="  rounded shadow-sm  bg-opacity rounded ps-4 pe-4 pt-3 pb-3 mb-4">
                    <div>
                        <BootstrapBlazor.Components.Textarea @bind-Value="Model.Note" DisplayText="备注" />
                        <Button class="mt-3" style="width: 100px" @onclick="@(() => OnSubmit())" IsAsync="true" Color="Color.Success" IsOutline="true" Icon="fa fa-check" Text="完成"></Button>
                    </div>
                </div>

            </ValidateForm>
        }

    </div>
</div>


@code {
    [Parameter]
    public string Id { get; set; }

    private EditPeripheryMainViewModel Model { get; set; } = new EditPeripheryMainViewModel();

    private bool isReady = false;
    private IEnumerable<string> EntryGameItems { get; set; } = new string[1] { "" };

    [NotNull]
    private ValidateForm? ComplexForm { get; set; }


    private ImagesListEditorViewTip ImagesListEditorView;

    [CascadingParameter]
    public ErrorHandler ErrorHandler { get; set; }
    AutoSaveTip<EditPeripheryMainViewModel> autoSave { get; set; }

    protected override async Task OnInitializedAsync()
    {

        try
        {
            //获取所有词条
            EntryGameItems = await Http.GetFromJsonAsync<List<string>>(ToolHelper.WebApiPath + "api/entries/GetAllEntries/0");
            Model = await Http.GetFromJsonAsync<EditPeripheryMainViewModel>(ToolHelper.WebApiPath + "api/peripheries/editmain/" + Id);
            isReady = true;
        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, "获取编辑周边主要信息失败");
        }
    }

    private async Task OnSubmit()
    {
        try
        {
            //处理数据
            if (string.IsNullOrWhiteSpace(Model.Name) || string.IsNullOrWhiteSpace(Model.DisplayName))
            {
                await ToastService.Error("编辑周边失败", "请填写所有必填项目");
                return;
            }
            if (string.IsNullOrWhiteSpace(Model.MainPicture))
            {
                await ToastService.Error("编辑周边失败", "周边必须上传主图");
                return;
            }

            var result = await Http.PostAsJsonAsync<EditPeripheryMainViewModel>(ToolHelper.WebApiPath + "api/peripheries/EditMain", Model);
            string jsonContent = result.Content.ReadAsStringAsync().Result;
            Result obj = JsonSerializer.Deserialize<Result>(jsonContent, ToolHelper.options);
            //判断结果
            if (obj.Successful == false)
            {

                await ToastService.Error("编辑周边主要信息失败", obj.Error);
            }
            else
            {
                autoSave.Clean();

                await ToastService.Success("编辑周边主要信息成功", "编辑周边主要信息成功，等待审核通过");
                NavigationManager.NavigateTo(Provider, "/peripheries/index/" + Model.Id, Model.Name, "fa fa-newspaper-o");
            }
        }
        catch (Exception ex)
        {
            ErrorHandler.ProcessError(ex, "编辑周边主要信息失败");
        }
    }


    private Task DataLoaded(EditPeripheryMainViewModel model)
    {
        isReady = false;
        StateHasChanged();
        Model = model;
        isReady = true;
        StateHasChanged();
        return Task.CompletedTask;
    }

}
