<TabLink Icon="fa fa-codepen" Url="@("/entries/index/" + Model.EntryId)" Text="@Model.Name" class="a-font-color">

    <div style="display:flex;" class="shadow-sm bg-opacity rounded">
        <div style="display: flex; width: 100%;">
            <img style=" height: 67px; " src="@Model.Image">
            <div class="ps-2" style="width: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                <span class="text-truncate-1" style="font-size: larger;">@Model.Name</span>
                <div style="display: flex; flex-direction: column;">
                    @if (Model.EvaluationCount>0)
                    {
                        <div>
                            <CnGalWebSite.Shared.Component.Entries.NewVersion.BasicInforAloneTip Icon="fa-thumbs-o-up"
                                                                                                 Text="@($"{Model.RecommendationRate}% ({Model.EvaluationCount})")" />

                        </div>
                    }

                    @if (Model.CutLowest > 0)
                    {
                        <div>
                            <CnGalWebSite.Shared.Component.Entries.NewVersion.BasicInforAloneTip Icon="fa-area-chart"
                                                                                                 Text="@(Model.PriceLowestString+( Model.CutLowest==0?"": " (-"+Model.CutLowest+"%)"))" />
                        </div>
                    }
                </div>
            </div>
        </div>
        <div style=" display: flex; flex-direction: column; align-items: center; width: 100px; justify-content: center;">
            <span class="h5 m-0" style=" color: var(--active-color); ">
                @(Model.PriceNowString)
            </span>
            <span style=" color: var(--active-color);font-size:small ">
                @(Model.CutNow+"% OFF")
            </span>
            <span style=" color: gray; text-decoration: line-through; ">
                @("¥ "+((double)Model.OriginalPrice/100).ToString("0.00"))
            </span>
        </div>
    </div>
</TabLink>

@code {
    [Parameter]
    public SteamInforTipViewModel Model { get; set; }

}
