<MDCard Class="info-card-project-position pa-4" Href="@($"/project/{Model.Id}")">
    <div class="title-large text-truncate-1">@Model.Description</div>
    <div class="tag-card">
        @if(string.IsNullOrWhiteSpace( Model.Tags)==false)
        {
            foreach(var item in Model.Tags.Split(','))
            {
                <MChip Small Color="primary">@item</MChip>
            }
        }
        @if (Model.UrgencyType != PositionUrgencyType.None)
        {
            <MChip Outlined Small Color="primary">@Model.UrgencyType.GetDisplayName()</MChip>
        }
        <MChip Outlined Small Color="primary">@(Model.PositionType == ProjectPositionType.Other ? Model.PositionTypeName : Model.PositionType.GetDisplayName())</MChip>
         @if (string.IsNullOrWhiteSpace(Model.Type) == false)
        {
            <MChip Outlined Small Color="primary">@Model.Type</MChip>
        }
    </div>
    <div class="label-large text-truncate-3">@Model.Description</div>
    <div class="info-card">

        @if (Model.UserInfo != null)
        {
            <div class="user-card">
                <CnGalWebSite.Components.Images.MasaImage Src="@Model.UserInfo.Avatar" Alt="@Model.UserInfo.Name" />
                <div class="label-large fw-bold">@Model.UserInfo.Name</div>
            </div>
        }

        @if (Model.Percentage > 0)
        {
            <div class="title-large primary-text">@($"{Model.Percentage} %")</div>
        }

        @if (Model.BudgetMax > 0)
        {
            <div class="title-large primary-text">@($"￥ {Model.BudgetMin} ~ {Model.BudgetMax}")</div>
        }

        @if (Model.BudgetMax == 0 && Model.Percentage == 0)
        {
            <div class="title-large primary-text">为爱发电</div>
        }
    </div>
</MDCard>

@code {
    [Parameter]
    public ProjectPositionInfoViewModel Model { get; set; }
}
