@inject HttpClient Http
@inject ToastService? ToastService
@inject DialogService DialogService
@inject NavigationManager NavigationManager


<div class="m-3 mb-0 pt-4">
    <div style=" display: flex; flex-direction: column; align-content: center; align-items: center; ">
        <div style="display: flex;align-items: center;" class="mb-3">
            <div class="swal2-icon m-0 me-1 @("border-"+color)" style="height: 5em; width: 5em; display: flex; align-items: center;">
                <div style=" font-size: x-large;" class="@("text-"+color)">@Model.Grade.ToString("0.0")</div>
            </div>
        </div>
        <div style=" font-size: larger; ">@Model.EntryName</div>
        <div style=" font-size: smaller;color:gray; " class="mt-1 mb-2">
            @("最后于 "+Model.LastEditTime.ToString("yyyy年M月d日 HH:mm")+" 编辑，总计"+Model.EditCount+"次编辑")
        </div>
    </div>
</div>



@code {
    [Parameter]
    public PerfectionInforTipViewModel Model { get; set; }

    string color = "success";

    protected override async Task OnInitializedAsync()
    {
        color = ToolHelper.GetEntryPerfectionLevelColor(Model.Level);
        if (Model.Grade == 0)
        {
            Model.Grade = Model.EditCount;
            color = "success";
        }

    }
}
