@inject IDataCacheService _dataCacheService
@inject IJSRuntime JS

<style>
    .theme--light.m-icon {
        color: none;
    }
</style>
@if (currentAudio != null)
{
    <div class="@(_dataCacheService.IsApp?"":"d-flex")">
        @if ((string.IsNullOrWhiteSpace(currentAudio.Thumbnail) == false && currentAudio.Thumbnail.Contains("default"))==false || _dataCacheService.IsApp== false)
        {
            <div class="@(_dataCacheService.IsApp?"mb-4":"me-4")">
                <img src="@currentAudio.Thumbnail" alt="@currentAudio.Name" style="width:150px;height:150px;" />
            </div>
        }

        <div class="@(_dataCacheService.IsApp?"":"w-100")">
            <div class="mb-4">
                <MBorder  Style="border-radius:0;margin: auto 0;" Width="@("4px")">
                    <div class="ms-4">
                        <div class="h6 fw-bold mb-0">@currentAudio.Name</div>
                        @if (string.IsNullOrWhiteSpace(currentAudio.BriefIntroduction) == false)
                        {
                            <div style=" color: gray; " class="text-truncate-1 mt-2">@currentAudio.BriefIntroduction</div>
                        }

                    </div>
                </MBorder>

            </div>
            <MSimpleTable Class=" overflow-auto" Style="max-height:150px;background-color:transparent">
                <tbody>
                    @{ int index = 0; }
                    @foreach (var item in Model.OrderByDescending(s => s.Priority))
                    {
                        <tr class="@(item==currentAudio?"font-color fw-bold":"")" @key="item.Url" @onclick="@(()=>OnClick(item))">
                            <td class="p-0" style="height: 30px; width: 0px;"><MIcon Style="@(item== currentAudio?"color:var(--main-color)!important;":"")" Size="@("20px")">mdi-play-box</MIcon></td>
                            <td style="height:30px; ">
                                <div  class="text-truncate-1">
                                    @($"{++index}. {item.Name}" )
                                </div>
                            </td>
                            <td style="height: 30px; display: flex; justify-content: flex-end; align-items: center;">
                                @(item.Duration.TotalMinutes.ToString("0") + ":"+(item.Duration.TotalSeconds%60).ToString("00"))
                            </td>
                        </tr>
                    }
                </tbody>
            </MSimpleTable>
        </div>
    </div>
    <hr class="mt-3 mb-3">
    <CnGalWebSite.Shared.MasaComponent.Shared.Components.MasaAudio Src="@currentAudio.Url" AutoPlay="AutoPlay" Class="w-100" />

}
@code {
    [Parameter]
    public List<AudioViewModel> Model { get; set; }

    public bool AutoPlay { get; set; } = false;

    AudioViewModel currentAudio;


    protected override async Task OnParametersSetAsync()
    {
        if (currentAudio == null)
        {
            currentAudio = Model.FirstOrDefault();
        }
        AutoPlay = false;

    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            try
            {
                await JS.InvokeAsync<string>("playAudio", null);
            }
            catch (Exception ex)
            {

            }
        }

    }
    public Task OnClick(AudioViewModel model)
    {
        if (currentAudio == model)
        {
            return Task.CompletedTask;
        }
        currentAudio = model;
        AutoPlay = true;
        StateHasChanged();
        return Task.CompletedTask;

    }

}
