<CnGalWebSite.Shared.MasaComponent.Shared.Components.MiniModeContainer>
    <div style="display: flex; justify-content: center;" class="@Class">
        <CnGalWebSite.Shared.MasaComponent.Shared.Buttons.FavoriteButton Id="Model.Id" Type="FavoriteObjectType.Periphery" Class="me-4" />
        <CnGalWebSite.Shared.MasaComponent.PC.Peripheries.CollectionButton Id="Model.Id" Class="me-4" IsCollected="Model.IsCollected" CollectionChanged="CollectionChanged" />
        <CnGalWebSite.Shared.MasaComponent.Shared.Editors.Buttons.EditButton Type="ExaminedNormalListModelType.Periphery" Id="Model.Id" @bind-IsHidden="@Model.IsHidden" @bind-IsEdit="@Model.IsEdit" />
        @if (ToolHelper.IsMaui)
        {
            <CnGalWebSite.Shared.MasaComponent.Shared.Buttons.ShareButton Title="@(Model.Type.GetDisplayName()+" - "+Model.Name)" Class="ms-4" Text="@($"【{Model.Type.GetDisplayName()}】《{Model.Name}》\n{Model.BriefIntroduction}")" />
        }

    </div>
</CnGalWebSite.Shared.MasaComponent.Shared.Components.MiniModeContainer>

@code {
    [Parameter]
    public PeripheryViewModel Model { get; set; }
    [Parameter]
    public string Class { get; set; }
    [Parameter]
    public EventCallback<bool> CollectionChanged { get; set; }

}
