
<div class="mb-1">
    <div class="shadow-sm rounded  bg-opacity ps-3 pe-3 mb-3">
        <div>
            <h2 class="fw-bold pt-2 pb-2 m-0 font-color h5"><i class="fa fa-codepen"></i>&nbsp;&nbsp;关联词条</h2>
        </div>
    </div>
    @if (IsEdit == true)
    {
        <div class="pb-1">
            @switch (RelatedEntriesState)
            {
                case EditState.locked:
                    <AlertTip Type="AlertTip.AlertTipType.Blocked"></AlertTip>
                    break;
                case EditState.Normal:
                    <AlertTip Title="编辑关联词条信息" Type="@(Entries.Count==0?AlertTip.AlertTipType.Blank: AlertTip.AlertTipType.Editable)" Url="@("/peripheries/EditRelatedEntries/" + Id)"></AlertTip>
                    break;
            }
        </div>
    }
    @if (RelatedEntriesState == EditState.Preview)
    {
        <div class="pb-1">
            <AlertTip Title="编辑关联词条信息" Type="AlertTip.AlertTipType.preview" Url="@("/peripheries/EditRelatedEntries/" + Id)" ExamineType="Operation.EditPeripheryRelatedEntries" OnClickRevoke="OnClickRevoke"></AlertTip>
        </div>
    }

    <div>
        @foreach (var item in Entries)
        {
            <div class="mt-2">
                <CnGalWebSite.Shared.Component.Search.NewVersion.EntryInforViewTip Model="item" />
            </div>
        }

    </div>

    @if (IsEdit == true ||( Peripheries.Count > 0&& Type != PeripheryType.Set))
    {
        <div class="shadow-sm rounded bg-opacity ps-3 pe-3 mb-2 mt-3">
            <div>
                <h2 class="fw-bold pt-2 pb-2 m-0 font-color h5"><i class="fa fa-shopping-basket"></i>&nbsp;&nbsp;关联周边</h2>
            </div>
        </div>

    }

    @if (IsEdit == true)
    {
        <div class="pb-1">
            @switch (RelatedPeripheriesState)
            {
                case EditState.locked:
                    <AlertTip Type="AlertTip.AlertTipType.Blocked"></AlertTip>
                    break;
                case EditState.Normal:
                    <AlertTip Title="编辑关联周边信息" Type="@(Peripheries.Count==0?AlertTip.AlertTipType.Blank: AlertTip.AlertTipType.Editable)" Url="@("/peripheries/EditRelatedPeripheries/" + Id)"></AlertTip>
                    break;
            }
        </div>
    }
    @if (RelatedPeripheriesState == EditState.Preview)
    {
        <div class="pb-1">
            <AlertTip Title="编辑关联周边信息" Type="AlertTip.AlertTipType.preview" Url="@("/peripheries/EditRelatedPeripheries/" + Id)" ExamineType="Operation.EditPeripheryRelatedEntries" OnClickRevoke="OnClickRevoke"></AlertTip>
        </div>
    }
    @if (Type != PeripheryType.Set)
    {
        <div>
            @foreach (var item in Peripheries)
            {
                <div class="mt-2">
                    <CnGalWebSite.Shared.Component.Search.NewVersion.PeripheryInforViewTip Model="item" />
                </div>
            }

        </div>
    }
</div>

@code {
    [Parameter]
    public List<EntryInforTipViewModel> Entries { get; set; } = new List<EntryInforTipViewModel>();
    [Parameter]
    public List<PeripheryInforTipViewModel> Peripheries { get; set; } = new List<PeripheryInforTipViewModel>();

    [Parameter]
    public bool IsEdit { get; set; }
    [Parameter]
    public EditState RelatedEntriesState { get; set; }
    [Parameter]
    public EditState RelatedPeripheriesState { get; set; }
    [Parameter]
    public EventCallback<Operation> OnClickRevoke { get; set; }
    [Parameter]
    public long Id { get; set; }
    [Parameter]
    public PeripheryType Type { get; set; }

}
