@using CnGalWebSite.DataModel.Model

@foreach (var item in Items.Skip(Skip).Take(Take))
{
    var active = ActiveIndex == Items.IndexOf(item);
    <div class="prize-card @(active ? "active" : "")">
        <div>
            @if (string.IsNullOrWhiteSpace(item.Image) == false)
            {
                <div class="image-button-card">
                    <a href="@item.Url" target="_blank" rel="noopener">
                        <img src="@item.Image" alt="@item.Name" loading="lazy" />
                    </a>
                </div>
            }
            <div class="name-card">@($"{item.Name}{(item.Type != ExpoAwardType.NoEntry ? " ×1" : "")}")</div>
        </div>
    </div>
}

@code {
    [Parameter]
    public List<ExpoAwardOverviewModel> Items { get; set; } = [];

    [Parameter]
    public int ActiveIndex { get; set; } = -1;

    [Parameter]
    public int Take { get; set; }

    [Parameter]
    public int Skip { get; set; }
}
