@inject IJSRuntime JS


<MDCard Class="@Class" Outline>
    <CnGalWebSite.Components.Containers.MasaTitleContainer Icon="@IconType.MainPage.ToIconString()" Title="概览" Outline Class="mb-4">
         <ChildContent>
             <CnGalWebSite.Shared.MasaComponent.Shared.Components.Markdown.MarkdownViewTip Text="@Model.EditOverview"/>
         </ChildContent>
     </CnGalWebSite.Components.Containers.MasaTitleContainer>
     @if (string.IsNullOrWhiteSpace(Model.Comments) == false)
    {
        <CnGalWebSite.Components.Containers.MasaTitleContainer Icon="@IconType.Note.ToIconString()" Title="批注" Class="mb-4" Outline>
         <div style=" white-space: break-spaces;">
             @Model.Comments
         </div>
     </CnGalWebSite.Components.Containers.MasaTitleContainer>
    }
    @if (string.IsNullOrWhiteSpace(Model.Note) == false)
    {
        <CnGalWebSite.Components.Containers.MasaTitleContainer Icon="@IconType.Note.ToIconString()" Title="备注" Class="mb-4" Outline>
         <div style=" white-space: break-spaces;">
             @Model.Note
         </div>
     </CnGalWebSite.Components.Containers.MasaTitleContainer>
    }
</MDCard>


@code {
    [Parameter]
    public ExamineViewModel Model { get; set; }
    [Parameter]
    public string Class { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        try
        {
            await JS.InvokeAsync<string>("highlightAllCode");
        }
        catch
        {

        }
    }
}
